# Generating Marathon Data for SQL Practice

This is a Python Jupyter notebook for creating a full mock SQL database of marathon race results with thousands of records. This script simulates a realistic dataset, including both elite and recreational runners, with varied performance data across multiple marathon events. There are several steps to this:

1. **Generate 'Runners' Table** - Randomly generate 1000 runners with names common in their locale/country, together with their birth date and sex.
2. **Generate 'Events' Table** - The 6 Major World marathons (Berlin, Boston, Chicago,London,New York City, Tokyo), with an event per year from 2012 to 2023. 
3. **Generate 'Results' Table** - Gives results for runners in hh:mm:ss format, ensuring there aren't duplicate results for each runner per event. Prevents any results breaking either the male marathon world-record (2:00:35 Eliud Kipchoge 2023) or the female marathon world-record (2:11:53 Brigid Kosgei 2019). Also determines, with a True/False column, if a result is elite by the male standard (below 02:15:00) or the female standard (below 02:30:00).
4. **Generate 'Sponsors' Table** - Lists the following 10 major fitness/sports companies that typically act as sponsors to runners - "Nike", "Adidas", "Asics", "Saucony", "Hoka","Brooks", "New Balance", "Puma", "Under Armour", "Tracksmith". 
5. **Generate 'Sponsored Athletes' Table** - A table listing the fraction of the elite athletes that have a sponsor.
6. **Generate 'Training Plans Descriptions' Table** - The descriptions of 10 different training plans and their respective lengths in weeks. 
7. **Generate 'Training Plans' Table** - The training plans of athletes.

## Import packages

In [5]:
pip install faker

Requirement already satisfied: faker in c:\users\gam55\appdata\local\anaconda3\lib\site-packages (26.3.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\gam55\appdata\local\anaconda3\lib\site-packages (from faker) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\gam55\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install unidecode

Requirement already satisfied: unidecode in c:\users\gam55\appdata\local\anaconda3\lib\site-packages (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import random
from faker import Faker
import datetime
import pandas as pd

In [8]:
fake = Faker()

## Define the records for tables and helper functions

In [10]:
# Helper functions
def random_time():
    """Generate a random marathon finish time"""
    hours = random.randint(2, 5)
    minutes = random.randint(0, 59)
    seconds = random.randint(0, 59)
    return f'{hours:02}:{minutes:02}:{seconds:02}'

In [11]:
# Define the number of records
num_runners = 1000
num_events = 72 #6 marathons over 12 years (2012-23)
num_results = num_runners * num_events

In [12]:
# Define the major marathons and their exact dates
marathons = [
    ("Boston Marathon", [
        "2012-04-16", "2013-04-15", "2014-04-21", "2015-04-20", "2016-04-18",
        "2017-04-17", "2018-04-16", "2019-04-15", "2020-10-11", "2021-10-11",
        "2022-04-18", "2023-04-17"
    ]),
    ("London Marathon", [
        "2012-04-22", "2013-04-21", "2014-04-21", "2015-04-26", "2016-04-24",
        "2017-04-23", "2018-04-22", "2019-04-28", "2020-10-04", "2021-10-03",
        "2022-10-02", "2023-04-23"
    ]),
    ("New York City Marathon", [
        "2012-11-04", "2013-11-03", "2014-11-02", "2015-11-01", "2016-11-06",
        "2017-11-05", "2018-11-04", "2019-11-03", "2020-12-13", "2021-11-07",
        "2022-11-06", "2023-11-05"
    ]),
    ("Berlin Marathon", [
        "2012-09-30", "2013-09-29", "2014-09-28", "2015-09-27", "2016-09-25",
        "2017-09-24", "2018-09-16", "2019-09-29", "2020-09-27", "2021-09-26",
        "2022-09-25", "2023-09-24"
    ]),
    ("Chicago Marathon", [
        "2012-10-07", "2013-10-13", "2014-10-12", "2015-10-11", "2016-10-09",
        "2017-10-08", "2018-10-07", "2019-10-13", "2020-10-11", "2021-10-10",
        "2022-10-09", "2023-10-08"
    ]),
    ("Tokyo Marathon", [
        "2012-02-26", "2013-02-24", "2014-02-23", "2015-02-22", "2016-02-28",
        "2017-02-26", "2018-02-25", "2019-03-03", "2020-03-01", "2021-03-07",
        "2022-03-06", "2023-03-05"
    ])
]

In [13]:
# Define predefined training plan descriptions
training_plan_descriptions = [
    "Beginner Marathon Plan: 16-week build-up",
    "Intermediate Marathon Plan: 12-week build-up",
    "Advanced Marathon Plan: 18-week build-up",
    "Elite Marathon Plan: 24-week build-up",
    "5K to Marathon Transition Plan: 20-week build-up",
    "Half-Marathon to Marathon Plan: 14-week build-up",
    "Strength and Conditioning Focus Plan: 10-week build-up",
    "Speed Work Focus Plan: 12-week build-up",
    "Long Distance Endurance Focus Plan: 22-week build-up",
    "Customized Marathon Plan: 16-week build-up"
]

## Generate Tables

In [15]:
import random
from faker import Faker
from unidecode import unidecode
import re  # Import regular expressions module

# Locale-country map dictionary
locale_country_map = {
    'ar_AE': 'United Arab Emirates',
    'ar_BH': 'Bahrain',
    'ar_EG': 'Egypt',
    'ar_JO': 'Jordan',
    'ar_SA': 'Saudi Arabia',
    'az_AZ': 'Azerbaijan',
    'bg_BG': 'Bulgaria',
    'bn_BD': 'Bangladesh',
    'bs_BA': 'Bosnia and Herzegovina',
    'cs_CZ': 'Czech Republic',
    'da_DK': 'Denmark',
    'de_AT': 'Austria',
    'de_CH': 'Switzerland',
    'de_DE': 'Germany',
    'el_CY': 'Cyprus',
    'el_GR': 'Greece',
    'en_AU': 'Australia',
    'en_CA': 'Canada',
    'en_GB': 'United Kingdom',
    'en_IE': 'Ireland',
    'en_IN': 'India',
    'en_NZ': 'New Zealand',
    'en_PH': 'Philippines',
    'en_US': 'United States',
    'es_AR': 'Argentina',
    'es_CL': 'Chile',
    'es_CO': 'Colombia',
    'es_ES': 'Spain',
    'es_MX': 'Mexico',
    'et_EE': 'Estonia',
    'fa_IR': 'Iran',
    'fi_FI': 'Finland',
    'fr_BE': 'Belgium',
    'fr_CA': 'Canada',
    'fr_CH': 'Switzerland',
    'fr_FR': 'France',
    'ga_IE': 'Ireland',
    'he_IL': 'Israel',
    'hi_IN': 'India',
    'hr_HR': 'Croatia',
    'hu_HU': 'Hungary',
    'hy_AM': 'Armenia',
    'id_ID': 'Indonesia',
    'it_CH': 'Switzerland',
    'it_IT': 'Italy',
    'ja_JP': 'Japan',
    'ka_GE': 'Georgia',
    'ko_KR': 'South Korea',
    'lb_LU': 'Luxembourg',
    'lt_LT': 'Lithuania',
    'lv_LV': 'Latvia',
    'ne_NP': 'Nepal',
    'nl_BE': 'Belgium',
    'nl_NL': 'Netherlands',
    'no_NO': 'Norway',
    'pl_PL': 'Poland',
    'pt_BR': 'Brazil',
    'pt_PT': 'Portugal',
    'ro_RO': 'Romania',
    'ru_RU': 'Russia',
    'sk_SK': 'Slovakia',
    'sl_SI': 'Slovenia',
    'sq_AL': 'Albania',
    'sv_SE': 'Sweden',
    'ta_IN': 'India',
    'th_TH': 'Thailand',
    'tr_TR': 'Turkey',
    'uk_UA': 'Ukraine',
    'vi_VN': 'Vietnam',
    'zh_CN': 'China',
    'zh_TW': 'Taiwan',
    'zu_ZA': 'South Africa'
}


# Function to clean and capitalize names
def clean_and_capitalize(name):
    # Remove unwanted characters using regex
    name = re.sub(r"[^a-zA-Z\s]", "", name)
    # Capitalize the name
    return name.capitalize()

# Generate Runners Table
runners = []
for i in range(1, num_runners + 1):
    # Randomly select a category for each runner
    category = random.choice(['Male', 'Female'])
    
    # Randomly select a locale corresponding to a country
    locale, country = random.choice(list(locale_country_map.items()))
    
    # Create a Faker instance with the selected locale
    localized_fake = Faker(locale)
    
    # Generate the runner's name and transliterate it to standard ASCII characters
    first_name = localized_fake.first_name_male() if category == 'Male' else localized_fake.first_name_female()
    last_name = localized_fake.last_name()

    # Transliterate names to ASCII
    first_name_ascii = unidecode(first_name)
    last_name_ascii = unidecode(last_name)
    
    # Clean and capitalize the names
    first_name_cleaned = clean_and_capitalize(first_name_ascii)
    last_name_cleaned = clean_and_capitalize(last_name_ascii)
    
    # Generate the runner data
    runners.append((
        i,
        first_name_cleaned,
        last_name_cleaned,
        localized_fake.date_of_birth(minimum_age=18, maximum_age=90),
        category,  # Assign the randomly chosen category
        country
    ))

# Example output
for runner in runners[:50]:  # Print first 50 runners
    print(runner)

(1, 'Jost', 'Isler', datetime.date(1965, 1, 1), 'Male', 'Switzerland')
(2, 'Rijvaan', 'Kunnddaa', datetime.date(1969, 1, 15), 'Female', 'India')
(3, 'Lyh', 'Mnshh', datetime.date(1993, 12, 8), 'Female', 'Israel')
(4, 'Sophie', 'Bond', datetime.date(1995, 6, 17), 'Female', 'United Kingdom')
(5, 'Prem', 'Luuthraa', datetime.date(1970, 11, 4), 'Male', 'India')
(6, 'Arpitaa', 'Brmn', datetime.date(2003, 12, 5), 'Female', 'Bangladesh')
(7, 'Barbara', 'Bevc', datetime.date(1956, 10, 23), 'Female', 'Slovenia')
(8, 'Michelle', 'Belanger', datetime.date(1968, 2, 7), 'Female', 'Canada')
(9, 'Crystal', 'Sanders', datetime.date(1983, 3, 15), 'Female', 'Cyprus')
(10, 'Georges', 'Trepanier', datetime.date(1991, 3, 24), 'Male', 'Canada')
(11, 'Kwthr', 'Trkhshwnd', datetime.date(1935, 11, 8), 'Female', 'Iran')
(12, 'Constanze', 'Lagler', datetime.date(1946, 2, 15), 'Female', 'Austria')
(13, 'Kristina', 'Melia', datetime.date(1991, 1, 28), 'Female', 'Ireland')
(14, 'Monica', 'Zuniga', datetime.date(1976, 10, 12), 'Female', 'Chile')
(15, 'Helene', 'Provencher', datetime.date(1945, 4, 14), 'Female', 'Canada')
(16, 'Lawrence', 'Blackburn', datetime.date(1983, 3, 25), 'Male', 'United Kingdom')
(17, 'Miriama', 'Samuelova', datetime.date(2002, 11, 12), 'Female', 'Slovakia')
(18, 'Tristan', 'Chauvin', datetime.date(1964, 1, 2), 'Male', 'France')
(19, 'Jan', 'Van genechten', datetime.date(1950, 5, 21), 'Male', 'Belgium')
(20, 'Sebastien', 'Georges', datetime.date(1950, 12, 14), 'Male', 'Switzerland')
(21, 'Damaris', 'Leunberger', datetime.date(1952, 3, 28), 'Female', 'Switzerland')
(22, 'Zenobia', 'Dumitrescu', datetime.date(1998, 5, 23), 'Female', 'Romania')
(23, 'Miyeong', 'Gim', datetime.date(1989, 6, 4), 'Female', 'South Korea')
(24, 'Jill', 'Smith', datetime.date(1983, 10, 7), 'Female', 'United Kingdom')
(25, 'Kimberly', 'Poole', datetime.date(1947, 4, 1), 'Female', 'Egypt')
(26, 'Katherine', 'Carlson', datetime.date(1952, 7, 13), 'Female', 'Canada')
(27, 'Sylwia', 'Krajniak', datetime.date(1971, 4, 20), 'Female', 'Poland')
(28, 'Jonathan', 'Bruce', datetime.date(1970, 9, 7), 'Male', 'Bahrain')
(29, 'Denis', 'Benesova', datetime.date(1997, 2, 27), 'Male', 'Czech Republic')
(30, 'Christopher', 'James', datetime.date(1955, 8, 9), 'Male', 'Jordan')
(31, 'Sovkt', 'Diloglu', datetime.date(1937, 12, 30), 'Female', 'Azerbaijan')
(32, 'Mnyb', 'Ljfly', datetime.date(2004, 12, 10), 'Male', 'Saudi Arabia')
(33, 'Theresa', 'Turner', datetime.date(1974, 6, 26), 'Female', 'Australia')
(34, 'Xyyam', 'Dagli', datetime.date(1962, 10, 28), 'Male', 'Azerbaijan')
(35, 'Thiago', 'Lopes', datetime.date(1965, 12, 14), 'Male', 'Brazil')
(36, 'Sahinder', 'Safak', datetime.date(1958, 5, 21), 'Female', 'Turkey')
(37, 'Prasiththi', 'Ewiiyngcchanthuek', datetime.date(1979, 1, 17), 'Male', 'Thailand')
(38, 'Maalihaa', 'Aacaaryy', datetime.date(1978, 6, 18), 'Female', 'Bangladesh')
(39, 'Adriana', 'Campos', datetime.date(1990, 9, 16), 'Female', 'Portugal')
(40, 'Cesar', 'Reig', datetime.date(1998, 11, 25), 'Male', 'Spain')
(41, 'Shyr', 'Vzry', datetime.date(2005, 12, 4), 'Female', 'Israel')
(42, 'Shaarmin', 'Praamaanik', datetime.date(1957, 9, 29), 'Female', 'Bangladesh')
(43, 'Jason', 'Brooks', datetime.date(1991, 11, 24), 'Male', 'Cyprus')
(44, 'Janne', 'Sipila', datetime.date(1936, 3, 6), 'Male', 'Finland')
(45, 'Terezija', 'Kokanovic', datetime.date(1973, 3, 1), 'Female', 'Croatia')
(46, 'Praesrith', 'Ophthisaty', datetime.date(1983, 2, 16), 'Male', 'Thailand')
(47, 'Christopher', 'Meister', datetime.date(1952, 7, 14), 'Male', 'Austria')
(48, 'Christina', 'Bowen', datetime.date(1974, 3, 22), 'Female', 'Jordan')
(49, 'Andrej', 'Blazic', datetime.date(2000, 8, 13), 'Male', 'Slovenia')
(50, 'Rolands', 'Kreslina', datetime.date(1995, 8, 13), 'Male', 'Latvia')

In [16]:
print(runners)

[(1, 'Jost', 'Isler', datetime.date(1965, 1, 1), 'Male', 'Switzerland'), (2, 'Rijvaan', 'Kunnddaa', datetime.date(1969, 1, 15), 'Female', 'India'), (3, 'Lyh', 'Mnshh', datetime.date(1993, 12, 8), 'Female', 'Israel'), (4, 'Sophie', 'Bond', datetime.date(1995, 6, 17), 'Female', 'United Kingdom'), (5, 'Prem', 'Luuthraa', datetime.date(1970, 11, 4), 'Male', 'India'), (6, 'Arpitaa', 'Brmn', datetime.date(2003, 12, 5), 'Female', 'Bangladesh'), (7, 'Barbara', 'Bevc', datetime.date(1956, 10, 23), 'Female', 'Slovenia'), (8, 'Michelle', 'Belanger', datetime.date(1968, 2, 7), 'Female', 'Canada'), (9, 'Crystal', 'Sanders', datetime.date(1983, 3, 15), 'Female', 'Cyprus'), (10, 'Georges', 'Trepanier', datetime.date(1991, 3, 24), 'Male', 'Canada'), (11, 'Kwthr', 'Trkhshwnd', datetime.date(1935, 11, 8), 'Female', 'Iran'), (12, 'Constanze', 'Lagler', datetime.date(1946, 2, 15), 'Female', 'Austria'), (13, 'Kristina', 'Melia', datetime.date(1991, 1, 28), 'Female', 'Ireland'), (14, 'Monica', 'Zuniga', datetime.date(1976, 10, 12), 'Female', 'Chile'), (15, 'Helene', 'Provencher', datetime.date(1945, 4, 14), 'Female', 'Canada'), (16, 'Lawrence', 'Blackburn', datetime.date(1983, 3, 25), 'Male', 'United Kingdom'), (17, 'Miriama', 'Samuelova', datetime.date(2002, 11, 12), 'Female', 'Slovakia'), (18, 'Tristan', 'Chauvin', datetime.date(1964, 1, 2), 'Male', 'France'), (19, 'Jan', 'Van genechten', datetime.date(1950, 5, 21), 'Male', 'Belgium'), (20, 'Sebastien', 'Georges', datetime.date(1950, 12, 14), 'Male', 'Switzerland'), (21, 'Damaris', 'Leunberger', datetime.date(1952, 3, 28), 'Female', 'Switzerland'), (22, 'Zenobia', 'Dumitrescu', datetime.date(1998, 5, 23), 'Female', 'Romania'), (23, 'Miyeong', 'Gim', datetime.date(1989, 6, 4), 'Female', 'South Korea'), (24, 'Jill', 'Smith', datetime.date(1983, 10, 7), 'Female', 'United Kingdom'), (25, 'Kimberly', 'Poole', datetime.date(1947, 4, 1), 'Female', 'Egypt'), (26, 'Katherine', 'Carlson', datetime.date(1952, 7, 13), 'Female', 'Canada'), (27, 'Sylwia', 'Krajniak', datetime.date(1971, 4, 20), 'Female', 'Poland'), (28, 'Jonathan', 'Bruce', datetime.date(1970, 9, 7), 'Male', 'Bahrain'), (29, 'Denis', 'Benesova', datetime.date(1997, 2, 27), 'Male', 'Czech Republic'), (30, 'Christopher', 'James', datetime.date(1955, 8, 9), 'Male', 'Jordan'), (31, 'Sovkt', 'Diloglu', datetime.date(1937, 12, 30), 'Female', 'Azerbaijan'), (32, 'Mnyb', 'Ljfly', datetime.date(2004, 12, 10), 'Male', 'Saudi Arabia'), (33, 'Theresa', 'Turner', datetime.date(1974, 6, 26), 'Female', 'Australia'), (34, 'Xyyam', 'Dagli', datetime.date(1962, 10, 28), 'Male', 'Azerbaijan'), (35, 'Thiago', 'Lopes', datetime.date(1965, 12, 14), 'Male', 'Brazil'), (36, 'Sahinder', 'Safak', datetime.date(1958, 5, 21), 'Female', 'Turkey'), (37, 'Prasiththi', 'Ewiiyngcchanthuek', datetime.date(1979, 1, 17), 'Male', 'Thailand'), (38, 'Maalihaa', 'Aacaaryy', datetime.date(1978, 6, 18), 'Female', 'Bangladesh'), (39, 'Adriana', 'Campos', datetime.date(1990, 9, 16), 'Female', 'Portugal'), (40, 'Cesar', 'Reig', datetime.date(1998, 11, 25), 'Male', 'Spain'), (41, 'Shyr', 'Vzry', datetime.date(2005, 12, 4), 'Female', 'Israel'), (42, 'Shaarmin', 'Praamaanik', datetime.date(1957, 9, 29), 'Female', 'Bangladesh'), (43, 'Jason', 'Brooks', datetime.date(1991, 11, 24), 'Male', 'Cyprus'), (44, 'Janne', 'Sipila', datetime.date(1936, 3, 6), 'Male', 'Finland'), (45, 'Terezija', 'Kokanovic', datetime.date(1973, 3, 1), 'Female', 'Croatia'), (46, 'Praesrith', 'Ophthisaty', datetime.date(1983, 2, 16), 'Male', 'Thailand'), (47, 'Christopher', 'Meister', datetime.date(1952, 7, 14), 'Male', 'Austria'), (48, 'Christina', 'Bowen', datetime.date(1974, 3, 22), 'Female', 'Jordan'), (49, 'Andrej', 'Blazic', datetime.date(2000, 8, 13), 'Male', 'Slovenia'), (50, 'Rolands', 'Kreslina', datetime.date(1995, 8, 13), 'Male', 'Latvia'), (51, 'Dennis', 'Proctor', datetime.date(2001, 11, 24), 'Male', 'Bahrain'), (52, 'Carlos', 'Leal', datetime.date(1940, 4, 1), 'Male', 'Chile'), (53, 'Ise', 'Borman', datetime.date(1951, 7, 9), 'Female', 'Netherlands'), (54, 'Maria', 'Bramante', datetime.date(1998, 5, 25), 'Female', 'Italy'), (55, 'Mikhailina', 'Chalii', datetime.date(1985, 1, 16), 'Female', 'Ukraine'), (56, 'Jun ', 'Fu ', datetime.date(1984, 12, 14), 'Male', 'China'), (57, 'Milaa', 'Caudhurii', datetime.date(1940, 2, 27), 'Female', 'Bangladesh'), (58, 'Donatella', 'Costanzi', datetime.date(1937, 10, 19), 'Female', 'Italy'), (59, 'Tiarnan', 'Osweeney', datetime.date(1990, 3, 20), 'Male', 'Ireland'), (60, 'Icchaa', 'Agrvaal', datetime.date(1949, 3, 3), 'Female', 'Nepal'), (61, 'Robert', 'Kristoffersen', datetime.date(1996, 9, 5), 'Male', 'Denmark'), (62, 'Wei ting ', 'Huang ', datetime.date(1974, 1, 19), 'Male', 'Taiwan'), (63, 'Nerijus', 'Gailys', datetime.date(2004, 8, 29), 'Female', 'Lithuania'), (64, 'Margaret', 'Murray', datetime.date(1983, 12, 26), 'Female', 'Luxembourg'), (65, 'Shu juan ', 'Han ', datetime.date(1986, 2, 11), 'Female', 'Taiwan'), (66, 'Hy', 'Lmgwl', datetime.date(1982, 1, 30), 'Female', 'Saudi Arabia'), (67, 'Edgar', 'Hovhannisyan', datetime.date(2003, 8, 6), 'Male', 'Armenia'), (68, 'Mehman', 'Yaqubov', datetime.date(1975, 6, 3), 'Male', 'Azerbaijan'), (69, 'Istvan', 'Juhasz', datetime.date(1964, 11, 22), 'Male', 'Hungary'), (70, 'Frank', 'Jenssen', datetime.date(1947, 7, 14), 'Male', 'Norway'), (71, 'Patrisia', 'Mikayelyan', datetime.date(1968, 3, 19), 'Female', 'Armenia'), (72, 'Kimberly', 'Perry', datetime.date(1937, 11, 18), 'Female', 'Vietnam'), (73, 'Aurelia', 'Tiefenbacher', datetime.date(1953, 7, 22), 'Female', 'Austria'), (74, 'Sayin', 'Ocalan', datetime.date(1966, 2, 2), 'Male', 'Turkey'), (75, 'Shaaon', 'Mjumdaar', datetime.date(1976, 1, 17), 'Male', 'Bangladesh'), (76, 'Zsuzsanna', 'Molnar', datetime.date(1979, 7, 20), 'Female', 'Hungary'), (77, 'Ielisei', 'Zayika', datetime.date(1983, 2, 10), 'Male', 'Ukraine'), (78, 'Sbhn', 'Shbyry', datetime.date(1942, 7, 23), 'Male', 'Iran'), (79, 'Uno', 'Martensson', datetime.date(2005, 5, 16), 'Male', 'Sweden'), (80, 'Anneli', 'Piirainen', datetime.date(1978, 10, 6), 'Female', 'Finland'), (81, 'Elllirrcelvi', 'Cngkukkeaatti', datetime.date(1950, 12, 14), 'Female', 'India'), (82, 'Catherine', 'Ellis', datetime.date(1960, 9, 28), 'Female', 'Bosnia and Herzegovina'), (83, 'Jorge', 'Carrillo', datetime.date(1953, 11, 14), 'Female', 'Mexico'), (84, 'Emiliano', 'Vargas', datetime.date(1969, 3, 9), 'Female', 'Mexico'), (85, 'Ulises', 'Moraleda', datetime.date(1990, 5, 12), 'Male', 'Spain'), (86, 'Armenowhi', 'Paronyan', datetime.date(1961, 7, 6), 'Female', 'Armenia'), (87, 'Bronagh', 'Mac dhonncha', datetime.date(1992, 10, 20), 'Female', 'Ireland'), (88, 'Julie', 'Courvoisier', datetime.date(1946, 2, 1), 'Female', 'Switzerland'), (89, 'Alexia', 'Pinter', datetime.date(1955, 9, 11), 'Female', 'Austria'), (90, 'Carla', 'Hutterer', datetime.date(1955, 4, 3), 'Female', 'Austria'), (91, 'Uliana', 'Semenova', datetime.date(1951, 6, 29), 'Female', 'Russia'), (92, 'Sandra', 'Brown', datetime.date(1978, 6, 16), 'Female', 'Bahrain'), (93, 'Bernard', 'Pecnik', datetime.date(1968, 4, 25), 'Male', 'Slovenia'), (94, 'Tajus', 'Vsiliauskas', datetime.date(1959, 1, 7), 'Male', 'Lithuania'), (95, 'Elisabeth', 'Brisson', datetime.date(1969, 10, 1), 'Female', 'Canada'), (96, 'Jeongsu', 'Mun', datetime.date(1934, 12, 25), 'Male', 'South Korea'), (97, 'Halidun', 'Camurcuoglu', datetime.date(1969, 10, 30), 'Male', 'Turkey'), (98, 'Penelope', 'Dube', datetime.date(2006, 3, 4), 'Female', 'Canada'), (99, 'Zorka', 'Kevo', datetime.date(1945, 6, 13), 'Female', 'Croatia'), (100, 'Michael', 'Wallace', datetime.date(1947, 2, 7), 'Male', 'Australia'), (101, 'Mark', 'Breuer', datetime.date(1980, 9, 11), 'Male', 'Austria'), (102, 'Ditte', 'Knudsen', datetime.date(1947, 10, 23), 'Female', 'Denmark'), (103, 'Diana', 'Marte', datetime.date(1969, 8, 12), 'Female', 'Austria'), (104, 'Margaret', 'Johnson', datetime.date(2001, 4, 11), 'Female', 'Canada'), (105, 'Yeongho', 'Bag', datetime.date(1997, 6, 16), 'Male', 'South Korea'), (106, 'Shshii', 'Joshii', datetime.date(1965, 8, 28), 'Female', 'Nepal'), (107, 'Zumre', 'Sezgin', datetime.date(1961, 2, 18), 'Female', 'Turkey'), (108, 'Ly', 'Rbny', datetime.date(1960, 6, 24), 'Male', 'Iran'), (109, 'Jade', 'Tucker', datetime.date(1935, 12, 22), 'Female', 'Australia'), (110, 'Hugh', 'O ciurtain', datetime.date(1957, 7, 17), 'Male', 'Ireland'), (111, 'Fadil', 'Schmid', datetime.date(1938, 3, 16), 'Male', 'Switzerland'), (112, 'Leyla', 'Eder', datetime.date(1981, 9, 12), 'Female', 'Austria'), (113, 'Jennifer', 'Davis', datetime.date(2001, 11, 7), 'Female', 'Egypt'), (114, 'Chong ', 'Jiang ', datetime.date(1977, 10, 27), 'Male', 'Taiwan'), (115, 'Rastislav', 'Dula', datetime.date(1974, 1, 20), 'Male', 'Slovakia'), (116, 'Galasso', 'Stradivari', datetime.date(1939, 3, 8), 'Male', 'Italy'), (117, 'Callum', 'Godfrey', datetime.date(1993, 11, 30), 'Male', 'United Kingdom'), (118, 'Connie', 'Fadian', datetime.date(1947, 12, 17), 'Female', 'Ireland'), (119, 'Judith', 'Taylor', datetime.date(1960, 3, 26), 'Female', 'United Kingdom'), (120, 'Karel', 'Hruska', datetime.date(1961, 7, 1), 'Male', 'Czech Republic'), (121, 'Telman', 'Gncli', datetime.date(1959, 6, 21), 'Male', 'Azerbaijan'), (122, 'Jennifer', 'English', datetime.date(2005, 6, 15), 'Female', 'Luxembourg'), (123, 'Pierre', 'Lamontagne', datetime.date(1972, 9, 13), 'Male', 'Canada'), (124, 'Leopoldo', 'Hervia', datetime.date(1970, 5, 4), 'Male', 'Spain'), (125, 'Carlos', 'Costa', datetime.date(1935, 7, 4), 'Male', 'Portugal'), (126, 'Vmr', 'Khna', datetime.date(1996, 6, 15), 'Male', 'Israel'), (127, 'Nebiha', 'Demirel', datetime.date(1984, 4, 4), 'Female', 'Turkey'), (128, 'Lukas', 'Ambrasas', datetime.date(1940, 2, 28), 'Female', 'Lithuania'), (129, 'Vesna', 'Bukovec', datetime.date(1992, 10, 20), 'Female', 'Slovenia'), (130, 'Jose', 'Fernandez', datetime.date(1960, 3, 17), 'Male', 'Chile'), (131, 'Pkumaannnynnn', 'Uttv', datetime.date(1974, 10, 5), 'Male', 'India'), (132, 'Cabir', 'Eraslan', datetime.date(1948, 7, 15), 'Male', 'Turkey'), (133, 'Stella', 'Cardona', datetime.date(1980, 3, 10), 'Female', 'Colombia'), (134, 'Bhr', 'Ldbg', datetime.date(2001, 7, 4), 'Female', 'Saudi Arabia'), (135, 'Rachael', 'Smith', datetime.date(1985, 9, 15), 'Female', 'Albania'), (136, 'Kirgiz', 'Erdogan', datetime.date(1968, 11, 19), 'Male', 'Turkey'), (137, 'Slbhiyaa', 'Shresstth', datetime.date(1945, 8, 4), 'Female', 'Nepal'), (138, 'Chokpaa', 'Daahaal', datetime.date(1969, 5, 8), 'Female', 'Nepal'), (139, 'Anibal', 'Muro', datetime.date(1975, 4, 6), 'Male', 'Spain'), (140, 'Marko', 'Ignatjev', datetime.date(2001, 8, 15), 'Male', 'Estonia'), (141, 'Marijana', 'Putinja', datetime.date(1968, 5, 11), 'Female', 'Croatia'), (142, 'Myriam', 'Seiler', datetime.date(1997, 1, 24), 'Female', 'Switzerland'), (143, 'Plinio', 'Sarabia', datetime.date(1969, 1, 15), 'Male', 'Spain'), (144, 'Emma', 'Romero', datetime.date(1988, 2, 7), 'Female', 'Argentina'), (145, 'Marika', 'Palova', datetime.date(1987, 4, 4), 'Female', 'Slovakia'), (146, 'Ultan', 'Mac neill', datetime.date(1943, 8, 1), 'Male', 'Ireland'), (147, 'Jennifer', 'Jackson', datetime.date(1975, 11, 14), 'Female', 'United Arab Emirates'), (148, 'Monika', 'Podnieks', datetime.date(1946, 1, 26), 'Female', 'Latvia'), (149, 'Maria jose', 'Nieves', datetime.date(1954, 2, 7), 'Female', 'Mexico'), (150, 'Ellen', 'De meyer', datetime.date(1940, 12, 19), 'Female', 'Belgium'), (151, 'Cheng han ', 'Sun ', datetime.date(1997, 9, 6), 'Male', 'Taiwan'), (152, 'Alvine', 'Dumins', datetime.date(1984, 6, 2), 'Female', 'Latvia'), (153, 'Aristea', 'Kaboures', datetime.date(1935, 11, 29), 'Female', 'Greece'), (154, 'Charlene', 'Fox', datetime.date(1955, 8, 5), 'Female', 'Canada'), (155, 'Robert', 'Booth', datetime.date(1936, 4, 11), 'Male', 'Vietnam'), (156, 'Rebecca', 'Martinez', datetime.date(1945, 8, 16), 'Female', 'Luxembourg'), (157, 'Raffaello', 'Sibilia', datetime.date(1966, 2, 8), 'Male', 'Italy'), (158, 'Juan', 'Washington', datetime.date(1966, 4, 1), 'Male', 'United States'), (159, 'Galina', 'Panov', datetime.date(1942, 9, 13), 'Female', 'Estonia'), (160, 'Aaphsaanaa', 'Poddaar', datetime.date(1937, 6, 21), 'Female', 'Bangladesh'), (161, 'Josue', 'Bueno', datetime.date(1972, 6, 25), 'Male', 'Spain'), (162, 'Morgan', 'Lopez', datetime.date(1940, 9, 26), 'Female', 'Switzerland'), (163, 'Sara', 'Smith', datetime.date(2001, 3, 29), 'Female', 'Luxembourg'), (164, 'Busisiwe', 'Ngiba', datetime.date(1935, 3, 26), 'Female', 'South Africa'), (165, 'Svenning', 'Frederiksen', datetime.date(1982, 7, 6), 'Male', 'Denmark'), (166, 'Agamusa', 'Vlizad', datetime.date(1971, 6, 3), 'Male', 'Azerbaijan'), (167, 'Sofia', 'Benitez', datetime.date(1947, 6, 13), 'Female', 'Argentina'), (168, 'Andrej', 'Geyer', datetime.date(1981, 10, 30), 'Male', 'Austria'), (169, 'Tara', 'Mcfarland', datetime.date(1938, 4, 8), 'Female', 'United States'), (170, 'Aariyaa', 'Taalukdaar', datetime.date(1953, 3, 8), 'Female', 'Bangladesh'), (171, 'Rosalie', 'Martin', datetime.date(1969, 5, 17), 'Female', 'Canada'), (172, 'Gustavo', 'Montenegro', datetime.date(1953, 8, 26), 'Male', 'Brazil'), (173, 'Irina', 'Vahtra', datetime.date(1956, 7, 17), 'Female', 'Estonia'), (174, 'Aatityaa', 'Ssmpu', datetime.date(1975, 2, 18), 'Male', 'India'), (175, 'Matias', 'Rojas', datetime.date(1945, 9, 23), 'Male', 'Chile'), (176, 'Zoe', 'Tomescu', datetime.date(1934, 8, 16), 'Female', 'Romania'), (177, 'Minjun', 'I', datetime.date(2005, 1, 5), 'Male', 'South Korea'), (178, 'Yi ', 'Shan tian ', datetime.date(1946, 10, 31), 'Male', 'Japan'), (179, 'Rui', 'Tavares', datetime.date(1991, 9, 21), 'Male', 'Portugal'), (180, 'Vaidas', 'Povilonis', datetime.date(1997, 4, 25), 'Male', 'Lithuania'), (181, 'Divyansh', 'Bakshi', datetime.date(2004, 12, 15), 'Female', 'India'), (182, 'Eva', 'Toth', datetime.date(1986, 3, 1), 'Female', 'Hungary'), (183, 'Mareks', 'Abolins', datetime.date(1984, 12, 19), 'Male', 'Latvia'), (184, 'Julia', 'Gomez', datetime.date(1997, 6, 22), 'Female', 'Argentina'), (185, 'Luka', 'Kerekovic', datetime.date(1948, 10, 21), 'Male', 'Croatia'), (186, 'Joshua', 'Edwards', datetime.date(1981, 12, 19), 'Male', 'Bosnia and Herzegovina'), (187, 'Jane', 'Paffrath', datetime.date(2004, 3, 11), 'Female', 'Germany'), (188, 'Iscan', 'Alemdar', datetime.date(1992, 5, 29), 'Male', 'Turkey'), (189, 'Bt shb', 'Rvzntl', datetime.date(1990, 5, 14), 'Female', 'Israel'), (190, 'Genaro', 'Maldonado', datetime.date(1990, 8, 2), 'Male', 'Argentina'), (191, 'Janine', 'Rodgers', datetime.date(1978, 5, 2), 'Female', 'New Zealand'), (192, 'Brian', 'Sawyer', datetime.date(1980, 7, 26), 'Male', 'Canada'), (193, 'Christopher', 'Stuart', datetime.date(1988, 12, 29), 'Male', 'New Zealand'), (194, 'Max', 'Blake', datetime.date(1977, 7, 8), 'Male', 'New Zealand'), (195, 'Joshua', 'Morgan', datetime.date(1996, 12, 4), 'Male', 'Bahrain'), (196, 'Swgnd', 'Qyly', datetime.date(1952, 5, 17), 'Female', 'Iran'), (197, 'Danna', 'Davidenko', datetime.date(1999, 8, 9), 'Female', 'Ukraine'), (198, 'Apostolia', 'Kuriakopoulou', datetime.date(1969, 7, 25), 'Female', 'Greece'), (199, 'Radoslaw', 'Sklorz', datetime.date(1948, 4, 6), 'Male', 'Poland'), (200, 'Yu ', 'Pan ', datetime.date(1989, 2, 23), 'Female', 'China'), (201, 'Adriana', 'Cardenas', datetime.date(1962, 4, 1), 'Female', 'Colombia'), (202, 'Hilmar', 'Tasche', datetime.date(1952, 9, 23), 'Male', 'Germany'), (203, 'Azucena', 'Palmer', datetime.date(2004, 6, 26), 'Female', 'Spain'), (204, 'Elizabeth', 'Fitzgerald', datetime.date(1971, 12, 23), 'Female', 'Vietnam'), (205, 'Saadat', 'Budiyanto', datetime.date(1988, 4, 21), 'Male', 'Indonesia'), (206, 'Theresa', 'Sullivan', datetime.date(1938, 1, 13), 'Female', 'Bahrain'), (207, 'Loreto', 'Rovira', datetime.date(1985, 3, 26), 'Female', 'Spain'), (208, 'Srinyaa', 'Elisking', datetime.date(1969, 9, 18), 'Female', 'Thailand'), (209, 'Xin yi ', 'Zhu ', datetime.date(1987, 2, 14), 'Male', 'Taiwan'), (210, 'Nznyn zhr', 'Srmy', datetime.date(1993, 6, 16), 'Female', 'Iran'), (211, 'Finn', 'Oleary', datetime.date(1938, 6, 9), 'Male', 'New Zealand'), (212, 'Tiit', 'Sillaots', datetime.date(1980, 6, 26), 'Male', 'Estonia'), (213, 'Klara', 'Dybal', datetime.date(1950, 11, 19), 'Female', 'Poland'), (214, 'Valeriu', 'Albu', datetime.date(1946, 9, 8), 'Male', 'Romania'), (215, 'Veronique', 'Moreau', datetime.date(1948, 9, 29), 'Female', 'Belgium'), (216, 'Geonu', 'Gang', datetime.date(1991, 10, 16), 'Male', 'South Korea'), (217, 'Petter', 'Gundersen', datetime.date(1974, 11, 8), 'Male', 'Norway'), (218, 'Gulselin', 'Ergul', datetime.date(1985, 5, 30), 'Female', 'Turkey'), (219, 'Katherine', 'Wood', datetime.date(1980, 4, 12), 'Female', 'Bosnia and Herzegovina'), (220, 'Rjitaa', 'Mhrjn', datetime.date(1949, 12, 3), 'Female', 'Nepal'), (221, 'Elena', 'Vlassov', datetime.date(2002, 3, 15), 'Female', 'Estonia'), (222, 'Izabela', 'Poliakova', datetime.date(1948, 9, 14), 'Female', 'Slovakia'), (223, 'Craig', 'Allen', datetime.date(1981, 5, 12), 'Male', 'Egypt'), (224, 'Svenja', 'Hunziker', datetime.date(1987, 8, 6), 'Female', 'Switzerland'), (225, 'Brian', 'Jones', datetime.date(2004, 2, 21), 'Male', 'Egypt'), (226, 'Christina', 'Martinez', datetime.date(1970, 11, 27), 'Female', 'Australia'), (227, 'Sirje', 'Kaur', datetime.date(1950, 4, 27), 'Female', 'Estonia'), (228, 'Shekhr', 'Uddin', datetime.date(1971, 11, 2), 'Male', 'Bangladesh'), (229, 'Stephanie', 'Simpson', datetime.date(1939, 12, 2), 'Female', 'Bahrain'), (230, 'Aurelija', 'Kairys', datetime.date(1991, 7, 21), 'Male', 'Lithuania'), (231, 'Endre', 'Papp', datetime.date(1940, 9, 6), 'Male', 'Hungary'), (232, 'Leticia', 'Lucero', datetime.date(1963, 9, 5), 'Male', 'Mexico'), (233, 'Carrie', 'Scott', datetime.date(2004, 11, 24), 'Female', 'Bosnia and Herzegovina'), (234, 'Melle', 'Vermeulen', datetime.date(1938, 9, 10), 'Male', 'Netherlands'), (235, 'Chirag', 'Jha', datetime.date(1939, 2, 23), 'Female', 'India'), (236, 'Liubov', 'Blinov', datetime.date(1998, 9, 18), 'Female', 'Russia'), (237, 'Ghani', 'Kurniawan', datetime.date(2000, 11, 26), 'Male', 'Indonesia'), (238, 'Anikaa', 'Mdn', datetime.date(1974, 5, 30), 'Female', 'India'), (239, 'Stefanie', 'Eberl', datetime.date(1981, 5, 8), 'Female', 'Austria'), (240, 'Roger', 'Nyman', datetime.date(1944, 8, 27), 'Male', 'Sweden'), (241, 'Ann', 'Cole', datetime.date(1994, 6, 5), 'Female', 'Luxembourg'), (242, 'Barbara', 'Garcia', datetime.date(1958, 10, 25), 'Female', 'Egypt'), (243, 'Anton', 'Strinavic', datetime.date(1936, 12, 20), 'Male', 'Croatia'), (244, 'Franz', 'Bosshard', datetime.date(1973, 5, 27), 'Male', 'Switzerland'), (245, 'Virginia', 'Black', datetime.date(1947, 1, 28), 'Female', 'United Arab Emirates'), (246, 'Ludvik', 'Holubova', datetime.date(1985, 6, 29), 'Male', 'Czech Republic'), (247, 'Alois', 'Jarosova', datetime.date(1935, 6, 1), 'Male', 'Czech Republic'), (248, 'St', 'Al wd', datetime.date(1973, 3, 14), 'Male', 'Saudi Arabia'), (249, 'Dnyl', 'Nwbkhty', datetime.date(1948, 5, 17), 'Male', 'Iran'), (250, 'Robert', 'Rayner', datetime.date(1947, 9, 17), 'Male', 'New Zealand'), (251, 'Lennart', 'Persson', datetime.date(1962, 5, 28), 'Male', 'Sweden'), (252, 'Marjaana', 'Kuisma', datetime.date(1946, 6, 12), 'Female', 'Finland'), (253, 'Susan', 'Jenkins', datetime.date(1972, 4, 30), 'Female', 'Canada'), (254, 'Andrew', 'Hicks', datetime.date(1980, 1, 13), 'Male', 'United Arab Emirates'), (255, 'Sonia', 'Monte', datetime.date(1944, 11, 6), 'Female', 'Italy'), (256, 'Aabu', 'Byaanaarji', datetime.date(1940, 8, 3), 'Male', 'Bangladesh'), (257, 'Mary', 'Contreras', datetime.date(1985, 10, 21), 'Female', 'Luxembourg'), (258, 'Mlyk', 'Hshmy', datetime.date(1948, 1, 24), 'Female', 'Iran'), (259, 'Leif', 'Lund', datetime.date(1951, 5, 11), 'Male', 'Denmark'), (260, 'Erakles', 'Karkaletse', datetime.date(1954, 4, 10), 'Male', 'Greece'), (261, 'Rqsan', 'Abbaszad', datetime.date(1990, 8, 19), 'Female', 'Azerbaijan'), (262, 'Don', 'Hamilton', datetime.d

In [17]:
unique_countries = set(runner[5] for runner in runners)
print("Unique countries:", unique_countries)

Unique countries: {'Ireland', 'Chile', 'France', 'Egypt', 'Brazil', 'Slovenia', 'Iran', 'Netherlands', 'Bulgaria', 'South Korea', 'Denmark', 'Italy', 'Armenia', 'Lithuania', 'United Kingdom', 'Albania', 'Canada', 'Vietnam', 'Finland', 'Thailand', 'China', 'Bosnia and Herzegovina', 'Australia', 'Azerbaijan', 'Hungary', 'Bahrain', 'Israel', 'Germany', 'Saudi Arabia', 'Austria', 'New Zealand', 'Spain', 'Czech Republic', 'Russia', 'Japan', 'Portugal', 'Ukraine', 'Slovakia', 'Mexico', 'Luxembourg', 'Croatia', 'Estonia', 'Greece', 'India', 'Belgium', 'United Arab Emirates', 'Cyprus', 'Romania', 'Bangladesh', 'Switzerland', 'Taiwan', 'Turkey', 'Nepal', 'United States', 'Argentina', 'Indonesia', 'Georgia', 'Latvia', 'Poland', 'South Africa', 'Philippines', 'Colombia', 'Sweden', 'Jordan', 'Norway'}

In [18]:
print(runners[:10])

[(1, 'Jost', 'Isler', datetime.date(1965, 1, 1), 'Male', 'Switzerland'), (2, 'Rijvaan', 'Kunnddaa', datetime.date(1969, 1, 15), 'Female', 'India'), (3, 'Lyh', 'Mnshh', datetime.date(1993, 12, 8), 'Female', 'Israel'), (4, 'Sophie', 'Bond', datetime.date(1995, 6, 17), 'Female', 'United Kingdom'), (5, 'Prem', 'Luuthraa', datetime.date(1970, 11, 4), 'Male', 'India'), (6, 'Arpitaa', 'Brmn', datetime.date(2003, 12, 5), 'Female', 'Bangladesh'), (7, 'Barbara', 'Bevc', datetime.date(1956, 10, 23), 'Female', 'Slovenia'), (8, 'Michelle', 'Belanger', datetime.date(1968, 2, 7), 'Female', 'Canada'), (9, 'Crystal', 'Sanders', datetime.date(1983, 3, 15), 'Female', 'Cyprus'), (10, 'Georges', 'Trepanier', datetime.date(1991, 3, 24), 'Male', 'Canada')]

In [19]:
runners_countries = runners[5]
print(runners_countries)

(6, 'Arpitaa', 'Brmn', datetime.date(2003, 12, 5), 'Female', 'Bangladesh')

In [20]:
# Generate Events Table
events = []
event_id = 1
for marathon_name, dates in marathons:
    for event_date in dates:
        events.append((
            event_id,
            marathon_name,
            datetime.datetime.strptime(event_date, "%Y-%m-%d").date()  # Ensure event_date is a datetime.date object 
        ))
        event_id += 1

In [21]:
print(events)

[(1, 'Boston Marathon', datetime.date(2012, 4, 16)), (2, 'Boston Marathon', datetime.date(2013, 4, 15)), (3, 'Boston Marathon', datetime.date(2014, 4, 21)), (4, 'Boston Marathon', datetime.date(2015, 4, 20)), (5, 'Boston Marathon', datetime.date(2016, 4, 18)), (6, 'Boston Marathon', datetime.date(2017, 4, 17)), (7, 'Boston Marathon', datetime.date(2018, 4, 16)), (8, 'Boston Marathon', datetime.date(2019, 4, 15)), (9, 'Boston Marathon', datetime.date(2020, 10, 11)), (10, 'Boston Marathon', datetime.date(2021, 10, 11)), (11, 'Boston Marathon', datetime.date(2022, 4, 18)), (12, 'Boston Marathon', datetime.date(2023, 4, 17)), (13, 'London Marathon', datetime.date(2012, 4, 22)), (14, 'London Marathon', datetime.date(2013, 4, 21)), (15, 'London Marathon', datetime.date(2014, 4, 21)), (16, 'London Marathon', datetime.date(2015, 4, 26)), (17, 'London Marathon', datetime.date(2016, 4, 24)), (18, 'London Marathon', datetime.date(2017, 4, 23)), (19, 'London Marathon', datetime.date(2018, 4, 22)), (20, 'London Marathon', datetime.date(2019, 4, 28)), (21, 'London Marathon', datetime.date(2020, 10, 4)), (22, 'London Marathon', datetime.date(2021, 10, 3)), (23, 'London Marathon', datetime.date(2022, 10, 2)), (24, 'London Marathon', datetime.date(2023, 4, 23)), (25, 'New York City Marathon', datetime.date(2012, 11, 4)), (26, 'New York City Marathon', datetime.date(2013, 11, 3)), (27, 'New York City Marathon', datetime.date(2014, 11, 2)), (28, 'New York City Marathon', datetime.date(2015, 11, 1)), (29, 'New York City Marathon', datetime.date(2016, 11, 6)), (30, 'New York City Marathon', datetime.date(2017, 11, 5)), (31, 'New York City Marathon', datetime.date(2018, 11, 4)), (32, 'New York City Marathon', datetime.date(2019, 11, 3)), (33, 'New York City Marathon', datetime.date(2020, 12, 13)), (34, 'New York City Marathon', datetime.date(2021, 11, 7)), (35, 'New York City Marathon', datetime.date(2022, 11, 6)), (36, 'New York City Marathon', datetime.date(2023, 11, 5)), (37, 'Berlin Marathon', datetime.date(2012, 9, 30)), (38, 'Berlin Marathon', datetime.date(2013, 9, 29)), (39, 'Berlin Marathon', datetime.date(2014, 9, 28)), (40, 'Berlin Marathon', datetime.date(2015, 9, 27)), (41, 'Berlin Marathon', datetime.date(2016, 9, 25)), (42, 'Berlin Marathon', datetime.date(2017, 9, 24)), (43, 'Berlin Marathon', datetime.date(2018, 9, 16)), (44, 'Berlin Marathon', datetime.date(2019, 9, 29)), (45, 'Berlin Marathon', datetime.date(2020, 9, 27)), (46, 'Berlin Marathon', datetime.date(2021, 9, 26)), (47, 'Berlin Marathon', datetime.date(2022, 9, 25)), (48, 'Berlin Marathon', datetime.date(2023, 9, 24)), (49, 'Chicago Marathon', datetime.date(2012, 10, 7)), (50, 'Chicago Marathon', datetime.date(2013, 10, 13)), (51, 'Chicago Marathon', datetime.date(2014, 10, 12)), (52, 'Chicago Marathon', datetime.date(2015, 10, 11)), (53, 'Chicago Marathon', datetime.date(2016, 10, 9)), (54, 'Chicago Marathon', datetime.date(2017, 10, 8)), (55, 'Chicago Marathon', datetime.date(2018, 10, 7)), (56, 'Chicago Marathon', datetime.date(2019, 10, 13)), (57, 'Chicago Marathon', datetime.date(2020, 10, 11)), (58, 'Chicago Marathon', datetime.date(2021, 10, 10)), (59, 'Chicago Marathon', datetime.date(2022, 10, 9)), (60, 'Chicago Marathon', datetime.date(2023, 10, 8)), (61, 'Tokyo Marathon', datetime.date(2012, 2, 26)), (62, 'Tokyo Marathon', datetime.date(2013, 2, 24)), (63, 'Tokyo Marathon', datetime.date(2014, 2, 23)), (64, 'Tokyo Marathon', datetime.date(2015, 2, 22)), (65, 'Tokyo Marathon', datetime.date(2016, 2, 28)), (66, 'Tokyo Marathon', datetime.date(2017, 2, 26)), (67, 'Tokyo Marathon', datetime.date(2018, 2, 25)), (68, 'Tokyo Marathon', datetime.date(2019, 3, 3)), (69, 'Tokyo Marathon', datetime.date(2020, 3, 1)), (70, 'Tokyo Marathon', datetime.date(2021, 3, 7)), (71, 'Tokyo Marathon', datetime.date(2022, 3, 6)), (72, 'Tokyo Marathon', datetime.date(2023, 3, 5))]

In [22]:
# Generate Results Table
results = []
assigned_pairs = set()  # Set to keep track of assigned (runner_id, event_id) pairs

In [23]:
# World record times in hours: minutes: seconds
mens_world_record = 2 + 0 + 35/3600  # 2:00:35 Eliud Kipchoge Marathon 2023 WR 
womens_world_record = 2 + 11/60 + 53/3600  # 2:11:53 Brigid Kosgei 2019 WR

# Initialize variables
assigned_pairs = set()  # To track unique (runner_id, event_id) pairs
results = []  # List to store results

# Randomly select 100 unique runner IDs to be elite
elite_runner_ids = set(random.sample(range(1, num_runners + 1), 100))

for i in range(1, num_results + 1):
    # Limit the number of attempts to find a unique (runner_id, event_id) pair
    attempts = 0
    max_attempts = 100  # Adjust this number as needed
    unique_pair_found = False
    
    while attempts < max_attempts:
        runner_id = random.randint(1, num_runners)
        event_id = random.randint(1, num_events)  # Randomly select an event_id from all events
        
        if (runner_id, event_id) not in assigned_pairs:
            assigned_pairs.add((runner_id, event_id))  # Record the (runner_id, event_id) pair
            unique_pair_found = True
            break
        
        attempts += 1
    
    if not unique_pair_found:
        print(f"Could not find a unique (runner_id, event_id) pair after {max_attempts} attempts. Exiting loop.")
        break
    
    # Get the runner details
    runner = next(r for r in runners if r[0] == runner_id)
    finish_time = random_time()  # Ensure this function returns a string in 'HH:MM:SS' format
    category = runner[4]  # Use the runner's category from the runners table
    is_elite = 'False'
    
    # Convert finish_time to hours (float)
    hours = int(finish_time[:2]) + int(finish_time[3:5])/60 + int(finish_time[6:])/3600  # Assumes 'HH:MM:SS' format
    
    # Adjust finish time if it breaks the world record
    if category == 'Male' and hours < mens_world_record:
        finish_time = "02:01:10"  # Slightly slower than the men's world record
    elif category == 'Female' and hours < womens_world_record:
        finish_time = "02:11:54"  # Slightly slower than the women's world record
    
    # Determine if the runner's finish time is elite, but only for pre-selected elite runners
    if runner_id in elite_runner_ids:
        if category == 'Male' and hours < 2.15:
            is_elite = 'True'
        elif category == 'Female' and hours < 2.30:
            is_elite = 'True'
    
    results.append((
        i,
        event_id,
        runner_id,
        finish_time,
        category,
        is_elite
    ))

Could not find a unique (runner_id, event_id) pair after 100 attempts. Exiting loop.

In [24]:
# Check results
for result in results[:1000]:
    print(result[:1000])

(1, 3, 177, '04:21:55', 'Male', 'False')
(2, 70, 584, '04:16:32', 'Female', 'False')
(3, 68, 790, '05:34:30', 'Female', 'False')
(4, 10, 120, '02:05:17', 'Male', 'True')
(5, 36, 702, '04:21:19', 'Male', 'False')
(6, 31, 277, '05:04:01', 'Male', 'False')
(7, 66, 755, '04:27:48', 'Male', 'False')
(8, 38, 743, '02:10:13', 'Male', 'False')
(9, 21, 157, '05:40:26', 'Male', 'False')
(10, 56, 909, '05:37:54', 'Male', 'False')
(11, 39, 88, '03:29:02', 'Female', 'False')
(12, 9, 779, '05:33:42', 'Female', 'False')
(13, 29, 733, '02:23:08', 'Male', 'False')
(14, 55, 146, '04:59:34', 'Male', 'False')
(15, 30, 783, '02:15:31', 'Female', 'False')
(16, 31, 416, '02:20:10', 'Female', 'False')
(17, 43, 597, '05:59:18', 'Male', 'False')
(18, 5, 268, '04:00:14', 'Female', 'False')
(19, 16, 698, '04:36:45', 'Female', 'False')
(20, 3, 600, '02:10:03', 'Male', 'False')
(21, 57, 490, '02:20:59', 'Female', 'False')
(22, 8, 193, '05:11:25', 'Male', 'False')
(23, 34, 328, '03:36:45', 'Female', 'False')
(24, 70, 358, '03:14:33', 'Male', 'False')
(25, 19, 740, '02:44:41', 'Male', 'False')
(26, 28, 257, '02:11:54', 'Female', 'False')
(27, 1, 533, '04:07:44', 'Male', 'False')
(28, 9, 115, '05:11:25', 'Male', 'False')
(29, 72, 582, '03:54:12', 'Female', 'False')
(30, 17, 511, '03:52:15', 'Female', 'False')
(31, 67, 875, '03:31:11', 'Female', 'False')
(32, 34, 483, '03:30:08', 'Male', 'False')
(33, 10, 911, '05:13:12', 'Male', 'False')
(34, 13, 215, '03:11:38', 'Female', 'False')
(35, 1, 599, '04:42:24', 'Male', 'False')
(36, 15, 973, '05:10:55', 'Male', 'False')
(37, 21, 253, '02:28:43', 'Female', 'False')
(38, 51, 745, '04:08:09', 'Female', 'False')
(39, 64, 364, '03:34:28', 'Male', 'False')
(40, 41, 790, '03:05:28', 'Female', 'False')
(41, 46, 538, '05:48:06', 'Male', 'False')
(42, 70, 744, '03:48:18', 'Female', 'False')
(43, 13, 67, '03:28:10', 'Male', 'False')
(44, 32, 108, '03:43:36', 'Male', 'False')
(45, 10, 944, '02:19:23', 'Female', 'False')
(46, 51, 753, '02:54:28', 'Male', 'False')
(47, 3, 634, '03:07:31', 'Male', 'False')
(48, 21, 626, '02:34:19', 'Male', 'False')
(49, 43, 38, '02:38:07', 'Female', 'False')
(50, 43, 876, '02:29:52', 'Female', 'False')
(51, 22, 167, '05:36:50', 'Female', 'False')
(52, 42, 881, '05:07:12', 'Male', 'False')
(53, 31, 959, '03:52:21', 'Female', 'False')
(54, 72, 104, '02:12:55', 'Female', 'False')
(55, 47, 747, '02:19:04', 'Female', 'False')
(56, 31, 594, '02:43:36', 'Male', 'False')
(57, 62, 287, '04:51:45', 'Female', 'False')
(58, 70, 928, '04:26:21', 'Female', 'False')
(59, 72, 279, '02:11:54', 'Female', 'False')
(60, 59, 146, '05:31:34', 'Male', 'False')
(61, 47, 57, '04:44:45', 'Female', 'False')
(62, 8, 777, '03:22:02', 'Female', 'False')
(63, 4, 833, '05:14:42', 'Male', 'False')
(64, 40, 329, '04:03:30', 'Female', 'False')
(65, 24, 94, '03:47:36', 'Male', 'False')
(66, 10, 952, '05:38:32', 'Female', 'False')
(67, 39, 10, '02:52:34', 'Male', 'False')
(68, 17, 115, '04:47:03', 'Male', 'False')
(69, 42, 267, '04:31:31', 'Female', 'False')
(70, 59, 165, '05:46:17', 'Male', 'False')
(71, 44, 555, '03:58:48', 'Male', 'False')
(72, 62, 809, '04:23:06', 'Female', 'False')
(73, 39, 131, '02:20:40', 'Male', 'False')
(74, 24, 894, '02:28:40', 'Male', 'False')
(75, 69, 348, '05:02:10', 'Male', 'False')
(76, 52, 456, '02:41:43', 'Female', 'False')
(77, 61, 888, '04:43:30', 'Female', 'False')
(78, 69, 869, '03:25:58', 'Female', 'False')
(79, 9, 275, '05:10:26', 'Female', 'False')
(80, 43, 383, '04:40:00', 'Female', 'False')
(81, 21, 143, '04:16:41', 'Male', 'False')
(82, 9, 410, '04:54:17', 'Male', 'False')
(83, 16, 152, '05:05:02', 'Female', 'False')
(84, 57, 462, '02:45:26', 'Male', 'False')
(85, 14, 461, '04:39:25', 'Female', 'False')
(86, 45, 625, '05:38:20', 'Female', 'False')
(87, 38, 529, '04:10:26', 'Female', 'False')
(88, 51, 79, '05:19:27', 'Male', 'False')
(89, 37, 855, '04:45:29', 'Female', 'False')
(90, 41, 729, '04:50:10', 'Male', 'False')
(91, 43, 939, '04:07:51', 'Female', 'False')
(92, 65, 752, '04:32:22', 'Female', 'False')
(93, 41, 224, '03:32:13', 'Female', 'False')
(94, 45, 592, '04:37:32', 'Male', 'False')
(95, 64, 487, '03:19:48', 'Male', 'False')
(96, 2, 562, '02:16:34', 'Female', 'False')
(97, 39, 858, '04:23:53', 'Female', 'False')
(98, 32, 691, '05:28:01', 'Male', 'False')
(99, 44, 446, '03:55:03', 'Female', 'False')
(100, 67, 653, '03:42:40', 'Female', 'False')
(101, 48, 212, '02:18:10', 'Male', 'False')
(102, 49, 43, '03:48:31', 'Male', 'False')
(103, 8, 890, '03:10:21', 'Male', 'False')
(104, 37, 732, '02:29:52', 'Male', 'False')
(105, 45, 721, '02:53:18', 'Male', 'False')
(106, 49, 184, '03:08:24', 'Female', 'False')
(107, 46, 882, '04:58:49', 'Female', 'False')
(108, 43, 845, '03:40:18', 'Female', 'False')
(109, 51, 185, '02:29:10', 'Male', 'False')
(110, 14, 42, '04:47:03', 'Female', 'False')
(111, 10, 456, '02:46:36', 'Female', 'False')
(112, 45, 292, '04:22:59', 'Male', 'False')
(113, 21, 643, '05:51:58', 'Female', 'False')
(114, 7, 444, '03:03:00', 'Male', 'False')
(115, 3, 391, '02:56:06', 'Male', 'False')
(116, 72, 281, '04:21:56', 'Female', 'False')
(117, 17, 921, '05:11:26', 'Male', 'False')
(118, 38, 991, '02:45:58', 'Male', 'False')
(119, 9, 225, '05:23:57', 'Male', 'False')
(120, 36, 43, '02:59:41', 'Male', 'False')
(121, 53, 159, '04:08:02', 'Female', 'False')
(122, 23, 473, '05:54:00', 'Male', 'False')
(123, 17, 946, '03:48:56', 'Female', 'False')
(124, 31, 83, '02:51:22', 'Female', 'False')
(125, 7, 222, '03:52:05', 'Female', 'False')
(126, 64, 879, '05:06:28', 'Female', 'False')
(127, 23, 479, '05:31:57', 'Female', 'False')
(128, 70, 979, '05:33:19', 'Male', 'False')
(129, 45, 119, '03:27:42', 'Female', 'False')
(130, 32, 356, '05:15:38', 'Female', 'False')
(131, 15, 685, '05:22:04', 'Male', 'False')
(132, 51, 513, '03:18:55', 'Male', 'False')
(133, 49, 11, '02:55:59', 'Female', 'False')
(134, 55, 751, '03:58:59', 'Male', 'False')
(135, 47, 296, '03:58:00', 'Female', 'False')
(136, 39, 428, '05:16:21', 'Female', 'False')
(137, 11, 418, '05:17:44', 'Female', 'False')
(138, 5, 801, '02:28:11', 'Male', 'False')
(139, 19, 461, '04:44:17', 'Female', 'False')
(140, 48, 974, '04:53:38', 'Male', 'False')
(141, 40, 728, '05:36:53', 'Male', 'False')
(142, 24, 732, '03:46:51', 'Male', 'False')
(143, 67, 342, '03:06:39', 'Male', 'False')
(144, 51, 75, '03:50:41', 'Male', 'False')
(145, 23, 345, '05:28:10', 'Male', 'False')
(146, 33, 422, '05:58:39', 'Female', 'False')
(147, 9, 924, '04:19:26', 'Female', 'False')
(148, 38, 37, '04:56:46', 'Male', 'False')
(149, 66, 329, '05:44:08', 'Female', 'False')
(150, 11, 11, '04:37:19', 'Female', 'False')
(151, 35, 545, '03:53:04', 'Male', 'False')
(152, 48, 202, '03:02:12', 'Male', 'False')
(153, 20, 267, '05:57:40', 'Female', 'False')
(154, 12, 780, '02:52:26', 'Female', 'False')
(155, 49, 226, '03:27:50', 'Female', 'False')
(156, 32, 332, '02:36:41', 'Male', 'False')
(157, 40, 999, '02:35:57', 'Male', 'False')
(158, 8, 829, '04:36:50', 'Male', 'False')
(159, 33, 125, '05:24:31', 'Male', 'False')
(160, 66, 977, '04:58:27', 'Female', 'False')
(161, 62, 612, '03:05:53', 'Female', 'False')
(162, 55, 947, '04:17:14', 'Female', 'False')
(163, 3, 303, '05:42:02', 'Female', 'False')
(164, 33, 655, '02:32:55', 'Male', 'False')
(165, 64, 290, '03:23:37', 'Female', 'False')
(166, 44, 965, '05:16:03', 'Female', 'False')
(167, 19, 242, '04:30:04', 'Female', 'False')
(168, 63, 124, '02:09:42', 'Male', 'False')
(169, 10, 752, '04:55:07', 'Female', 'False')
(170, 70, 754, '02:44:23', 'Female', 'False')
(171, 69, 657, '03:41:49', 'Female', 'False')
(172, 29, 490, '02:21:20', 'Female', 'False')
(173, 35, 274, '03:30:02', 'Female', 'False')
(174, 16, 78, '05:39:37', 'Male', 'False')
(175, 12, 103, '02:13:51', 'Female', 'True')
(176, 68, 116, '04:14:30', 'Male', 'False')
(177, 21, 617, '04:56:28', 'Male', 'False')
(178, 35, 775, '03:21:05', 'Male', 'False')
(179, 51, 644, '03:54:18', 'Male', 'False')
(180, 65, 324, '04:16:07', 'Male', 'False')
(181, 39, 967, '04:48:33', 'Male', 'False')
(182, 3, 349, '03:12:40', 'Male', 'False')
(183, 15, 871, '03:41:04', 'Male', 'False')
(184, 65, 479, '02:43:41', 'Female', 'False')
(185, 2, 819, '04:59:41', 'Female', 'False')
(186, 20, 450, '05:10:38', 'Female', 'False')
(187, 63, 830, '03:19:58', 'Female', 'False')
(188, 21, 564, '04:20:47', 'Female', 'False')
(189, 53, 98, '05:32:46', 'Female', 'False')
(190, 2, 637, '04:40:14', 'Female', 'False')
(191, 8, 220, '04:42:41', 'Female', 'False')
(192, 55, 825, '05:07:04', 'Female', 'False')
(193, 30, 132, '03:02:53', 'Male', 'False')
(194, 2, 7, '04:14:01', 'Female', 'False')
(195, 48, 903, '02:57:57', 'Male', 'False')
(196, 3, 228, '05:50:40', 'Male', 'False')
(197, 43, 108, '05:07:10', 'Male', 'False')
(198, 35, 622, '05:51:54', 'Female', 'False')
(199, 64, 866, '04:49:25', 'Male', 'False')
(200, 16, 598, '05:04:15', 'Male', 'False')
(201, 15, 568, '02:15:06', 'Female', 'False')
(202, 17, 180, '05:24:11', 'Male', 'False')
(203, 12, 987, '05:11:35', 'Male', 'False')
(204, 41, 814, '02:48:52', 'Female', 'False')
(205, 52, 647, '05:39:29', 'Female', 'False')
(206, 55, 745, '04:40:21', 'Female', 'False')
(207, 23, 878, '02:25:34', 'Male', 'False')
(208, 25, 309, '02:17:30', 'Male', 'False')
(209, 42, 584, '05:49:19', 'Female', 'False')
(210, 66, 686, '03:58:31', 'Male', 'False')
(211, 45, 260, '02:45:41', 'Male', 'False')
(212, 38, 262, '03:40:03', 'Male', 'False')
(213, 9, 9, '05:39:16', 'Female', 'False')
(214, 35, 777, '05:18:49', 'Female', 'False')
(215, 33, 542, '02:11:54', 'Female', 'False')
(216, 2, 117, '02:01:10', 'Male', 'False')
(217, 7, 401, '05:56:59', 'Male', 'False')
(218, 16, 938, '02:17:37', 'Male', 'False')
(219, 40, 87, '05:11:13', 'Female', 'False')
(220, 56, 795, '02:36:39', 'Male', 'False')
(221, 44, 753, '05:06:34', 'Male', 'False')
(222, 4, 575, '02:13:45', 'Male', 'False')
(223, 42, 693, '04:48:00', 'Female', 'False')
(224, 36, 751, '04:11:55', 'Male', 'False')
(225, 60, 667, '04:21:21', 'Male', 'False')
(226, 10, 528, '02:58:12', 'Female', 'False')
(227, 51, 822, '04:49:49', 'Male', 'False')
(228, 41, 427, '04:30:33', 'Female', 'False')
(229, 67, 868, '04:47:41', 'Female', 'False')
(230, 56, 346, '03:34:11', 'Male', 'False')
(231, 27, 140, '03:38:26', 'Male', 'False')
(232, 6, 185, '03:26:49', 'Male', 'False')
(233, 43, 256, '04:47:54', 'Male', 'False')
(234, 51, 322, '03:02:33', 'Female', 'False')
(235, 1, 124, '05:20:53', 'Male', 'False')
(236, 4, 410, '02:07:58', 'Male', 'False')
(237, 1, 205, '03:32:15', 'Male', 'False')
(238, 1, 777, '05:42:50', 'Female', 'False')
(239, 3, 670, '02:48:50', 'Female', 'False')
(240, 58, 613, '04:16:42', 'Male', 'False')
(241, 7, 757, '04:40:41', 'Male', 'False')
(242, 22, 137, '02:45:54', 'Female', 'False')
(243, 14, 937, '05:22:43', 'Female', 'False')
(244, 13, 27, '05:08:41', 'Female', 'False')
(245, 51, 765, '03:41:47', 'Male', 'False')
(246, 64, 106, '04:47:44', 'Female', 'False')
(247, 44, 747, '04:41:34', 'Female', 'False')
(248, 60, 701, '03:58:54', 'Male', 'False')
(249, 8, 200, '05:17:36', 'Female', 'False')
(250, 62, 54, '02:41:22', 'Female', 'False')
(251, 13, 389, '05:26:26', 'Male', 'False')
(252, 10, 977, '05:05:48', 'Female', 'False')
(253, 71, 774, '03:33:37', 'Male', 'False')
(254, 39, 593, '05:58:04', 'Male', 'False')
(255, 64, 755, '02:51:30', 'Male', 'False')
(256, 2, 425, '04:24:14', 'Female', 'False')
(257, 14, 138, '03:51:43', 'Female', 'False')
(258, 52, 856, '05:12:48', 'Female', 'False')
(259, 22, 298, '04:21:01', 'Male', 'False')
(260, 33, 181, '04:07:25', 'Female', 'False')
(261, 51, 401, '04:20:26', 'Male', 'False')
(262, 52, 39, '02:19:26', 'Female', 'False')
(263, 2, 489, '03:49:08', 'Female', 'False')
(264, 62, 784, '03:54:08', 'Male', 'False')
(265, 11, 278, '04:31:39', 'Male', 'False')
(266, 44, 317, '03:58:48', 'Female', 'False')
(267, 56, 261, '04:12:11', 'Female', 'False')
(268, 61, 181, '02:37:31', 'Female', 'False')
(269, 65, 911, '02:50:53', 'Male', 'False')
(270, 41, 758, '04:23:25', 'Male', 'False')
(271, 30, 767, '04:22:18', 'Male', 'False')
(272, 42, 588, '05:16:30', 'Male', 'False')
(273, 32, 887, '04:19:33', 'Female', 'False')
(274, 66, 72, '04:22:55', 'Female', 'False')
(275, 34, 864, '03:35:34', 'Male', 'False')
(276, 39, 479, '02:11:54', 'Female', 'False')
(277, 43, 412, '03:04:28', 'Male', 'False')
(278, 63, 907, '05:16:43', 'Male', 'False')
(279, 29, 8, '03:10:50', 'Female', 'False')
(280, 12, 8, '04:06:05', 'Female', 'False')
(281, 13, 53, '05:52:55', 'Female', 'False')
(282, 58, 582, '03:57:06', 'Female', 'False')
(283, 48, 232, '05:48:11', 'Male', 'False')
(284, 35, 718, '03:53:11', 'Female', 'False')
(285, 28, 251, '02:31:00', 'Male', 'False')
(286, 8, 308, '05:11:11', 'Female', 'False')
(287, 27, 273, '05:50:46', 'Female', 'False')
(288, 67, 748, '03:29:39', 'Male', 'False')
(289, 68, 728, '04:14:52', 'Male', 'False')
(290, 16, 614, '03:42:11', 'Female', 'False')
(291, 59, 534, '04:50:17', 'Male', 'False')
(292, 20, 658, '04:55:51', 'Female', 'False')
(293, 1, 136, '03:13:23', 'Male', 'False')
(294, 14, 984, '03:50:06', 'Female', 'False')
(295, 40, 386, '04:52:06', 'Male', 'False')
(296, 30, 418, '02:11:54', 'Female', 'False')
(297, 25, 73, '05:43:25', 'Female', 'False')
(298, 24, 407, '04:29:40', 'Male', 'False')
(299, 34, 277, '04:50:09', 'Male', 'False')
(300, 5, 291, '04:08:00', 'Female', 'False')
(301, 29, 618, '02:51:39', 'Male', 'False')
(302, 72, 194, '05:30:22', 'Male', 'False')
(303, 71, 997, '03:52:08', 'Male', 'False')
(304, 4, 549, '03:50:52', 'Female', 'False')
(305, 34, 623, '03:38:25', 'Female', 'False')
(306, 1, 747, '05:43:15', 'Female', 'False')
(307, 58, 538, '04:15:39', 'Male', 'False')
(308, 49, 297, '03:44:17', 'Male', 'False')
(309, 64, 166, '05:37:03', 'Male', 'False')
(310, 17, 29, '05:10:08', 'Male', 'False')
(311, 37, 130, '04:23:04', 'Male', 'False')
(312, 27, 863, '05:37:56', 'Female', 'False')
(313, 44, 157, '05:50:34', 'Male', 'False')
(314, 37, 291, '04:48:36', 'Female', 'False')
(315, 32, 573, '04:10:02', 'Male', 'False')
(316, 59, 746, '05:44:53', 'Female', 'False')
(317, 14, 643, '05:04:22', 'Female', 'False')
(318, 20, 822, '02:13:59', 'Male', 'False')
(319, 33, 700, '04:45:38', 'Female', 'False')
(320, 6, 829, '03:50:44', 'Male', 'False')
(321, 38, 939, '03:16:57', 'Female', 'False')
(322, 70, 351, '05:37:06', 'Male', 'False')
(323, 63, 3, '02:28:43', 'Female', 'False')
(324, 2, 714, '03:44:31', 'Female', 'False')
(325, 7, 229, '04:44:17', 'Female', 'False')
(326, 23, 636, '03:55:10', 'Female', 'False')
(327, 44, 646, '04:57:39', 'Male', 'False')
(328, 72, 716, '03:07:22', 'Male', 'False')
(329, 58, 71, '02:51:52', 'Female', 'False')
(330, 40, 83, '02:22:52', 'Female', 'False')
(331, 1, 385, '04:19:27', 'Male', 'False')
(332, 39, 922, '04:14:21', 'Male', 'False')
(333, 46, 289, '04:23:21', 'Male', 'False')
(334, 72, 217, '02:40:53', 'Male', 'False')
(335, 2, 444, '03:48:30', 'Male', 'False')
(336, 49, 24, '05:42:57', 'Female', 'False')
(337, 52, 242, '02:11:54', 'Female', 'False')
(338, 17, 390, '04:03:54', 'Female', 'False')
(339, 52, 400, '02:57:47', 'Female', 'False')
(340, 40, 852, '03:42:13', 'Female', 'False')
(341, 3, 187, '02:13:22', 'Female', 'False')
(342, 41, 673, '02:36:23', 'Male', 'False')
(343, 66, 127, '04:42:36', 'Female', 'False')
(344, 5, 141, '03:00:39', 'Female', 'False')
(345, 42, 917, '03:55:59', 'Male', 'False')
(346, 67, 723, '04:44:57', 'Male', 'False')
(347, 30, 380, '05:29:09', 'Female', 'False')
(348, 19, 431, '05:47:44', 'Female', 'False')
(349, 34, 788, '04:42:21', 'Female', 'False')
(350, 3, 818, '05:58:37', 'Female', 'False')
(351, 66, 953, '05:59:14', 'Male', 'False')
(352, 4, 830, '04:44:56', 'Female', 'False')
(353, 19, 646, '02:42:29', 'Male', 'False')
(354, 1, 481, '05:34:54', 'Male', 'False')
(355, 67, 760, '04:08:48', 'Female', 'False')
(356, 13, 904, '02:14:27', 'Female', 'False')
(357, 57, 421, '02:27:44', 'Female', 'False')
(358, 67, 1, '04:22:19', 'Male', 'False')
(359, 44, 275, '04:52:33', 'Female', 'False')
(360, 3, 998, '04:56:31', 'Male', 'False')
(361, 68, 112, '03:55:03', 'Female', 'False')
(362, 65, 609, '04:27:50', 'Female', 'False')
(363, 15, 627, '03:51:01', 'Male', 'False')
(364, 23, 115, '02:25:44', 'Male', 'False')
(365, 16, 617, '05:34:18', 'Male', 'False')
(366, 22, 895, '05:35:01', 'Female', 'False')
(367, 42, 612, '02:32:07', 'Female', 'False')
(368, 42, 269, '04:21:59', 'Female', 'False')
(369, 65, 899, '02:12:06', 'Male', 'False')
(370, 11, 295, '05:07:49', 'Male', 'False')
(371, 40, 192, '05:47:44', 'Male', 'False')
(372, 30, 75, '03:29:55', 'Male', 'False')
(373, 69, 112, '03:15:53', 'Female', 'False')
(374, 38, 329, '04:10:16', 'Female', 'False')
(375, 47, 467, '03:44:42', 'Female', 'False')
(376, 41, 121, '03:02:29', 'Male', 'False')
(377, 15, 158, '05:34:45', 'Male', 'False')
(378, 66, 655, '05:14:07', 'Male', 'False')
(379, 72, 877, '04:26:19', 'Female', 'False')
(380, 4, 126, '03:21:03', 'Male', 'False')
(381, 49, 145, '02:45:22', 'Female', 'False')
(382, 22, 611, '05:24:01', 'Male', 'False')
(383, 60, 62, '03:05:36', 'Male', 'False')
(384, 64, 931, '05:32:17', 'Female', 'False')
(385, 64, 178, '04:21:00', 'Male', 'False')
(386, 41, 947, '02:23:15', 'Female', 'False')
(387, 10, 934, '05:25:54', 'Male', 'False')
(388, 43, 539, '04:49:46', 'Male', 'False')
(389, 69, 956, '03:40:04', 'Female', 'False')
(390, 62, 815, '02:41:32', 'Female', 'False')
(391, 43, 611, '02:16:55', 'Male', 'False')
(392, 64, 858, '02:30:48', 'Female', 'False')
(393, 33, 296, '05:56:04', 'Female', 'False')
(394, 38, 74, '04:08:29', 'Male', 'False')
(395, 16, 575, '02:18:44', 'Male', 'False')
(396, 23, 224, '03:06:19', 'Female', 'False')
(397, 11, 269, '04:09:40', 'Female', 'False')
(398, 25, 173, '04:19:58', 'Female', 'False')
(399, 65, 205, '03:40:07', 'Male', 'False')
(400, 36, 766, '03:42:51', 'Male', 'False')
(401, 10, 57, '05:10:08', 'Female', 'False')
(402, 32, 130, '02:18:57', 'Male', 'False')
(403, 7, 529, '02:16:22', 'Female', 'False')
(404, 20, 8, '02:59:21', 'Female', 'False')
(405, 54, 449, '03:26:54', 'Female', 'False')
(406, 61, 396, '04:30:17', 'Female', 'False')
(407, 6, 507, '04:28:47', 'Female', 'False')
(408, 61, 825, '05:01:42', 'Female', 'False')
(409, 36, 939, '03:32:29', 'Female', 'False')
(410, 44, 701, '03:21:47', 'Male', 'False')
(411, 25, 832, '03:32:17', 'Male', 'False')
(412, 2, 78, '03:08:56', 'Male', 'False')
(413, 72, 780, '04:31:51', 'Female', 'False')
(414, 21, 123, '03:39:32', 'Male', 'False')
(415, 62, 3, '05:37:46', 'Female', 'False')
(416, 59, 773, '03:42:47', 'Female', 'False')
(417, 38, 391, '05:19:44', 'Male', 'False')
(418, 64, 491, '02:55:17', 'Female', 'False')
(419, 52, 812, '04:47:40', 'Female', 'False')
(420, 33, 80, '04:07:52', 'Female', 'False')
(421, 46, 51, '05:19:18', 'Male', 'False')
(422, 4, 454, '05:48:00', 'Female', 'False')
(423, 20, 608, '04:31:23', 'Male', 'False')
(424, 34, 492, '05:20:31', 'Female', 'False')
(425, 17, 951, '02:27:02', 'Male', 'False')
(426, 54, 931, '05:08:51', 'Female', 'False')
(427, 6, 609, '03:08:13', 'Female', 'False')
(428, 22, 685, '04:16:37', 'Male', 'False')
(429, 13, 862, '02:08:27', 'Male', 'False')
(430, 53, 902, '05:51:55', 'Female', 'False')
(431, 57, 24, '05:08:05', 'Female', 'False')
(432, 40, 246, '02:10:39', 'Male', 'False')
(433, 27, 709, '05:10:20', 'Male', 'False')
(434, 33, 267, '04:26:41', 'Female', 'False')
(435, 50, 705, '04:03:27', 'Male', 'False')
(436, 72, 212, '03:32:02', 'Male', 'False')
(437, 58, 986, '03:45:11', 'Male', 'False')
(438, 54, 888, '03:54:05', 'Female', 'False')
(439, 66, 603, '04:09:36', 'Female', 'False')
(440, 18, 473, '05:47:19', 'Male', 'False')
(441, 63, 92, '05:43:12', 'Female', 'False')
(442, 65, 447, '04:34:58', 'Female', 'False')
(443, 47, 144, '05:34:51', 'Female', 'False')
(444, 3, 881, '05:21:39', 'Male', 'False')
(445, 16, 22, '03:03:19', 'Female', 'False')
(446, 71, 532, '02:34:03', 'Male', 'False')
(447, 8, 75, '05:57:26', 'Male', 'False')
(448, 33, 908, '03:29:54', 'Female', 'False')
(449, 71, 504, '05:12:25', 'Female', 'False')

In [25]:
# Verify that no runner has participated in the same event more than once
duplicates = [(runner_id, event_id) for (runner_id, event_id) in assigned_pairs]
if len(duplicates) != len(assigned_pairs):
    print("Error: A runner has participated in the same event more than once.")
else:
    print("Verification passed: No runner has participated in the same event more than once.")

Verification passed: No runner has participated in the same event more than once.

In [26]:
# Identify elite runners based on the 'results' table
elite_runners = [runner_id for _, _, runner_id, _, _, is_elite in results if is_elite == 'True']

In [27]:
print(elite_runners)
len(elite_runners)

[120, 103, 994, 674, 673, 274, 521, 708, 701, 750, 804, 380, 357, 126, 320, 985, 804, 436, 115, 58, 178, 253, 605, 219, 76, 687, 87, 429, 173, 714, 708, 674, 690, 178, 847, 462, 205, 848, 652, 620, 787, 103, 634, 173, 265, 801, 211, 512, 509, 378, 458, 620, 150, 159, 721, 274, 484, 708, 883, 210, 178, 150, 855, 714, 265, 422, 546, 320, 322, 173, 422, 808, 509, 357, 762, 848, 721, 150, 87, 675, 87, 847, 772, 429, 150, 750, 76, 488, 512, 484, 173, 999, 274, 855, 883, 913, 530, 843, 675, 150, 118, 925, 714, 623, 801, 58, 620, 913, 367, 484, 877, 512, 422, 173, 448, 378, 546, 159, 253, 683, 154, 994, 322, 76, 789, 103, 429, 999, 367, 512, 253, 49, 224, 674, 883, 789, 847, 843, 128, 683, 714, 804, 58, 87, 701, 883, 320, 322, 365, 687, 765, 843, 735, 253, 789, 877, 422, 115, 808, 365, 877, 808, 913, 219, 219, 150, 69, 126, 173, 765, 855, 546, 383, 615, 76, 714, 714, 687, 432, 159, 583, 750, 772, 687, 804, 322, 462, 509, 913, 300, 58, 913, 877, 432, 765, 422, 847, 546, 847, 793, 219, 436, 380, 210, 750, 877, 593, 765, 462, 787, 120, 260, 211, 787, 847, 365, 765, 448, 855, 357, 431, 383, 855, 76, 458, 87, 714, 365, 365, 211, 735, 583, 765, 300, 605, 378, 471, 488, 735, 128, 708, 365, 458, 73, 260, 30, 762, 219, 848, 265, 787, 87, 814, 804, 274, 615, 721, 804, 422, 471, 687, 687, 365, 103, 365, 521, 808, 458, 173, 750, 365, 847, 210, 380, 847, 675, 322, 509, 620, 520, 154, 674, 210, 368, 673, 674, 804, 429, 76, 274, 652, 436, 378, 985, 620, 847, 721, 701, 383, 58, 265, 615, 721, 801, 634, 512, 772, 883, 210, 877, 432, 877, 383, 253, 787, 488, 509, 219, 432, 652, 126, 521, 58, 848, 855, 804, 789, 675, 877, 848, 652, 76, 58, 708, 150, 509, 765, 150, 913, 211, 750, 115, 128, 383, 30, 320, 69, 154, 173, 814, 851, 178, 615, 103, 735, 804, 224]

357

In [28]:
from collections import Counter

# Identify elite runners based on the 'results' table
elite_runners = [runner_id for _, _, runner_id, _, _, is_elite in results if is_elite == 'True']

# Use Counter to count the occurrences of each runner_id
elite_runner_counts = Counter(elite_runners)

# Sort by the count in descending order
sorted_elite_runners = sorted(elite_runner_counts.items(), key=lambda x: x[1], reverse=True)

# Print the sorted results
for runner_id, count in sorted_elite_runners:
    print(f"Runner ID {runner_id} appears {count} times as an elite runner.")

Runner ID 804 appears 9 times as an elite runner.
Runner ID 847 appears 9 times as an elite runner.
Runner ID 365 appears 9 times as an elite runner.
Runner ID 173 appears 8 times as an elite runner.
Runner ID 150 appears 8 times as an elite runner.
Runner ID 877 appears 8 times as an elite runner.
Runner ID 58 appears 7 times as an elite runner.
Runner ID 76 appears 7 times as an elite runner.
Runner ID 714 appears 7 times as an elite runner.
Runner ID 765 appears 7 times as an elite runner.
Runner ID 750 appears 6 times as an elite runner.
Runner ID 219 appears 6 times as an elite runner.
Runner ID 687 appears 6 times as an elite runner.
Runner ID 87 appears 6 times as an elite runner.
Runner ID 509 appears 6 times as an elite runner.
Runner ID 855 appears 6 times as an elite runner.
Runner ID 422 appears 6 times as an elite runner.
Runner ID 913 appears 6 times as an elite runner.
Runner ID 103 appears 5 times as an elite runner.
Runner ID 674 appears 5 times as an elite runner.
Runner ID 274 appears 5 times as an elite runner.
Runner ID 708 appears 5 times as an elite runner.
Runner ID 253 appears 5 times as an elite runner.
Runner ID 848 appears 5 times as an elite runner.
Runner ID 620 appears 5 times as an elite runner.
Runner ID 787 appears 5 times as an elite runner.
Runner ID 512 appears 5 times as an elite runner.
Runner ID 721 appears 5 times as an elite runner.
Runner ID 883 appears 5 times as an elite runner.
Runner ID 210 appears 5 times as an elite runner.
Runner ID 322 appears 5 times as an elite runner.
Runner ID 383 appears 5 times as an elite runner.
Runner ID 320 appears 4 times as an elite runner.
Runner ID 178 appears 4 times as an elite runner.
Runner ID 429 appears 4 times as an elite runner.
Runner ID 652 appears 4 times as an elite runner.
Runner ID 265 appears 4 times as an elite runner.
Runner ID 211 appears 4 times as an elite runner.
Runner ID 378 appears 4 times as an elite runner.
Runner ID 458 appears 4 times as an elite runner.
Runner ID 546 appears 4 times as an elite runner.
Runner ID 808 appears 4 times as an elite runner.
Runner ID 675 appears 4 times as an elite runner.
Runner ID 789 appears 4 times as an elite runner.
Runner ID 735 appears 4 times as an elite runner.
Runner ID 615 appears 4 times as an elite runner.
Runner ID 432 appears 4 times as an elite runner.
Runner ID 521 appears 3 times as an elite runner.
Runner ID 701 appears 3 times as an elite runner.
Runner ID 380 appears 3 times as an elite runner.
Runner ID 357 appears 3 times as an elite runner.
Runner ID 126 appears 3 times as an elite runner.
Runner ID 436 appears 3 times as an elite runner.
Runner ID 115 appears 3 times as an elite runner.
Runner ID 462 appears 3 times as an elite runner.
Runner ID 801 appears 3 times as an elite runner.
Runner ID 159 appears 3 times as an elite runner.
Runner ID 484 appears 3 times as an elite runner.
Runner ID 772 appears 3 times as an elite runner.
Runner ID 488 appears 3 times as an elite runner.
Runner ID 843 appears 3 times as an elite runner.
Runner ID 154 appears 3 times as an elite runner.
Runner ID 128 appears 3 times as an elite runner.
Runner ID 120 appears 2 times as an elite runner.
Runner ID 994 appears 2 times as an elite runner.
Runner ID 673 appears 2 times as an elite runner.
Runner ID 985 appears 2 times as an elite runner.
Runner ID 605 appears 2 times as an elite runner.
Runner ID 634 appears 2 times as an elite runner.
Runner ID 762 appears 2 times as an elite runner.
Runner ID 999 appears 2 times as an elite runner.
Runner ID 367 appears 2 times as an elite runner.
Runner ID 448 appears 2 times as an elite runner.
Runner ID 683 appears 2 times as an elite runner.
Runner ID 224 appears 2 times as an elite runner.
Runner ID 69 appears 2 times as an elite runner.
Runner ID 583 appears 2 times as an elite runner.
Runner ID 300 appears 2 times as an elite runner.
Runner ID 260 appears 2 times as an elite runner.
Runner ID 471 appears 2 times as an elite runner.
Runner ID 30 appears 2 times as an elite runner.
Runner ID 814 appears 2 times as an elite runner.
Runner ID 690 appears 1 times as an elite runner.
Runner ID 205 appears 1 times as an elite runner.
Runner ID 530 appears 1 times as an elite runner.
Runner ID 118 appears 1 times as an elite runner.
Runner ID 925 appears 1 times as an elite runner.
Runner ID 623 appears 1 times as an elite runner.
Runner ID 49 appears 1 times as an elite runner.
Runner ID 793 appears 1 times as an elite runner.
Runner ID 593 appears 1 times as an elite runner.
Runner ID 431 appears 1 times as an elite runner.
Runner ID 73 appears 1 times as an elite runner.
Runner ID 520 appears 1 times as an elite runner.
Runner ID 368 appears 1 times as an elite runner.
Runner ID 851 appears 1 times as an elite runner.

In [29]:
# Extract unique elite runner IDs by converting to a set
elite_runners = list(set(runner_id for _, _, runner_id, _, _, is_elite in results if is_elite == 'True'))

In [30]:
print(elite_runners)
len(elite_runners)

[512, 520, 521, 530, 30, 546, 49, 58, 69, 583, 73, 76, 593, 87, 605, 103, 615, 620, 623, 115, 118, 120, 634, 126, 128, 652, 150, 154, 159, 673, 674, 675, 683, 173, 687, 178, 690, 701, 708, 714, 205, 721, 210, 211, 219, 735, 224, 750, 762, 253, 765, 772, 260, 265, 274, 787, 789, 793, 801, 804, 808, 300, 814, 320, 322, 843, 847, 848, 851, 855, 357, 877, 365, 367, 368, 883, 378, 380, 383, 913, 925, 422, 429, 431, 432, 436, 448, 458, 462, 471, 985, 994, 484, 999, 488, 509]

96

In [31]:
# Generate Sponsors Table 
sponsors = [
    "Nike", "Adidas", "Asics", "Saucony", "Hoka",
    "Brooks", "New Balance", "Puma", "Under Armour", "Tracksmith"
]

# Select 50% of elite runners to have sponsors
sponsored_runners = random.sample(elite_runners, len(elite_runners) // 2)

# Generate Sponsors Athletes Table
sponsored_athletes = []
used_sponsors = set()  # To keep track of assigned sponsors

for i, runner_id in enumerate(sponsored_runners, start=1):
    sponsor_name = random.choice(sponsors)
    
    # Ensure the runner doesn't already have a sponsor
    while runner_id in used_sponsors:
        runner_id = random.choice(sponsored_runners)
    
    sponsored_athletes.append((
        i,
        sponsor_name,
        runner_id
    ))
    
    # Mark this runner as having a sponsor
    used_sponsors.add(runner_id)

# Verification code to check if any runner appears more than once
runner_ids = [data[2] for data in sponsored_athletes]
duplicate_runners = set([runner_id for runner_id in runner_ids if runner_ids.count(runner_id) > 1])

if len(duplicate_runners) == 0:
    print("Verification Passed: No runner appears more than once in the sponsors table.")
else:
    print(f"Verification Failed: The following runners have multiple sponsors: {duplicate_runners}")

Verification Passed: No runner appears more than once in the sponsors table.

In [32]:
print(sponsored_athletes)

[(1, 'Nike', 173), (2, 'New Balance', 615), (3, 'Saucony', 260), (4, 'Saucony', 103), (5, 'Adidas', 652), (6, 'Saucony', 843), (7, 'Puma', 620), (8, 'Under Armour', 178), (9, 'Saucony', 605), (10, 'New Balance', 583), (11, 'Brooks', 804), (12, 'Puma', 913), (13, 'Puma', 750), (14, 'Nike', 150), (15, 'Under Armour', 322), (16, 'New Balance', 808), (17, 'Under Armour', 120), (18, 'New Balance', 154), (19, 'Adidas', 378), (20, 'Puma', 30), (21, 'Nike', 509), (22, 'Hoka', 772), (23, 'Nike', 69), (24, 'Nike', 205), (25, 'Brooks', 814), (26, 'Under Armour', 847), (27, 'Nike', 674), (28, 'Asics', 883), (29, 'Asics', 380), (30, 'Saucony', 367), (31, 'Saucony', 49), (32, 'Puma', 925), (33, 'Adidas', 210), (34, 'Asics', 87), (35, 'Hoka', 432), (36, 'Hoka', 789), (37, 'Adidas', 520), (38, 'New Balance', 224), (39, 'Saucony', 877), (40, 'Puma', 368), (41, 'Saucony', 448), (42, 'Tracksmith', 793), (43, 'Puma', 985), (44, 'Adidas', 422), (45, 'Brooks', 762), (46, 'Puma', 787), (47, 'New Balance', 484), (48, 'Under Armour', 76)]

In [33]:
# Generate Sponsors Table
sponsors = [
    (1, "Nike"),
    (2, "Adidas"),
    (3, "Asics"),
    (4, "Saucony"),
    (5, "Hoka"),
    (6, "Brooks"),
    (7, "New Balance"),
    (8, "Puma"),
    (9, "Under Armour"),
    (10, "Tracksmith")
]
print(sponsors)

[(1, 'Nike'), (2, 'Adidas'), (3, 'Asics'), (4, 'Saucony'), (5, 'Hoka'), (6, 'Brooks'), (7, 'New Balance'), (8, 'Puma'), (9, 'Under Armour'), (10, 'Tracksmith')]

In [34]:
training_plan_durations = {
    "Beginner Marathon Plan: 16-week build-up": 16,
    "Intermediate Marathon Plan: 12-week build-up": 12,
    "Advanced Marathon Plan: 18-week build-up": 18,
    "Elite Marathon Plan: 24-week build-up": 24,
    "5K to Marathon Transition Plan: 20-week build-up": 20,
    "Half-Marathon to Marathon Plan: 14-week build-up": 14,
    "Strength and Conditioning Focus Plan: 10-week build-up": 10,
    "Speed Work Focus Plan: 12-week build-up": 12,
    "Long Distance Endurance Focus Plan: 22-week build-up": 22,
    "Customized Marathon Plan: 16-week build-up": 16
}

In [35]:
# Generate Training Plan Descriptions Table
training_plan_descriptions_table = []
plan_id = 1

for plan_description, plan_length_weeks in training_plan_durations.items():
    training_plan_descriptions_table.append((
        plan_id,  # Primary Key
        plan_description,
        plan_length_weeks
    ))
    plan_id += 1


print(training_plan_descriptions_table[:10])

[(1, 'Beginner Marathon Plan: 16-week build-up', 16), (2, 'Intermediate Marathon Plan: 12-week build-up', 12), (3, 'Advanced Marathon Plan: 18-week build-up', 18), (4, 'Elite Marathon Plan: 24-week build-up', 24), (5, '5K to Marathon Transition Plan: 20-week build-up', 20), (6, 'Half-Marathon to Marathon Plan: 14-week build-up', 14), (7, 'Strength and Conditioning Focus Plan: 10-week build-up', 10), (8, 'Speed Work Focus Plan: 12-week build-up', 12), (9, 'Long Distance Endurance Focus Plan: 22-week build-up', 22), (10, 'Customized Marathon Plan: 16-week build-up', 16)]

In [65]:

# Set the percentage of results that will have an associated training plan
percentage_with_plan = 0.72  # 72% of results will have a training plan

# Define the valid range of event IDs
valid_event_ids = set(range(1, 73))  # Assuming valid event IDs are 1-72

# Generate Training Plans Table
training_plans = []
plan_id = 1

# Create a lookup dictionary to get the ID based on the description
description_to_id = {description: plan_id for plan_id, description, _ in training_plan_descriptions_table}

# To track which (runner_id, event_id) pairs already have training plans
assigned_training_plans = set()

# Filter results to include only those with valid event IDs
filtered_results = [result for result in results if result[1] in valid_event_ids]

# Debugging: Check filtered results event IDs
print("Filtered event IDs:", set(result[1] for result in filtered_results))

# Create training plans based on filtered results
for result in filtered_results:
    runner_id = result[2]  # runner_id from the results table
    event_id = result[1]   # event_id from the results table
    
    # Ensure event_id is valid before proceeding
    if event_id not in valid_event_ids:
        print(f"Skipping invalid event ID: {event_id}")
        continue

    # Lookup event date safely
    event_date = next((event[2] for event in events if event[0] == event_id), None)
    
    if event_date is None:
        print(f"Event date not found for event ID: {event_id}")
        continue

    # Skip if the runner already has a training plan for this event
    if (runner_id, event_id) in assigned_training_plans:
        continue
    
    # Decide if this result should have a training plan based on the percentage
    if random.random() < percentage_with_plan:
        # Randomly select a training plan description
        plan_description = random.choice(list(training_plan_durations.keys()))
        
        # Get the duration of the training plan in weeks
        plan_length_weeks = training_plan_durations[plan_description]
        
        # Calculate the start date
        start_date = event_date - datetime.timedelta(weeks=plan_length_weeks)
        
        # Get the plan_id from the description_to_id dictionary
        plan_id_ref = description_to_id.get(plan_description)
        
        if plan_id_ref is None:
            print(f"Plan description not found: {plan_description}")
            continue
        
        # Append the training plan to the list
        training_plans.append((
            plan_id,  # Primary Key
            runner_id,
            start_date,
            event_date,
            plan_id_ref  # Reference the plan by ID
        ))
        
        # Mark this (runner_id, event_id) pair as having a training plan
        assigned_training_plans.add((runner_id, event_id))
        
        plan_id += 1

# Check the distribution of event_ids in the generated training plans
event_id_distribution = {}
for plan in training_plans:
    event_id = plan[1]  # The second element is the event_id
    if event_id in event_id_distribution:
        event_id_distribution[event_id] += 1
    else:
        event_id_distribution[event_id] = 1

# Print the event_id distribution to see how evenly training plans are spread
print("Distribution of training plans across event_ids:")
for event_id in sorted(event_id_distribution.keys()):
    print(f"Event ID {event_id}: {event_id_distribution[event_id]} training plans")

# Optional: Check if any valid event IDs did not get a training plan
unassigned_event_ids = valid_event_ids - set(event_id_distribution.keys())

if unassigned_event_ids:
    print(f"The following event_ids did not receive any training plans: {sorted(unassigned_event_ids)}")
else:
    print("All valid event_ids received at least one training plan.")

Filtered event IDs: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72}
Distribution of training plans across event_ids:
Event ID 1: 48 training plans
Event ID 2: 50 training plans
Event ID 3: 47 training plans
Event ID 4: 50 training plans
Event ID 5: 47 training plans
Event ID 6: 53 training plans
Event ID 7: 46 training plans
Event ID 8: 44 training plans
Event ID 9: 50 training plans
Event ID 10: 50 training plans
Event ID 11: 44 training plans
Event ID 12: 45 training plans
Event ID 13: 51 training plans
Event ID 14: 43 training plans
Event ID 15: 51 training plans
Event ID 16: 52 training plans
Event ID 17: 44 training plans
Event ID 18: 44 training plans
Event ID 19: 50 training plans
Event ID 20: 43 training plans
Event ID 21: 45 training plans
Event ID 22: 48 training plans
Event ID 23: 49 training plans
Event ID 24: 50 training plans
Event ID 25: 50 training plans
Event ID 26: 46 training plans
Event ID 27: 54 training plans
Event ID 28: 50 training plans
Event ID 29: 48 training plans
Event ID 30: 48 training plans
Event ID 31: 50 training plans
Event ID 32: 50 training plans
Event ID 33: 52 training plans
Event ID 34: 49 training plans
Event ID 35: 45 training plans
Event ID 36: 51 training plans
Event ID 37: 50 training plans
Event ID 38: 43 training plans
Event ID 39: 48 training plans
Event ID 40: 41 training plans
Event ID 41: 51 training plans
Event ID 42: 52 training plans
Event ID 43: 50 training plans
Event ID 44: 49 training plans
Event ID 45: 47 training plans
Event ID 46: 49 training plans
Event ID 47: 47 training plans
Event ID 48: 52 training plans
Event ID 49: 50 training plans
Event ID 50: 50 training plans
Event ID 51: 55 training plans
Event ID 52: 53 training plans
Event ID 53: 49 training plans
Event ID 54: 43 training plans
Event ID 55: 49 training plans
Event ID 56: 45 training plans
Event ID 57: 43 training plans
Event ID 58: 49 training plans
Event ID 59: 53 training plans
Event ID 60: 41 training plans
Event ID 61: 45 training plans
Event ID 62: 49 training plans
Event ID 63: 46 training plans
Event ID 64: 53 training plans
Event ID 65: 51 training plans
Event ID 66: 49 training plans
Event ID 67: 54 training plans
Event ID 68: 54 training plans
Event ID 69: 50 training plans
Event ID 70: 41 training plans
Event ID 71: 52 training plans
Event ID 72: 53 training plans
Event ID 73: 52 training plans
Event ID 74: 47 training plans
Event ID 75: 45 training plans
Event ID 76: 53 training plans
Event ID 77: 50 training plans
Event ID 78: 49 training plans
Event ID 79: 44 training plans
Event ID 80: 54 training plans
Event ID 81: 46 training plans
Event ID 82: 52 training plans
Event ID 83: 53 training plans
Event ID 84: 47 training plans
Event ID 85: 47 training plans
Event ID 86: 50 training plans
Event ID 87: 49 training plans
Event ID 88: 51 training plans
Event ID 89: 51 training plans
Event ID 90: 50 training plans
Event ID 91: 41 training plans
Event ID 92: 45 training plans
Event ID 93: 48 training plans
Event ID 94: 43 training plans
Event ID 95: 54 training plans
Event ID 96: 49 training plans
Event ID 97: 45 training plans
Event ID 98: 53 training plans
Event ID 99: 48 training plans
Event ID 100: 53 training plans
Event ID 101: 46 training plans
Event ID 102: 49 training plans
Event ID 103: 44 training plans
Event ID 104: 47 training plans
Event ID 105: 51 training plans
Event ID 106: 48 training plans
Event ID 107: 50 training plans
Event ID 108: 54 training plans
Event ID 109: 46 training plans
Event ID 110: 48 training plans
Event ID 111: 46 training plans
Event ID 112: 44 training plans
Event ID 113: 51 training plans
Event ID 114: 52 training plans
Event ID 115: 53 training plans
Event ID 116: 51 training plans
Event ID 117: 51 training plans
Event ID 118: 50 training plans
Event ID 119: 49 training plans
Event ID 120: 51 training plans
Event ID 121: 44 training plans
Event ID 122: 50 training plans
Event ID 123: 48 training plans
Event ID 124: 45 training plans
Event ID 125: 51 training plans
Event ID 126: 55 training plans
Event ID 127: 52 training plans
Event ID 128: 42 training plans
Event ID 129: 53 training plans
Event ID 130: 47 training plans
Event ID 131: 50 training plans
Event ID 132: 50 training plans
Event ID 133: 52 training plans
Event ID 134: 48 training plans
Event ID 135: 46 training plans
Event ID 136: 47 training plans
Event ID 137: 51 training plans
Event ID 138: 52 training plans
Event ID 139: 52 training plans
Event ID 140: 50 training plans
Event ID 141: 57 training plans
Event ID 142: 54 training plans
Event ID 143: 48 training plans
Event ID 144: 51 training plans
Event ID 145: 54 training plans
Event ID 146: 46 training plans
Event ID 147: 45 training plans
Event ID 148: 51 training plans
Event ID 149: 40 training plans
Event ID 150: 45 training plans
Event ID 151: 48 training plans
Event ID 152: 51 training plans
Event ID 153: 50 training plans
Event ID 154: 51 training plans
Event ID 155: 42 training plans
Event ID 156: 48 training plans
Event ID 157: 48 training plans
Event ID 158: 47 training plans
Event ID 159: 47 training plans
Event ID 160: 50 training plans
Event ID 161: 41 training plans
Event ID 162: 55 training plans
Event ID 163: 44 training plans
Event ID 164: 46 training plans
Event ID 165: 47 training plans
Event ID 166: 46 training plans
Event ID 167: 40 training plans
Event ID 168: 57 training plans
Event ID 169: 50 training plans
Event ID 170: 45 training plans
Event ID 171: 53 training plans
Event ID 172: 54 training plans
Event ID 173: 51 training plans
Event ID 174: 48 training plans
Event ID 175: 54 training plans
Event ID 176: 47 training plans
Event ID 177: 47 training plans
Event ID 178: 47 training plans
Event ID 179: 51 training plans
Event ID 180: 45 training plans
Event ID 181: 52 training plans
Event ID 182: 43 training plans
Event ID 183: 39 training plans
Event ID 184: 51 training plans
Event ID 185: 46 training plans
Event ID 186: 46 training plans
Event ID 187: 46 training plans
Event ID 188: 51 training plans
Event ID 189: 47 training plans
Event ID 190: 40 training plans
Event ID 191: 42 training plans
Event ID 192: 56 training plans
Event ID 193: 48 training plans
Event ID 194: 51 training plans
Event ID 195: 45 training plans
Event ID 196: 51 training plans
Event ID 197: 43 training plans
Event ID 198: 51 training plans
Event ID 199: 43 training plans
Event ID 200: 40 training plans
Event ID 201: 46 training plans
Event ID 202: 41 training plans
Event ID 203: 47 training plans
Event ID 204: 46 training plans
Event ID 205: 49 training plans
Event ID 206: 48 training plans
Event ID 207: 61 training plans
Event ID 208: 47 training plans
Event ID 209: 47 training plans
Event ID 210: 49 training plans
Event ID 211: 44 training plans
Event ID 212: 46 training plans
Event ID 213: 51 training plans
Event ID 214: 49 training plans
Event ID 215: 39 training plans
Event ID 216: 53 training plans
Event ID 217: 49 training plans
Event ID 218: 48 training plans
Event ID 219: 51 training plans
Event ID 220: 49 training plans
Event ID 221: 44 training plans
Event ID 222: 44 training plans
Event ID 223: 47 training plans
Event ID 224: 58 training plans
Event ID 225: 50 training plans
Event ID 226: 58 training plans
Event ID 227: 49 training plans
Event ID 228: 51 training plans
Event ID 229: 52 training plans
Event ID 230: 48 training plans
Event ID 231: 47 training plans
Event ID 232: 46 training plans
Event ID 233: 53 training plans
Event ID 234: 43 training plans
Event ID 235: 47 training plans
Event ID 236: 45 training plans
Event ID 237: 44 training plans
Event ID 238: 46 training plans
Event ID 239: 46 training plans
Event ID 240: 47 training plans
Event ID 241: 51 training plans
Event ID 242: 49 training plans
Event ID 243: 54 training plans
Event ID 244: 41 training plans
Event ID 245: 52 training plans
Event ID 246: 46 training plans
Event ID 247: 48 training plans
Event ID 248: 38 training plans
Event ID 249: 44 training plans
Event ID 250: 46 training plans
Event ID 251: 49 training plans
Event ID 252: 46 training plans
Event ID 253: 51 training plans
Event ID 254: 53 training plans
Event ID 255: 45 training plans
Event ID 256: 57 training plans
Event ID 257: 44 training plans
Event ID 258: 48 training plans
Event ID 259: 43 training plans
Event ID 260: 53 training plans
Event ID 261: 51 training plans
Event ID 262: 49 training plans
Event ID 263: 40 training plans
Event ID 264: 52 training plans
Event ID 265: 54 training plans
Event ID 266: 51 training plans
Event ID 267: 42 training plans
Event ID 268: 53 training plans
Event ID 269: 47 training plans
Event ID 270: 40 training plans
Event ID 271: 43 training plans
Event ID 272: 45 training plans
Event ID 273: 54 training plans
Event ID 274: 40 training plans
Event ID 275: 52 training plans
Event ID 276: 47 training plans
Event ID 277: 54 training plans
Event ID 278: 49 training plans
Event ID 279: 44 training plans
Event ID 280: 57 training plans
Event ID 281: 47 training plans
Event ID 282: 46 training plans
Event ID 283: 44 training plans
Event ID 284: 37 training plans
Event ID 285: 54 training plans
Event ID 286: 51 training plans
Event ID 287: 51 training plans
Event ID 288: 45 training plans
Event ID 289: 45 training plans
Event ID 290: 50 training plans
Event ID 291: 46 training plans
Event ID 292: 54 training plans
Event ID 293: 54 training plans
Event ID 294: 46 training plans
Event ID 295: 46 training plans
Event ID 296: 44 training plans
Event ID 297: 56 training plans
Event ID 298: 49 training plans
Event ID 299: 47 training plans
Event ID 300: 45 training plans
Event ID 301: 48 training plans
Event ID 302: 45 training plans
Event ID 303: 46 training plans
Event ID 304: 49 training plans
Event ID 305: 51 training plans
Event ID 306: 46 training plans
Event ID 307: 50 training plans
Event ID 308: 51 training plans
Event ID 309: 50 training plans
Event ID 310: 47 training plans
Event ID 311: 44 training plans
Event ID 312: 55 training plans
Event ID 313: 47 training plans
Event ID 314: 35 training plans
Event ID 315: 49 training plans
Event ID 316: 52 training plans
Event ID 317: 51 training plans
Event ID 318: 46 training plans
Event ID 319: 49 training plans
Event ID 320: 41 training plans
Event ID 321: 54 training plans
Event ID 322: 53 training plans
Event ID 323: 48 training plans
Event ID 324: 52 training plans
Event ID 325: 52 training plans
Event ID 326: 48 training plans
Event ID 327: 47 training plans
Event ID 328: 48 training plans
Event ID 329: 52 training plans
Event ID 330: 46 training plans
Event ID 331: 50 training plans
Event ID 332: 54 training plans
Event ID 333: 51 training plans
Event ID 334: 48 training plans
Event ID 335: 52 training plans
Event ID 336: 43 training plans
Event ID 337: 45 training plans
Event ID 338: 55 training plans
Event ID 339: 50 training plans
Event ID 340: 52 training plans
Event ID 341: 40 training plans
Event ID 342: 52 training plans
Event ID 343: 53 training plans
Event ID 344: 56 training plans
Event ID 345: 51 training plans
Event ID 346: 51 training plans
Event ID 347: 50 training plans
Event ID 348: 44 training plans
Event ID 349: 47 training plans
Event ID 350: 43 training plans
Event ID 351: 54 training plans
Event ID 352: 50 training plans
Event ID 353: 55 training plans
Event ID 354: 54 training plans
Event ID 355: 48 training plans
Event ID 356: 46 training plans
Event ID 357: 45 training plans
Event ID 358: 49 training plans
Event ID 359: 52 training plans
Event ID 360: 47 training plans
Event ID 361: 50 training plans
Event ID 362: 46 training plans
Event ID 363: 51 training plans
Event ID 364: 43 training plans
Event ID 365: 45 training plans
Event ID 366: 44 training plans
Event ID 367: 53 training plans
Event ID 368: 42 training plans
Event ID 369: 56 training plans
Event ID 370: 52 training plans
Event ID 371: 51 training plans
Event ID 372: 42 training plans
Event ID 373: 49 training plans
Event ID 374: 49 training plans
Event ID 375: 44 training plans
Event ID 376: 51 training plans
Event ID 377: 53 training plans
Event ID 378: 50 training plans
Event ID 379: 47 training plans
Event ID 380: 42 training plans
Event ID 381: 46 training plans
Event ID 382: 57 training plans
Event ID 383: 43 training plans
Event ID 384: 47 training plans
Event ID 385: 43 training plans
Event ID 386: 51 training plans
Event ID 387: 48 training plans
Event ID 388: 46 training plans
Event ID 389: 50 training plans
Event ID 390: 51 training plans
Event ID 391: 48 training plans
Event ID 392: 48 training plans
Event ID 393: 46 training plans
Event ID 394: 44 training plans
Event ID 395: 53 training plans
Event ID 396: 51 training plans
Event ID 397: 46 training plans
Event ID 398: 48 training plans
Event ID 399: 43 training plans
Event ID 400: 48 training plans
Event ID 401: 54 training plans
Event ID 402: 44 training plans
Event ID 403: 43 training plans
Event ID 404: 52 training plans
Event ID 405: 52 training plans
Event ID 406: 45 training plans
Event ID 407: 44 training plans
Event ID 408: 54 training plans
Event ID 409: 55 training plans
Event ID 410: 47 training plans
Event ID 411: 47 training plans
Event ID 412: 49 training plans
Event ID 413: 53 training plans
Event ID 414: 51 training plans
Event ID 415: 52 training plans
Event ID 416: 52 training plans
Event ID 417: 47 training plans
Event ID 418: 46 training plans
Event ID 419: 46 training plans
Event ID 420: 50 training plans
Event ID 421: 45 training plans
Event ID 422: 47 training plans
Event ID 423: 52 training plans
Event ID 424: 42 training plans
Event ID 425: 42 training plans
Event ID 426: 50 training plans
Event ID 427: 51 training plans
Event ID 428: 58 training plans
Event ID 429: 52 training plans
Event ID 430: 46 training plans
Event ID 431: 43 training plans
Event ID 432: 59 training plans
Event ID 433: 44 training plans
Event ID 434: 54 training plans
Event ID 435: 51 training plans
Event ID 436: 52 training plans
Event ID 437: 50 training plans
Event ID 438: 45 training plans
Event ID 439: 43 training plans
Event ID 440: 50 training plans
Event ID 441: 53 training plans
Event ID 442: 43 training plans
Event ID 443: 55 training plans
Event ID 444: 52 training plans
Event ID 445: 44 training plans
Event ID 446: 49 training plans
Event ID 447: 47 training plans
Event ID 448: 52 training plans
Event ID 449: 49 training plans
Event ID 450: 50 training plans
Event ID 451: 47 training plans
Event ID 452: 47 training plans
Event ID 453: 50 training plans
Event ID 454: 51 training plans
Event ID 455: 45 training plans
Event ID 456: 48 training plans
Event ID 457: 51 training plans
Event ID 458: 50 training plans
Event ID 459: 43 training plans
Event ID 460: 53 training plans
Event ID 461: 53 training plans
Event ID 462: 45 training plans
Event ID 463: 46 training plans
Event ID 464: 45 training plans
Event ID 465: 51 training plans
Event ID 466: 51 training plans
Event ID 467: 46 training plans
Event ID 468: 44 training plans
Event ID 469: 45 training plans
Event ID 470: 47 training plans
Event ID 471: 51 training plans
Event ID 472: 53 training plans
Event ID 473: 46 training plans
Event ID 474: 55 training plans
Event ID 475: 53 training plans
Event ID 476: 49 training plans
Event ID 477: 51 training plans
Event ID 478: 50 training plans
Event ID 479: 53 training plans
Event ID 480: 49 training plans
Event ID 481: 51 training plans
Event ID 482: 41 training plans
Event ID 483: 49 training plans
Event ID 484: 46 training plans
Event ID 485: 51 training plans
Event ID 486: 46 training plans
Event ID 487: 52 training plans
Event ID 488: 50 training plans
Event ID 489: 46 training plans
Event ID 490: 45 training plans
Event ID 491: 52 training plans
Event ID 492: 49 training plans
Event ID 493: 51 training plans
Event ID 494: 43 training plans
Event ID 495: 44 training plans
Event ID 496: 45 training plans
Event ID 497: 56 training plans
Event ID 498: 53 training plans
Event ID 499: 50 training plans
Event ID 500: 48 training plans
Event ID 501: 47 training plans
Event ID 502: 48 training plans
Event ID 503: 48 training plans
Event ID 504: 46 training plans
Event ID 505: 49 training plans
Event ID 506: 47 training plans
Event ID 507: 50 training plans
Event ID 508: 53 training plans
Event ID 509: 53 training plans
Event ID 510: 57 training plans
Event ID 511: 47 training plans
Event ID 512: 49 training plans
Event ID 513: 46 training plans
Event ID 514: 49 training plans
Event ID 515: 51 training plans
Event ID 516: 51 training plans
Event ID 517: 52 training plans
Event ID 518: 50 training plans
Event ID 519: 42 training plans
Event ID 520: 46 training plans
Event ID 521: 48 training plans
Event ID 522: 41 training plans
Event ID 523: 52 training plans
Event ID 524: 52 training plans
Event ID 525: 52 training plans
Event ID 526: 49 training plans
Event ID 527: 59 training plans
Event ID 528: 38 training plans
Event ID 529: 50 training plans
Event ID 530: 48 training plans
Event ID 531: 53 training plans
Event ID 532: 52 training plans
Event ID 533: 48 training plans
Event ID 534: 50 training plans
Event ID 535: 52 training plans
Event ID 536: 44 training plans
Event ID 537: 43 training plans
Event ID 538: 48 training plans
Event ID 539: 47 training plans
Event ID 540: 48 training plans
Event ID 541: 55 training plans
Event ID 542: 54 training plans
Event ID 543: 49 training plans
Event ID 544: 43 training plans
Event ID 545: 45 training plans
Event ID 546: 51 training plans
Event ID 547: 49 training plans
Event ID 548: 43 training plans
Event ID 549: 50 training plans
Event ID 550: 60 training plans
Event ID 551: 56 training plans
Event ID 552: 51 training plans
Event ID 553: 49 training plans
Event ID 554: 49 training plans
Event ID 555: 55 training plans
Event ID 556: 48 training plans
Event ID 557: 44 training plans
Event ID 558: 56 training plans
Event ID 559: 44 training plans
Event ID 560: 53 training plans
Event ID 561: 48 training plans
Event ID 562: 45 training plans
Event ID 563: 53 training plans
Event ID 564: 56 training plans
Event ID 565: 47 training plans
Event ID 566: 47 training plans
Event ID 567: 43 training plans
Event ID 568: 51 training plans
Event ID 569: 42 training plans
Event ID 570: 48 training plans
Event ID 571: 47 training plans
Event ID 572: 54 training plans
Event ID 573: 54 training plans
Event ID 574: 47 training plans
Event ID 575: 49 training plans
Event ID 576: 51 training plans
Event ID 577: 49 training plans
Event ID 578: 52 training plans
Event ID 579: 54 training plans
Event ID 580: 47 training plans
Event ID 581: 49 training plans
Event ID 582: 47 training plans
Event ID 583: 48 training plans
Event ID 584: 50 training plans
Event ID 585: 44 training plans
Event ID 586: 50 training plans
Event ID 587: 49 training plans
Event ID 588: 54 training plans
Event ID 589: 46 training plans
Event ID 590: 53 training plans
Event ID 591: 50 training plans
Event ID 592: 47 training plans
Event ID 593: 39 training plans
Event ID 594: 47 training plans
Event ID 595: 49 training plans
Event ID 596: 41 training plans
Event ID 597: 43 training plans
Event ID 598: 56 training plans
Event ID 599: 48 training plans
Event ID 600: 51 training plans
Event ID 601: 46 training plans
Event ID 602: 49 training plans
Event ID 603: 48 training plans
Event ID 604: 46 training plans
Event ID 605: 52 training plans
Event ID 606: 46 training plans
Event ID 607: 54 training plans
Event ID 608: 50 training plans
Event ID 609: 44 training plans
Event ID 610: 49 training plans
Event ID 611: 50 training plans
Event ID 612: 47 training plans
Event ID 613: 44 training plans
Event ID 614: 50 training plans
Event ID 615: 48 training plans
Event ID 616: 49 training plans
Event ID 617: 46 training plans

In [ ]:
# Set the percentage of results that will have an associated training plan
percentage_with_plan = 0.72  # 72% of results will have a training plan

# Create a lookup dictionary to get the training plan ID based on the description
description_to_id = {description: plan_id for plan_id, description, _ in training_plan_descriptions_table}

# To track which result_ids have been assigned training plans
assigned_training_plans = set()

# Filter results to include only valid result entries (assuming all results are valid)
filtered_results = results  # Here, results should have result_id, runner_id, event_id

# Debugging: Check filtered results
print("Filtered Results (result_id, runner_id, event_id):")
for result in filtered_results:
    print(f"Result ID: {result[0]}, Runner ID: {result[2]}, Event ID: {result[1]}")

# Randomize the order of the filtered results to ensure fair distribution across all results
random.shuffle(filtered_results)

# Generate training plans and assign them based on result_id
training_plans = []
plan_id = 1

for result in filtered_results:
    result_id = result[0]   # result_id from the results table
    runner_id = result[2]   # runner_id from the results table
    event_id = result[1]    # event_id from the results table
    
    # Check for duplicate result_id
    if result_id in assigned_training_plans:
        print(f"INFO: Skipping duplicate training plan for Result ID {result_id}")
        continue
    
    # Decide if this result should have a training plan based on the percentage
    if random.random() < percentage_with_plan:
        # Randomly select a training plan description
        plan_description = random.choice(list(training_plan_durations.keys()))
        
        # Get the plan_id from the description_to_id dictionary
        plan_id_ref = description_to_id.get(plan_description)
        
        if plan_id_ref is None:
            print(f"ERROR: Plan description not found: {plan_description}")
            continue
        
        # Append the training plan to the list
        training_plans.append((
            plan_id,  # Primary Key
            runner_id, 
            plan_id_ref,  # Reference the training plan by ID
            result_id  # Link the training plan to the result_id
        ))
        
        # Mark this result_id as having a training plan
        assigned_training_plans.add(result_id)
        print(f"SUCCESS: Assigned Training Plan {plan_id} to Result ID {result_id} (Runner ID {runner_id}, Event ID {event_id})")
        
        plan_id += 1
    else:
        print(f"INFO: Skipped Training Plan for Result ID {result_id} (Runner ID {runner_id}, Event ID {event_id})")

# Check the distribution of training plans across result_ids
result_id_distribution = {}
for plan in training_plans:
    result_id = plan[3]  # Use the correct result_id (4th element in the tuple)
    if result_id in result_id_distribution:
        result_id_distribution[result_id] += 1
    else:
        result_id_distribution[result_id] = 1

# Print the result_id distribution to see how evenly training plans are spread
print("Distribution of training plans across result_ids:")
for result_id in sorted(result_id_distribution.keys()):
    print(f"Result ID {result_id}: {result_id_distribution[result_id]} training plans")

# Optional: Check if any result_ids did not get a training plan
unassigned_result_ids = set(result[0] for result in results) - set(result_id_distribution.keys())

if unassigned_result_ids:
    print(f"The following result_ids did not receive any training plans: {sorted(unassigned_result_ids)}")
else:
    print("All result_ids received at least one training plan.")

In [ ]:
from collections import defaultdict

# Create a dictionary to track (runner_id, event_id) combinations
runner_event_count = defaultdict(int)

# Populate the dictionary with counts
for plan in training_plans:
    runner_id = plan[1]  # runner_id
    event_id = plan[2]   # event_id
    runner_event_count[(runner_id, event_id)] += 1

# Identify duplicates
duplicate_plans = [(runner_id, event_id) for (runner_id, event_id), count in runner_event_count.items() if count > 1]

# Verification
if len(duplicate_plans) == 0:
    print("Verification Passed: No runner has more than one training plan per event.")
else:
    print(f"Verification Failed: The following (runner_id, event_id) pairs have multiple training plans: {duplicate_plans}")

In [ ]:
print(training_plans[:10])

## Making a function to generate SQL insert statements, generating SQL statements, and combining all SQL scripts

In [ ]:
# SQL CREATE TABLE Statements
create_tables_sql = """
CREATE TABLE Runners (
    runner_id INTEGER PRIMARY KEY,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    date_of_birth DATE,
    sex TEXT NOT NULL,
    country TEXT NOT NULL
);

CREATE TABLE Events (
    event_id INTEGER PRIMARY KEY,
    event TEXT NOT NULL,
    event_date DATE NOT NULL
);

CREATE TABLE Results (
    result_id INTEGER PRIMARY KEY,
    event_id INTEGER NOT NULL,
    runner_id INTEGER NOT NULL,
    finish_time TEXT NOT NULL,
    sex TEXT NOT NULL, 
    is_elite TEXT NOT NULL,
    FOREIGN KEY(event_id) REFERENCES Events(event_id),
    FOREIGN KEY(runner_id) REFERENCES Runners(runner_id)
);

CREATE TABLE Sponsors (
    sponsor_id INTEGER PRIMARY KEY,
    sponsor_name TEXT NOT NULL
);

CREATE TABLE Sponsored_Athletes (
    sponsor_id INTEGER NOT NULL,
    sponsor_name TEXT NOT NULL,
    runner_id INTEGER NOT NULL,
    FOREIGN KEY(sponsor_id) REFERENCES Sponsors(sponsor_id),
    FOREIGN KEY(runner_id) REFERENCES Runners(runner_id),
    PRIMARY KEY (sponsor_id, runner_id)
);

CREATE TABLE Training_Plans (
    id INTEGER PRIMARY KEY,
    runner_id INTEGER NOT NULL,
    start_date DATE NOT NULL,
    end_date DATE NOT NULL,
    plan_id INTEGER NOT NULL,
    FOREIGN KEY(runner_id) REFERENCES Runners(runner_id),
    FOREIGN KEY(plan_id) REFERENCES Training_Plans_Descriptions(plan_id)
);

CREATE TABLE Training_Plans_Descriptions (
    plan_id INTEGER PRIMARY KEY,
    plan_description TEXT NOT NULL,
    plan_length_weeks INTEGER NOT NULL
);
"""

In [ ]:
# Function to generate SQL insert statements
def generate_sql_inserts(table_name, columns, data):
    sql = f"INSERT INTO {table_name} ({', '.join(columns)}) VALUES\n"
    values = []
    for row in data:
        formatted_values = ', '.join([f"'{str(v)}'" if isinstance(v, str) or isinstance(v, datetime.date) else str(v) for v in row])
        values.append(f"({formatted_values})")
    sql += ',\n'.join(values) + ";\n"
    return sql

In [ ]:
# Generate SQL statements
runner_columns = ['runner_id', 'first_name', 'last_name', 'date_of_birth','sex', 'country']
event_columns = ['event_id', 'event', 'event_date']
result_columns = ['result_id', 'event_id', 'runner_id', 'finish_time', 'sex','is_elite']
sponsor_columns = ['sponsor_id', 'sponsor_name']
sponsored_athletes_columns = ['sponsor_id', 'sponsor_name', 'runner_id']
training_plan_columns = ['id', 'runner_id', 'start_date', 'end_date', 'plan_id']
training_plan_descriptions_columns = ['plan_id','plan_description','plan_length_weeks']


sql_runners = generate_sql_inserts('Runners', runner_columns, runners)
sql_events = generate_sql_inserts('Events', event_columns, events)
sql_results = generate_sql_inserts('Results', result_columns, results)
sql_sponsors = generate_sql_inserts('Sponsors', sponsor_columns, sponsors)
sql_sponsored_athletes = generate_sql_inserts('Sponsored_Athletes', sponsored_athletes_columns, sponsored_athletes)
sql_training_plans = generate_sql_inserts('Training_Plans', training_plan_columns, training_plans)
sql_training_plan_descriptions_table = generate_sql_inserts('Training_Plans_Descriptions', training_plan_descriptions_columns,training_plan_descriptions_table)

In [ ]:
print(sql_runners[:500])

In [ ]:
# Combine all SQL scripts
sql_script = create_tables_sql + sql_runners + sql_events + sql_results + sql_sponsors + sql_training_plans + sql_sponsored_athletes + sql_training_plan_descriptions_table

In [ ]:
print(sql_script[:500])

In [ ]:
with open("create_Marathon_results_database.sql", "w") as file:
    file.write(sql_script)