# Generating Marathon Data for SQL Practice

This is a Python Jupyter notebook for creating a full mock SQL database of marathon race results with thousands of records. This script simulates a realistic dataset, including both elite and recreational runners, with varied performance data across multiple marathon events. There are several steps to this:

1. **Generate 'Runners' Table** - Randomly generate 1000 runners with names common in their locale/country, together with their birth date and sex.
2. **Generate 'Events' Table** - The 6 Major World marathons (Berlin, Boston, Chicago,London,New York City, Tokyo), with an event per year from 2012 to 2023. 
3. **Generate 'Results' Table** - Gives results for runners in hh:mm:ss format, ensuring there aren't duplicate results for each runner per event. Prevents any results breaking either the male marathon world-record (2:00:35 Eliud Kipchoge 2023) or the female marathon world-record (2:11:53 Brigid Kosgei 2019). Also determines, with a True/False column, if a result is elite by the male standard (below 02:15:00) or the female standard (below 02:30:00).
4. **Generate 'Sponsors' Table** - Lists the following 10 major fitness/sports companies that typically act as sponsors to runners - "Nike", "Adidas", "Asics", "Saucony", "Hoka","Brooks", "New Balance", "Puma", "Under Armour", "Tracksmith". 
5. **Generate 'Sponsored Athletes' Table** - A table listing the fraction of the elite athletes that have a sponsor.
6. **Generate 'Training Plans Descriptions' Table** - The descriptions of 10 different training plans and their respective lengths in weeks. 
7. **Generate 'Training Plans' Table** - The training plans of athletes.

## Import packages

In [5]:
pip install faker

Requirement already satisfied: faker in c:\users\gam55\appdata\local\anaconda3\lib\site-packages (26.3.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\gam55\appdata\local\anaconda3\lib\site-packages (from faker) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\gam55\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install unidecode

Requirement already satisfied: unidecode in c:\users\gam55\appdata\local\anaconda3\lib\site-packages (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import random
from faker import Faker
import datetime
import pandas as pd

In [8]:
fake = Faker()

## Define the records for tables and helper functions

In [10]:
# Helper functions
def random_time():
    """Generate a random marathon finish time"""
    hours = random.randint(2, 5)
    minutes = random.randint(0, 59)
    seconds = random.randint(0, 59)
    return f'{hours:02}:{minutes:02}:{seconds:02}'

In [11]:
# Define the number of records
num_runners = 1000
num_events = 72 #6 marathons over 12 years (2012-23)
num_results = num_runners * num_events

In [12]:
# Define the major marathons and their exact dates
marathons = [
    ("Boston Marathon", [
        "2012-04-16", "2013-04-15", "2014-04-21", "2015-04-20", "2016-04-18",
        "2017-04-17", "2018-04-16", "2019-04-15", "2020-10-11", "2021-10-11",
        "2022-04-18", "2023-04-17"
    ]),
    ("London Marathon", [
        "2012-04-22", "2013-04-21", "2014-04-21", "2015-04-26", "2016-04-24",
        "2017-04-23", "2018-04-22", "2019-04-28", "2020-10-04", "2021-10-03",
        "2022-10-02", "2023-04-23"
    ]),
    ("New York City Marathon", [
        "2012-11-04", "2013-11-03", "2014-11-02", "2015-11-01", "2016-11-06",
        "2017-11-05", "2018-11-04", "2019-11-03", "2020-12-13", "2021-11-07",
        "2022-11-06", "2023-11-05"
    ]),
    ("Berlin Marathon", [
        "2012-09-30", "2013-09-29", "2014-09-28", "2015-09-27", "2016-09-25",
        "2017-09-24", "2018-09-16", "2019-09-29", "2020-09-27", "2021-09-26",
        "2022-09-25", "2023-09-24"
    ]),
    ("Chicago Marathon", [
        "2012-10-07", "2013-10-13", "2014-10-12", "2015-10-11", "2016-10-09",
        "2017-10-08", "2018-10-07", "2019-10-13", "2020-10-11", "2021-10-10",
        "2022-10-09", "2023-10-08"
    ]),
    ("Tokyo Marathon", [
        "2012-02-26", "2013-02-24", "2014-02-23", "2015-02-22", "2016-02-28",
        "2017-02-26", "2018-02-25", "2019-03-03", "2020-03-01", "2021-03-07",
        "2022-03-06", "2023-03-05"
    ])
]

In [13]:
# Define predefined training plan descriptions
training_plan_descriptions = [
    "Beginner Marathon Plan: 16-week build-up",
    "Intermediate Marathon Plan: 12-week build-up",
    "Advanced Marathon Plan: 18-week build-up",
    "Elite Marathon Plan: 24-week build-up",
    "5K to Marathon Transition Plan: 20-week build-up",
    "Half-Marathon to Marathon Plan: 14-week build-up",
    "Strength and Conditioning Focus Plan: 10-week build-up",
    "Speed Work Focus Plan: 12-week build-up",
    "Long Distance Endurance Focus Plan: 22-week build-up",
    "Customized Marathon Plan: 16-week build-up"
]

## Generate Tables

In [15]:
import random
from faker import Faker
from unidecode import unidecode
import re  # Import regular expressions module

# Locale-country map dictionary
locale_country_map = {
    'ar_AE': 'United Arab Emirates',
    'ar_BH': 'Bahrain',
    'ar_EG': 'Egypt',
    'ar_JO': 'Jordan',
    'ar_SA': 'Saudi Arabia',
    'az_AZ': 'Azerbaijan',
    'bg_BG': 'Bulgaria',
    'bn_BD': 'Bangladesh',
    'bs_BA': 'Bosnia and Herzegovina',
    'cs_CZ': 'Czech Republic',
    'da_DK': 'Denmark',
    'de_AT': 'Austria',
    'de_CH': 'Switzerland',
    'de_DE': 'Germany',
    'el_CY': 'Cyprus',
    'el_GR': 'Greece',
    'en_AU': 'Australia',
    'en_CA': 'Canada',
    'en_GB': 'United Kingdom',
    'en_IE': 'Ireland',
    'en_IN': 'India',
    'en_NZ': 'New Zealand',
    'en_PH': 'Philippines',
    'en_US': 'United States',
    'es_AR': 'Argentina',
    'es_CL': 'Chile',
    'es_CO': 'Colombia',
    'es_ES': 'Spain',
    'es_MX': 'Mexico',
    'et_EE': 'Estonia',
    'fa_IR': 'Iran',
    'fi_FI': 'Finland',
    'fr_BE': 'Belgium',
    'fr_CA': 'Canada',
    'fr_CH': 'Switzerland',
    'fr_FR': 'France',
    'ga_IE': 'Ireland',
    'he_IL': 'Israel',
    'hi_IN': 'India',
    'hr_HR': 'Croatia',
    'hu_HU': 'Hungary',
    'hy_AM': 'Armenia',
    'id_ID': 'Indonesia',
    'it_CH': 'Switzerland',
    'it_IT': 'Italy',
    'ja_JP': 'Japan',
    'ka_GE': 'Georgia',
    'ko_KR': 'South Korea',
    'lb_LU': 'Luxembourg',
    'lt_LT': 'Lithuania',
    'lv_LV': 'Latvia',
    'ne_NP': 'Nepal',
    'nl_BE': 'Belgium',
    'nl_NL': 'Netherlands',
    'no_NO': 'Norway',
    'pl_PL': 'Poland',
    'pt_BR': 'Brazil',
    'pt_PT': 'Portugal',
    'ro_RO': 'Romania',
    'ru_RU': 'Russia',
    'sk_SK': 'Slovakia',
    'sl_SI': 'Slovenia',
    'sq_AL': 'Albania',
    'sv_SE': 'Sweden',
    'ta_IN': 'India',
    'th_TH': 'Thailand',
    'tr_TR': 'Turkey',
    'uk_UA': 'Ukraine',
    'vi_VN': 'Vietnam',
    'zh_CN': 'China',
    'zh_TW': 'Taiwan',
    'zu_ZA': 'South Africa'
}


# Function to clean and capitalize names
def clean_and_capitalize(name):
    # Remove unwanted characters using regex
    name = re.sub(r"[^a-zA-Z\s]", "", name)
    # Capitalize the name
    return name.capitalize()

# Generate Runners Table
runners = []
for i in range(1, num_runners + 1):
    # Randomly select a category for each runner
    category = random.choice(['Male', 'Female'])
    
    # Randomly select a locale corresponding to a country
    locale, country = random.choice(list(locale_country_map.items()))
    
    # Create a Faker instance with the selected locale
    localized_fake = Faker(locale)
    
    # Generate the runner's name and transliterate it to standard ASCII characters
    first_name = localized_fake.first_name_male() if category == 'Male' else localized_fake.first_name_female()
    last_name = localized_fake.last_name()

    # Transliterate names to ASCII
    first_name_ascii = unidecode(first_name)
    last_name_ascii = unidecode(last_name)
    
    # Clean and capitalize the names
    first_name_cleaned = clean_and_capitalize(first_name_ascii)
    last_name_cleaned = clean_and_capitalize(last_name_ascii)
    
    # Generate the runner data
    runners.append((
        i,
        first_name_cleaned,
        last_name_cleaned,
        localized_fake.date_of_birth(minimum_age=18, maximum_age=90),
        category,  # Assign the randomly chosen category
        country
    ))

# Example output
for runner in runners[:50]:  # Print first 50 runners
    print(runner)

(1, 'Connor', 'Turner', datetime.date(1980, 4, 6), 'Male', 'Cyprus')
(2, 'Bronwen', 'Mac tiarnain', datetime.date(1975, 5, 28), 'Female', 'Ireland')
(3, 'Ephraim', 'Tompre', datetime.date(1942, 7, 2), 'Male', 'Greece')
(4, 'Louis', 'Marsh', datetime.date(1960, 4, 9), 'Male', 'New Zealand')
(5, 'Achim', 'Stan', datetime.date(1992, 4, 15), 'Male', 'Romania')
(6, 'Prem', 'Guptaa', datetime.date(1955, 6, 28), 'Male', 'India')
(7, 'Karl', 'Hovsepov', datetime.date(1971, 11, 25), 'Male', 'Armenia')
(8, 'Njm ldwyn', 'Al lshykh', datetime.date(1981, 5, 27), 'Male', 'Saudi Arabia')
(9, 'Marissa', 'King', datetime.date(2005, 3, 11), 'Female', 'United Arab Emirates')
(10, 'Triona', 'O huallachain', datetime.date(1959, 5, 4), 'Female', 'Ireland')
(11, 'Edda', 'Kofler', datetime.date(1965, 12, 5), 'Female', 'Austria')
(12, 'Illia', 'Batig', datetime.date(1988, 1, 15), 'Male', 'Ukraine')
(13, 'Zenzile', 'Gcumisa', datetime.date(1968, 4, 15), 'Female', 'South Africa')
(14, 'Todd', 'Young', datetime.date(1963, 11, 30), 'Male', 'Vietnam')
(15, 'Vivek', 'Daaraa', datetime.date(1936, 8, 11), 'Male', 'India')
(16, 'Mikayla', 'Hayes', datetime.date(1998, 1, 25), 'Female', 'Luxembourg')
(17, 'Jati', 'Prastuti', datetime.date(1969, 11, 9), 'Male', 'Indonesia')
(18, 'Inga', 'Eriksson', datetime.date(1976, 7, 2), 'Female', 'Sweden')
(19, 'Patricia', 'Davidova', datetime.date(1995, 5, 10), 'Female', 'Slovakia')
(20, 'Hanna', 'Jorgensen', datetime.date(1977, 12, 12), 'Female', 'Norway')
(21, 'Charlotte', 'Cousin', datetime.date(2000, 4, 25), 'Female', 'Switzerland')
(22, 'Theo', 'Kuhn', datetime.date(1951, 4, 8), 'Male', 'Switzerland')
(23, 'Michael', 'Cooper', datetime.date(1954, 1, 27), 'Male', 'Albania')
(24, 'Jarmila', 'Kucera', datetime.date(1969, 1, 8), 'Female', 'Czech Republic')
(25, 'Adriana', 'Duarte', datetime.date(1936, 12, 12), 'Female', 'Colombia')
(26, 'Danny', 'Butler', datetime.date(1958, 10, 9), 'Male', 'Albania')
(27, 'Daniel', 'Wallace', datetime.date(1993, 7, 3), 'Male', 'Jordan')
(28, 'Ln', 'Al bn lfy', datetime.date(1992, 5, 7), 'Female', 'Saudi Arabia')
(29, 'Walyaa', 'Thiiwr', datetime.date(1962, 5, 10), 'Female', 'Thailand')
(30, 'Philippe', 'Brunet', datetime.date(1978, 12, 26), 'Male', 'Canada')
(31, 'Tobias', 'Gregersen', datetime.date(1997, 5, 3), 'Male', 'Denmark')
(32, 'Viktor', 'Likar', datetime.date(1936, 8, 23), 'Male', 'Slovenia')
(33, 'Margita', 'Hudec', datetime.date(1999, 12, 1), 'Female', 'Slovakia')
(34, 'Donald', 'Johnson', datetime.date(1980, 8, 18), 'Male', 'Australia')
(35, 'Serapheia', 'Dakanales', datetime.date(1958, 3, 9), 'Female', 'Greece')
(36, 'Martin', 'Martin', datetime.date(2005, 3, 6), 'Male', 'Cyprus')
(37, 'Mauricio', 'Castillo', datetime.date(1937, 5, 5), 'Male', 'Spain')
(38, 'Marie', 'Lundberg', datetime.date(1965, 8, 15), 'Female', 'Sweden')
(39, 'Felicia', 'Murphy', datetime.date(1975, 3, 19), 'Female', 'Vietnam')
(40, 'Mhmdhsyn', 'Bdlly', datetime.date(1971, 2, 22), 'Male', 'Iran')
(41, 'Julia', 'Cooper', datetime.date(1980, 5, 3), 'Female', 'Egypt')
(42, 'Baccio', 'Agostinelli', datetime.date(1938, 11, 10), 'Male', 'Italy')
(43, 'Violeta', 'Atalaryan', datetime.date(1966, 6, 26), 'Female', 'Armenia')
(44, 'Myrrd', 'Hnry', datetime.date(1951, 7, 18), 'Male', 'Iran')
(45, 'Alicia', 'Valdez', datetime.date(1949, 10, 5), 'Female', 'Philippines')
(46, 'Yamilet', 'Quispe', datetime.date(1970, 4, 19), 'Female', 'Chile')
(47, 'Marc', 'Gautier', datetime.date(2001, 2, 21), 'Male', 'France')
(48, 'Berat', 'Meis', datetime.date(1975, 11, 28), 'Male', 'Netherlands')
(49, 'Dylan', 'Collins', datetime.date(1935, 8, 20), 'Male', 'Bahrain')
(50, 'Tobias', 'Isaksen', datetime.date(1990, 1, 11), 'Male', 'Norway')

In [16]:
print(runners)

[(1, 'Connor', 'Turner', datetime.date(1980, 4, 6), 'Male', 'Cyprus'), (2, 'Bronwen', 'Mac tiarnain', datetime.date(1975, 5, 28), 'Female', 'Ireland'), (3, 'Ephraim', 'Tompre', datetime.date(1942, 7, 2), 'Male', 'Greece'), (4, 'Louis', 'Marsh', datetime.date(1960, 4, 9), 'Male', 'New Zealand'), (5, 'Achim', 'Stan', datetime.date(1992, 4, 15), 'Male', 'Romania'), (6, 'Prem', 'Guptaa', datetime.date(1955, 6, 28), 'Male', 'India'), (7, 'Karl', 'Hovsepov', datetime.date(1971, 11, 25), 'Male', 'Armenia'), (8, 'Njm ldwyn', 'Al lshykh', datetime.date(1981, 5, 27), 'Male', 'Saudi Arabia'), (9, 'Marissa', 'King', datetime.date(2005, 3, 11), 'Female', 'United Arab Emirates'), (10, 'Triona', 'O huallachain', datetime.date(1959, 5, 4), 'Female', 'Ireland'), (11, 'Edda', 'Kofler', datetime.date(1965, 12, 5), 'Female', 'Austria'), (12, 'Illia', 'Batig', datetime.date(1988, 1, 15), 'Male', 'Ukraine'), (13, 'Zenzile', 'Gcumisa', datetime.date(1968, 4, 15), 'Female', 'South Africa'), (14, 'Todd', 'Young', datetime.date(1963, 11, 30), 'Male', 'Vietnam'), (15, 'Vivek', 'Daaraa', datetime.date(1936, 8, 11), 'Male', 'India'), (16, 'Mikayla', 'Hayes', datetime.date(1998, 1, 25), 'Female', 'Luxembourg'), (17, 'Jati', 'Prastuti', datetime.date(1969, 11, 9), 'Male', 'Indonesia'), (18, 'Inga', 'Eriksson', datetime.date(1976, 7, 2), 'Female', 'Sweden'), (19, 'Patricia', 'Davidova', datetime.date(1995, 5, 10), 'Female', 'Slovakia'), (20, 'Hanna', 'Jorgensen', datetime.date(1977, 12, 12), 'Female', 'Norway'), (21, 'Charlotte', 'Cousin', datetime.date(2000, 4, 25), 'Female', 'Switzerland'), (22, 'Theo', 'Kuhn', datetime.date(1951, 4, 8), 'Male', 'Switzerland'), (23, 'Michael', 'Cooper', datetime.date(1954, 1, 27), 'Male', 'Albania'), (24, 'Jarmila', 'Kucera', datetime.date(1969, 1, 8), 'Female', 'Czech Republic'), (25, 'Adriana', 'Duarte', datetime.date(1936, 12, 12), 'Female', 'Colombia'), (26, 'Danny', 'Butler', datetime.date(1958, 10, 9), 'Male', 'Albania'), (27, 'Daniel', 'Wallace', datetime.date(1993, 7, 3), 'Male', 'Jordan'), (28, 'Ln', 'Al bn lfy', datetime.date(1992, 5, 7), 'Female', 'Saudi Arabia'), (29, 'Walyaa', 'Thiiwr', datetime.date(1962, 5, 10), 'Female', 'Thailand'), (30, 'Philippe', 'Brunet', datetime.date(1978, 12, 26), 'Male', 'Canada'), (31, 'Tobias', 'Gregersen', datetime.date(1997, 5, 3), 'Male', 'Denmark'), (32, 'Viktor', 'Likar', datetime.date(1936, 8, 23), 'Male', 'Slovenia'), (33, 'Margita', 'Hudec', datetime.date(1999, 12, 1), 'Female', 'Slovakia'), (34, 'Donald', 'Johnson', datetime.date(1980, 8, 18), 'Male', 'Australia'), (35, 'Serapheia', 'Dakanales', datetime.date(1958, 3, 9), 'Female', 'Greece'), (36, 'Martin', 'Martin', datetime.date(2005, 3, 6), 'Male', 'Cyprus'), (37, 'Mauricio', 'Castillo', datetime.date(1937, 5, 5), 'Male', 'Spain'), (38, 'Marie', 'Lundberg', datetime.date(1965, 8, 15), 'Female', 'Sweden'), (39, 'Felicia', 'Murphy', datetime.date(1975, 3, 19), 'Female', 'Vietnam'), (40, 'Mhmdhsyn', 'Bdlly', datetime.date(1971, 2, 22), 'Male', 'Iran'), (41, 'Julia', 'Cooper', datetime.date(1980, 5, 3), 'Female', 'Egypt'), (42, 'Baccio', 'Agostinelli', datetime.date(1938, 11, 10), 'Male', 'Italy'), (43, 'Violeta', 'Atalaryan', datetime.date(1966, 6, 26), 'Female', 'Armenia'), (44, 'Myrrd', 'Hnry', datetime.date(1951, 7, 18), 'Male', 'Iran'), (45, 'Alicia', 'Valdez', datetime.date(1949, 10, 5), 'Female', 'Philippines'), (46, 'Yamilet', 'Quispe', datetime.date(1970, 4, 19), 'Female', 'Chile'), (47, 'Marc', 'Gautier', datetime.date(2001, 2, 21), 'Male', 'France'), (48, 'Berat', 'Meis', datetime.date(1975, 11, 28), 'Male', 'Netherlands'), (49, 'Dylan', 'Collins', datetime.date(1935, 8, 20), 'Male', 'Bahrain'), (50, 'Tobias', 'Isaksen', datetime.date(1990, 1, 11), 'Male', 'Norway'), (51, 'Ulkr', 'Cingizoglu', datetime.date(1991, 1, 23), 'Female', 'Azerbaijan'), (52, 'Miinaa', 'Shresstth', datetime.date(2005, 4, 13), 'Female', 'Nepal'), (53, 'Swantje', 'Pohl', datetime.date(1962, 10, 15), 'Female', 'Germany'), (54, 'Giorgi', 'Shalamberize', datetime.date(1959, 5, 16), 'Male', 'Georgia'), (55, 'Yves', 'Hamel', datetime.date(1963, 7, 7), 'Male', 'Canada'), (56, 'Akil', 'Olliynnn', datetime.date(1938, 3, 3), 'Male', 'India'), (57, 'Rebecca', 'Howard', datetime.date(1970, 12, 19), 'Female', 'Albania'), (58, 'Shu lan ', 'Li ', datetime.date(1985, 1, 8), 'Female', 'China'), (59, 'Melissa', 'Mckee', datetime.date(2004, 4, 11), 'Female', 'Luxembourg'), (60, 'Diamantoula', 'Tsiaras', datetime.date(1948, 1, 24), 'Female', 'Greece'), (61, 'Vitor', 'Marques', datetime.date(1994, 12, 9), 'Male', 'Portugal'), (62, 'Lubica', 'Duskova', datetime.date(1973, 4, 2), 'Female', 'Slovakia'), (63, 'Cezary', 'Mlynczyk', datetime.date(1982, 4, 27), 'Male', 'Poland'), (64, 'Maksim', 'Asaula', datetime.date(1984, 12, 1), 'Male', 'Ukraine'), (65, 'Heriberto', 'Lobos', datetime.date(1965, 4, 7), 'Male', 'Chile'), (66, 'Sheila', 'Hancock', datetime.date(1964, 4, 4), 'Female', 'Jordan'), (67, 'Sven', 'Karlsson', datetime.date(2003, 9, 22), 'Male', 'Sweden'), (68, 'Inger', 'Persson', datetime.date(1971, 7, 13), 'Female', 'Sweden'), (69, 'Nadia', 'Ribeiro', datetime.date(1993, 2, 25), 'Female', 'Portugal'), (70, 'Vicente', 'Brito', datetime.date(1959, 7, 1), 'Male', 'Brazil'), (71, 'Jesse', 'Alvarez', datetime.date(1983, 2, 10), 'Male', 'Philippines'), (72, 'Stephanie', 'Gingras', datetime.date(1958, 4, 2), 'Female', 'Canada'), (73, 'Vincent', 'Stonge', datetime.date(2002, 1, 25), 'Male', 'Canada'), (74, 'Eva', 'Dube', datetime.date(1989, 5, 4), 'Male', 'India'), (75, 'Frida', 'Kalents', datetime.date(1986, 8, 27), 'Female', 'Armenia'), (76, 'Norman', 'Mac fhualain', datetime.date(1943, 12, 16), 'Male', 'Ireland'), (77, 'Andrej', 'Capkova', datetime.date(2001, 8, 23), 'Male', 'Slovakia'), (78, 'Dana', 'Martinez', datetime.date(1952, 6, 24), 'Female', 'Canada'), (79, 'Ronald', 'Bond', datetime.date(1989, 8, 25), 'Male', 'Cyprus'), (80, 'Nicole', 'Rodriguez', datetime.date(1995, 6, 29), 'Female', 'Egypt'), (81, 'Santiago benjamin', 'Gomez', datetime.date(1962, 10, 11), 'Male', 'Argentina'), (82, 'Iveta', 'Vsiliauskas', datetime.date(2006, 4, 13), 'Male', 'Lithuania'), (83, 'Lars', 'Post', datetime.date(1991, 3, 3), 'Male', 'Netherlands'), (84, 'Guan lin ', 'He ', datetime.date(1995, 1, 23), 'Male', 'Taiwan'), (85, 'Saghatel', 'Katanasyan', datetime.date(1963, 3, 18), 'Male', 'Armenia'), (86, 'Jie yi ', 'Yuan teng ', datetime.date(1989, 8, 19), 'Female', 'Japan'), (87, 'Olivia', 'Vlachovicova', datetime.date(1973, 11, 11), 'Female', 'Slovakia'), (88, 'Brigita', 'Pacharzka', datetime.date(1947, 11, 5), 'Female', 'Bulgaria'), (89, 'Tibor', 'Szabo', datetime.date(1945, 3, 25), 'Male', 'Hungary'), (90, 'Gederts', 'Abolina', datetime.date(1986, 3, 17), 'Male', 'Latvia'), (91, 'Jacques', 'Gaillard', datetime.date(2002, 5, 25), 'Male', 'France'), (92, 'Anna', 'Timofejev', datetime.date(1942, 1, 9), 'Female', 'Estonia'), (93, 'Robin', 'Flores', datetime.date(1961, 4, 3), 'Female', 'Bahrain'), (94, 'Anahera', 'Martin', datetime.date(1987, 8, 27), 'Female', 'New Zealand'), (95, 'Manon', 'Cormier', datetime.date(1955, 6, 10), 'Female', 'Canada'), (96, 'Maria', 'Lopez', datetime.date(1940, 6, 11), 'Female', 'Chile'), (97, 'Charlotte', 'Fletcher', datetime.date(1983, 3, 19), 'Female', 'United Kingdom'), (98, 'Asuncion', 'Jimenez', datetime.date(1955, 7, 11), 'Female', 'Mexico'), (99, 'Steven', 'Paton', datetime.date(1945, 1, 29), 'Male', 'New Zealand'), (100, 'Vilizara', 'Slaninkova', datetime.date(2002, 2, 26), 'Male', 'Bulgaria'), (101, 'Daniel', 'Vaughn', datetime.date(1935, 8, 2), 'Male', 'Canada'), (102, 'Jing yi ', 'Wang ', datetime.date(1935, 7, 28), 'Female', 'Taiwan'), (103, 'Claudia', 'Maes', datetime.date(1999, 2, 15), 'Female', 'Belgium'), (104, 'Jiri', 'Nemeckova', datetime.date(2002, 3, 7), 'Male', 'Czech Republic'), (105, 'Vladimir', 'Tomescu', datetime.date(1992, 4, 15), 'Male', 'Romania'), (106, 'Badal', 'Thakur', datetime.date(1995, 2, 1), 'Female', 'India'), (107, 'Langalibalele', 'Thusini', datetime.date(1954, 12, 11), 'Male', 'South Africa'), (108, 'Tammy', 'Perry', datetime.date(1983, 9, 7), 'Female', 'Australia'), (109, 'Radvile', 'Gaizauskas', datetime.date(1987, 6, 8), 'Male', 'Lithuania'), (110, 'Mati', 'Sade', datetime.date(1982, 1, 23), 'Male', 'Estonia'), (111, 'Debora', 'Miranda', datetime.date(2000, 10, 16), 'Female', 'Portugal'), (112, 'Madhav', 'Barad', datetime.date(1940, 4, 7), 'Female', 'India'), (113, 'Aharon', 'Abgaryan', datetime.date(1983, 3, 22), 'Male', 'Armenia'), (114, 'Joao lucas', 'Marques', datetime.date(2006, 4, 29), 'Male', 'Brazil'), (115, 'Nicole', 'Pittman', datetime.date(1953, 2, 4), 'Female', 'Vietnam'), (116, 'Kimberly', 'Rogers', datetime.date(1997, 5, 28), 'Female', 'Australia'), (117, 'Elyas', 'Schachinger', datetime.date(1962, 2, 14), 'Male', 'Austria'), (118, 'Clara', 'Usamah', datetime.date(1986, 11, 19), 'Female', 'Indonesia'), (119, 'Kjell', 'Persson', datetime.date(1937, 7, 21), 'Male', 'Sweden'), (120, 'Adam', 'Pacheco', datetime.date(2002, 7, 7), 'Male', 'United States'), (121, 'Jill', 'Claassen', datetime.date(1938, 8, 12), 'Female', 'Netherlands'), (122, 'Hly', 'Lhwty', datetime.date(1944, 11, 12), 'Female', 'Iran'), (123, 'Valerii', 'Vovk', datetime.date(1988, 12, 8), 'Male', 'Ukraine'), (124, 'Elizabeth', 'Ross', datetime.date(1940, 5, 20), 'Female', 'Bosnia and Herzegovina'), (125, 'Li ', 'Ou ', datetime.date(1996, 8, 9), 'Male', 'China'), (126, 'Irina', 'Soboleva', datetime.date(1966, 12, 3), 'Female', 'Russia'), (127, 'Mhmd', 'Shrfy', datetime.date(1948, 3, 15), 'Male', 'Iran'), (128, 'Yu hua ', 'Wang ', datetime.date(1942, 1, 23), 'Female', 'China'), (129, 'Sandra', 'Parmitano', datetime.date(1977, 12, 19), 'Female', 'Italy'), (130, 'Zhe wei ', 'Zhu ', datetime.date(1988, 3, 17), 'Male', 'Taiwan'), (131, 'Raymond', 'Nusslin', datetime.date(1952, 9, 9), 'Male', 'Switzerland'), (132, 'Brenda', 'Hayes', datetime.date(1935, 1, 21), 'Female', 'Switzerland'), (133, 'Sennur', 'Dumanli', datetime.date(1976, 10, 22), 'Female', 'Turkey'), (134, 'Liepa', 'Butkus', datetime.date(1940, 1, 30), 'Male', 'Lithuania'), (135, 'Christopher', 'Roy', datetime.date(1975, 9, 26), 'Male', 'Australia'), (136, 'Nestan', 'Mikava', datetime.date(1968, 7, 23), 'Female', 'Georgia'), (137, 'Aninditaa', 'Gnggopaadhyaay', datetime.date(1952, 2, 21), 'Female', 'Bangladesh'), (138, 'Aknnneeyi', 'Raakinnni', datetime.date(1982, 10, 10), 'Female', 'India'), (139, 'Sebastien', 'Duvanel', datetime.date(1955, 11, 10), 'Male', 'Switzerland'), (140, 'Noel', 'Blais', datetime.date(2003, 8, 16), 'Male', 'Canada'), (141, 'George', 'Reed', datetime.date(1969, 3, 12), 'Male', 'Australia'), (142, 'Kismat', 'Dhar', datetime.date(1936, 11, 5), 'Male', 'India'), (143, 'Zhi ', 'Teng tian ', datetime.date(1981, 8, 7), 'Male', 'Japan'), (144, 'Seongsu', 'Gim', datetime.date(1965, 7, 28), 'Male', 'South Korea'), (145, 'German', 'Machado', datetime.date(1984, 5, 15), 'Male', 'Spain'), (146, 'Suse', 'Nohlmans', datetime.date(1993, 8, 21), 'Female', 'Germany'), (147, 'Michele', 'Henry', datetime.date(2002, 8, 10), 'Female', 'United Arab Emirates'), (148, 'Saaii', 'Mhaaviir', datetime.date(1995, 5, 10), 'Male', 'India'), (149, 'Joan', 'O giollaruaidhe', datetime.date(1936, 2, 11), 'Female', 'Ireland'), (150, 'Ville', 'Rautio', datetime.date(1940, 1, 14), 'Male', 'Finland'), (151, 'Musa', 'Nyembezi', datetime.date(1949, 4, 8), 'Male', 'South Africa'), (152, 'Ykhya', 'Yshraly', datetime.date(1973, 8, 11), 'Male', 'Israel'), (153, 'Iustim', 'Shapoval', datetime.date(1946, 4, 5), 'Male', 'Ukraine'), (154, 'Bondo', 'Xachize', datetime.date(1986, 3, 27), 'Male', 'Georgia'), (155, 'Marjatta', 'Heikkila', datetime.date(1940, 8, 18), 'Female', 'Finland'), (156, 'Claude', 'Lemaire', datetime.date(2004, 6, 23), 'Male', 'Belgium'), (157, 'Lidiia', 'Molchanova', datetime.date(1995, 2, 7), 'Female', 'Russia'), (158, 'Mariane', 'Gomes', datetime.date(1989, 11, 27), 'Female', 'Brazil'), (159, 'Tahir ', 'Nrimanov', datetime.date(1981, 8, 2), 'Male', 'Azerbaijan'), (160, 'Joso', 'Grzetic', datetime.date(1942, 2, 15), 'Male', 'Croatia'), (161, 'Istvan', 'Szabo', datetime.date(1950, 10, 24), 'Male', 'Hungary'), (162, 'Brad', 'Marshall', datetime.date(1982, 5, 23), 'Male', 'Canada'), (163, 'Gregory', 'Howard', datetime.date(1999, 10, 8), 'Male', 'Vietnam'), (164, 'Jie yi ', 'Jia teng ', datetime.date(1936, 4, 1), 'Female', 'Japan'), (165, 'David', 'Moore', datetime.date(1996, 12, 29), 'Male', 'Bahrain'), (166, 'George', 'Nichols', datetime.date(1947, 10, 11), 'Male', 'Australia'), (167, 'Taamaannaa', 'Brmn', datetime.date(1940, 10, 1), 'Female', 'Bangladesh'), (168, 'Sandra', 'Thomas', datetime.date(1944, 1, 15), 'Female', 'United States'), (169, 'Robin', 'Langevoort', datetime.date(1967, 11, 15), 'Male', 'Netherlands'), (170, 'Sokrat', 'Larionova', datetime.date(1954, 6, 2), 'Male', 'Russia'), (171, 'Liang jie ', 'Ling mu ', datetime.date(1969, 10, 13), 'Male', 'Japan'), (172, 'Rudolf', 'Rozic', datetime.date(1960, 1, 17), 'Male', 'Slovenia'), (173, 'Seyran', 'Bagratowni', datetime.date(1995, 12, 7), 'Male', 'Armenia'), (174, 'Kestutis', 'Stankevicius', datetime.date(1979, 4, 21), 'Female', 'Lithuania'), (175, 'Risto', 'Heinonen', datetime.date(1998, 8, 21), 'Male', 'Finland'), (176, 'Barbara', 'Hart', datetime.date(1936, 12, 13), 'Female', 'United States'), (177, 'Luis', 'Herrera', datetime.date(1985, 8, 6), 'Male', 'Colombia'), (178, 'Edoardo', 'Ritacca', datetime.date(1993, 8, 23), 'Male', 'Italy'), (179, 'Varvara', 'Gaida', datetime.date(1998, 2, 23), 'Female', 'Ukraine'), (180, 'Shi ting ', 'Zhang ', datetime.date(1951, 6, 9), 'Female', 'Taiwan'), (181, 'Danielle', 'Rolland', datetime.date(1968, 10, 7), 'Female', 'France'), (182, 'Zain', 'Sachdeva', datetime.date(1950, 7, 16), 'Female', 'India'), (183, 'Istvan', 'Horvath', datetime.date(1936, 12, 21), 'Male', 'Hungary'), (184, 'Stephanie', 'Campbell', datetime.date(1952, 6, 22), 'Female', 'Vietnam'), (185, 'Fr', 'Ldbg', datetime.date(1973, 7, 15), 'Male', 'Saudi Arabia'), (186, 'Sara', 'Kemp', datetime.date(1962, 4, 16), 'Female', 'Bosnia and Herzegovina'), (187, 'Rymas', 'Albz', datetime.date(1987, 1, 14), 'Female', 'Israel'), (188, 'Kari', 'Koski', datetime.date(1956, 9, 29), 'Male', 'Finland'), (189, 'Apolinar', 'Balaguer', datetime.date(1996, 9, 24), 'Male', 'Spain'), (190, 'Itziar', 'Castilla', datetime.date(1983, 3, 25), 'Female', 'Spain'), (191, 'Itso', 'Mangrov', datetime.date(1985, 2, 10), 'Male', 'Bulgaria'), (192, 'Oliva', 'Rojas', datetime.date(1957, 4, 27), 'Female', 'Colombia'), (193, 'Vedika', 'Singh', datetime.date(1989, 8, 1), 'Female', 'India'), (194, 'Manuel', 'Figueroa', datetime.date(1999, 3, 10), 'Male', 'Chile'), (195, 'Unnnnnnt', 'Akul', datetime.date(1939, 10, 4), 'Male', 'India'), (196, 'Prtyy', 'Khaan', datetime.date(1963, 1, 3), 'Male', 'Bangladesh'), (197, 'Shkhr', 'Lvy', datetime.date(1963, 6, 1), 'Male', 'Israel'), (198, 'Jennifer', 'Morris', datetime.date(1939, 6, 8), 'Female', 'Vietnam'), (199, 'Jan', 'Van daele', datetime.date(1941, 2, 17), 'Male', 'Belgium'), (200, 'Stanka', 'Zupan', datetime.date(1970, 6, 12), 'Female', 'Slovenia'), (201, 'Miguel', 'Galaz', datetime.date(1945, 12, 26), 'Male', 'Chile'), (202, 'Leon', 'Iushchenko', datetime.date(1934, 8, 5), 'Male', 'Ukraine'), (203, 'Ryd', 'Al mqt', datetime.date(1962, 1, 11), 'Male', 'Saudi Arabia'), (204, 'Kelly', 'Franco', datetime.date(1934, 10, 27), 'Female', 'Colombia'), (205, 'Astrid', 'Leger', datetime.date(1988, 11, 28), 'Female', 'France'), (206, 'Patrick', 'Hernandez', datetime.date(2000, 1, 17), 'Male', 'Albania'), (207, 'Ting wei ', 'Qi ', datetime.date(1942, 3, 17), 'Male', 'Taiwan'), (208, 'Dylan', 'Holmes', datetime.date(1950, 10, 15), 'Male', 'Vietnam'), (209, 'Alisha', 'Curry', datetime.date(2002, 4, 17), 'Female', 'Switzerland'), (210, 'David', 'Martin', datetime.date(1942, 12, 27), 'Male', 'Cyprus'), (211, 'Gan ', 'Du bian ', datetime.date(1943, 2, 23), 'Female', 'Japan'), (212, 'Sylwia', 'Borysiak', datetime.date(1985, 9, 19), 'Female', 'Poland'), (213, 'Nuca', 'Liparteliani', datetime.date(1941, 12, 11), 'Female', 'Georgia'), (214, 'Zyv', 'Mkhagnh', datetime.date(1992, 9, 12), 'Female', 'Israel'), (215, 'Diana', 'Gaizauskas', datetime.date(1994, 2, 9), 'Female', 'Lithuania'), (216, 'Abhissek', 'Islaam', datetime.date(1971, 6, 22), 'Male', 'Bangladesh'), (217, 'Hanseberhard', 'Hess', datetime.date(2001, 5, 3), 'Male', 'Germany'), (218, 'Alexander', 'Johnson', datetime.date(1966, 10, 30), 'Male', 'Australia'), (219, 'Bhamini', 'Tak', datetime.date(1942, 7, 31), 'Male', 'India'), (220, 'Sriikaant', 'Aattl', datetime.date(2001, 12, 14), 'Male', 'India'), (221, 'Luis', 'Ortiz', datetime.date(2003, 10, 8), 'Male', 'Colombia'), (222, 'Zoran', 'Hilmerova', datetime.date(1942, 1, 6), 'Male', 'Slovakia'), (223, 'Teimuraz', 'Chixlaze', datetime.date(1994, 6, 12), 'Male', 'Georgia'), (224, 'Anikaa', 'Kaale', datetime.date(1950, 11, 14), 'Male', 'India'), (225, 'Veronica', 'Smith', datetime.date(1970, 11, 16), 'Female', 'Bosnia and Herzegovina'), (226, 'Manuel', 'Rojas', datetime.date(1992, 6, 29), 'Male', 'Colombia'), (227, 'Paula', 'Gardner', datetime.date(1968, 2, 7), 'Female', 'Cyprus'), (228, 'Daniel', 'Johnson', datetime.date(1983, 5, 17), 'Male', 'Canada'), (229, 'Jeremias', 'Stalder', datetime.date(2005, 3, 18), 'Male', 'Switzerland'), (230, 'Roger', 'Murphy', datetime.date(1957, 1, 29), 'Male', 'Vietnam'), (231, 'Richard', 'Roarke', datetime.date(1990, 3, 1), 'Male', 'Ireland'), (232, 'Alain', 'Jacob', datetime.date(1954, 4, 26), 'Male', 'Belgium'), (233, 'Sonia', 'Putkaraze', datetime.date(1952, 8, 30), 'Female', 'Georgia'), (234, 'Gheorghita', 'Ionescu', datetime.date(2001, 7, 10), 'Male', 'Romania'), (235, 'Sonata', 'Nagys', datetime.date(2000, 1, 13), 'Female', 'Lithuania'), (236, 'Alfonso', 'Matos', datetime.date(1940, 6, 5), 'Female', 'Mexico'), (237, 'Botsa', 'Kolchev', datetime.date(1986, 3, 27), 'Female', 'Bulgaria'), (238, 'Lubos', 'Kopecka', datetime.date(1955, 7, 13), 'Male', 'Czech Republic'), (239, 'Marine', 'Georges', datetime.date(1940, 4, 3), 'Female', 'France'), (240, 'Erica', 'Reed', datetime.date(1977, 11, 13), 'Female', 'Philippines'), (241, 'Irene', 'Perkins', datetime.date(1965, 7, 24), 'Female', 'United Kingdom'), (242, 'Brian', 'Jesus', datetime.date(1984, 10, 20), 'Male', 'Portugal'), (243, 'Jonathan', 'Segersun', datetime.date(2001, 12, 23), 'Male', 'Ireland'), (244, 'Varvara', 'Pilipenko', datetime.date(1943, 6, 23), 'Female', 'Ukraine'), (245, 'Tracy', 'Price', datetime.date(1934, 6, 28), 'Female', 'United Arab Emirates'), (246, 'Brian', 'Gibson', datetime.date(1948, 1, 15), 'Male', 'Egypt'), (247, 'Simao', 'Cunha', datetime.date(1967, 8, 6), 'Male', 'Portugal'), (248, 'Robert', 'Jones', datetime.date(1949, 8, 25), 'Male', 'Egypt'), (249, 'Terry', 'Bryant', datetime.date(1938, 11, 27), 'Male', 'Cyprus'), (250, 'Tai yi ', 'Chang gu chuan ', datetime.date(2005, 9, 28), 'Male', 'Japan'), (251, 'Raymond', 'Willis', datetime.date(2003, 12, 9), 'Male', 'United Kingdom'), (252, 'Antoniu', 'Stancu', datetime.date(1984, 12, 18), 'Male', 'Romania'), (253, 'Thaddeus', 'Mac mairtin', datetime.date(1936, 1, 4), 'Male', 'Ireland'), (254, 'Mark', 'Magee', datetime.date(1939, 1, 10), 'Male', 'Ireland'), (255, 'Mary', 'Bennett', datetime.date(1979, 12, 26), 'Female', 'Philippines'), (256, 'Peter', 'Lewis', datetime.date(1998, 9, 23), 'Male', 'Jordan'), (257, 'Elizabeth', 'Juarez', datetime.date(1994, 7, 18), 'Female', 'Bosnia and Herzegovina'), (258, 'Elizabeth', 'Shepherd', datetime.date(1984, 7, 26), 'Female', 'Jordan'), (259, 'Maude', 'Richer', datetime.date(1980, 8, 30), 'Female', 'Canada'), (260, 'Jeffery', 'West', datetime.date(1948, 5, 30), 'Male', 'Philippines'), (261, 'Iuliian', 'Vrazhalski', datetime.date(2005, 9, 15), 'Male', 'Bulgaria'), (262, 'Stephanie', 'Mccormick', datetime.date(1969, 1, 9), 'Female', 'Egypt'), (263, 'Erik', 'Lopez', datetime.date(2003, 7, 31), 'Male', 'Egypt'), (2

In [17]:
unique_countries = set(runner[5] for runner in runners)
print("Unique countries:", unique_countries)

Unique countries: {'Slovakia', 'Sweden', 'Colombia', 'Italy', 'Egypt', 'Poland', 'Belgium', 'France', 'Japan', 'Greece', 'Vietnam', 'United States', 'Bangladesh', 'New Zealand', 'Germany', 'Ireland', 'Switzerland', 'Armenia', 'United Arab Emirates', 'Bahrain', 'Georgia', 'Latvia', 'Indonesia', 'Philippines', 'China', 'Netherlands', 'Finland', 'Ukraine', 'Hungary', 'Saudi Arabia', 'South Africa', 'India', 'Norway', 'Romania', 'Brazil', 'Slovenia', 'Lithuania', 'Chile', 'Nepal', 'Jordan', 'Portugal', 'Denmark', 'Spain', 'Albania', 'Czech Republic', 'Iran', 'United Kingdom', 'Russia', 'Estonia', 'South Korea', 'Austria', 'Luxembourg', 'Canada', 'Israel', 'Azerbaijan', 'Thailand', 'Croatia', 'Cyprus', 'Bosnia and Herzegovina', 'Mexico', 'Turkey', 'Taiwan', 'Argentina', 'Bulgaria', 'Australia'}

In [18]:
print(runners[:10])

[(1, 'Connor', 'Turner', datetime.date(1980, 4, 6), 'Male', 'Cyprus'), (2, 'Bronwen', 'Mac tiarnain', datetime.date(1975, 5, 28), 'Female', 'Ireland'), (3, 'Ephraim', 'Tompre', datetime.date(1942, 7, 2), 'Male', 'Greece'), (4, 'Louis', 'Marsh', datetime.date(1960, 4, 9), 'Male', 'New Zealand'), (5, 'Achim', 'Stan', datetime.date(1992, 4, 15), 'Male', 'Romania'), (6, 'Prem', 'Guptaa', datetime.date(1955, 6, 28), 'Male', 'India'), (7, 'Karl', 'Hovsepov', datetime.date(1971, 11, 25), 'Male', 'Armenia'), (8, 'Njm ldwyn', 'Al lshykh', datetime.date(1981, 5, 27), 'Male', 'Saudi Arabia'), (9, 'Marissa', 'King', datetime.date(2005, 3, 11), 'Female', 'United Arab Emirates'), (10, 'Triona', 'O huallachain', datetime.date(1959, 5, 4), 'Female', 'Ireland')]

In [19]:
runners_countries = runners[5]
print(runners_countries)

(6, 'Prem', 'Guptaa', datetime.date(1955, 6, 28), 'Male', 'India')

In [20]:
# Generate Events Table
events = []
event_id = 1
for marathon_name, dates in marathons:
    for event_date in dates:
        events.append((
            event_id,
            marathon_name,
            datetime.datetime.strptime(event_date, "%Y-%m-%d").date()  # Ensure event_date is a datetime.date object 
        ))
        event_id += 1

In [21]:
print(events)

[(1, 'Boston Marathon', datetime.date(2012, 4, 16)), (2, 'Boston Marathon', datetime.date(2013, 4, 15)), (3, 'Boston Marathon', datetime.date(2014, 4, 21)), (4, 'Boston Marathon', datetime.date(2015, 4, 20)), (5, 'Boston Marathon', datetime.date(2016, 4, 18)), (6, 'Boston Marathon', datetime.date(2017, 4, 17)), (7, 'Boston Marathon', datetime.date(2018, 4, 16)), (8, 'Boston Marathon', datetime.date(2019, 4, 15)), (9, 'Boston Marathon', datetime.date(2020, 10, 11)), (10, 'Boston Marathon', datetime.date(2021, 10, 11)), (11, 'Boston Marathon', datetime.date(2022, 4, 18)), (12, 'Boston Marathon', datetime.date(2023, 4, 17)), (13, 'London Marathon', datetime.date(2012, 4, 22)), (14, 'London Marathon', datetime.date(2013, 4, 21)), (15, 'London Marathon', datetime.date(2014, 4, 21)), (16, 'London Marathon', datetime.date(2015, 4, 26)), (17, 'London Marathon', datetime.date(2016, 4, 24)), (18, 'London Marathon', datetime.date(2017, 4, 23)), (19, 'London Marathon', datetime.date(2018, 4, 22)), (20, 'London Marathon', datetime.date(2019, 4, 28)), (21, 'London Marathon', datetime.date(2020, 10, 4)), (22, 'London Marathon', datetime.date(2021, 10, 3)), (23, 'London Marathon', datetime.date(2022, 10, 2)), (24, 'London Marathon', datetime.date(2023, 4, 23)), (25, 'New York City Marathon', datetime.date(2012, 11, 4)), (26, 'New York City Marathon', datetime.date(2013, 11, 3)), (27, 'New York City Marathon', datetime.date(2014, 11, 2)), (28, 'New York City Marathon', datetime.date(2015, 11, 1)), (29, 'New York City Marathon', datetime.date(2016, 11, 6)), (30, 'New York City Marathon', datetime.date(2017, 11, 5)), (31, 'New York City Marathon', datetime.date(2018, 11, 4)), (32, 'New York City Marathon', datetime.date(2019, 11, 3)), (33, 'New York City Marathon', datetime.date(2020, 12, 13)), (34, 'New York City Marathon', datetime.date(2021, 11, 7)), (35, 'New York City Marathon', datetime.date(2022, 11, 6)), (36, 'New York City Marathon', datetime.date(2023, 11, 5)), (37, 'Berlin Marathon', datetime.date(2012, 9, 30)), (38, 'Berlin Marathon', datetime.date(2013, 9, 29)), (39, 'Berlin Marathon', datetime.date(2014, 9, 28)), (40, 'Berlin Marathon', datetime.date(2015, 9, 27)), (41, 'Berlin Marathon', datetime.date(2016, 9, 25)), (42, 'Berlin Marathon', datetime.date(2017, 9, 24)), (43, 'Berlin Marathon', datetime.date(2018, 9, 16)), (44, 'Berlin Marathon', datetime.date(2019, 9, 29)), (45, 'Berlin Marathon', datetime.date(2020, 9, 27)), (46, 'Berlin Marathon', datetime.date(2021, 9, 26)), (47, 'Berlin Marathon', datetime.date(2022, 9, 25)), (48, 'Berlin Marathon', datetime.date(2023, 9, 24)), (49, 'Chicago Marathon', datetime.date(2012, 10, 7)), (50, 'Chicago Marathon', datetime.date(2013, 10, 13)), (51, 'Chicago Marathon', datetime.date(2014, 10, 12)), (52, 'Chicago Marathon', datetime.date(2015, 10, 11)), (53, 'Chicago Marathon', datetime.date(2016, 10, 9)), (54, 'Chicago Marathon', datetime.date(2017, 10, 8)), (55, 'Chicago Marathon', datetime.date(2018, 10, 7)), (56, 'Chicago Marathon', datetime.date(2019, 10, 13)), (57, 'Chicago Marathon', datetime.date(2020, 10, 11)), (58, 'Chicago Marathon', datetime.date(2021, 10, 10)), (59, 'Chicago Marathon', datetime.date(2022, 10, 9)), (60, 'Chicago Marathon', datetime.date(2023, 10, 8)), (61, 'Tokyo Marathon', datetime.date(2012, 2, 26)), (62, 'Tokyo Marathon', datetime.date(2013, 2, 24)), (63, 'Tokyo Marathon', datetime.date(2014, 2, 23)), (64, 'Tokyo Marathon', datetime.date(2015, 2, 22)), (65, 'Tokyo Marathon', datetime.date(2016, 2, 28)), (66, 'Tokyo Marathon', datetime.date(2017, 2, 26)), (67, 'Tokyo Marathon', datetime.date(2018, 2, 25)), (68, 'Tokyo Marathon', datetime.date(2019, 3, 3)), (69, 'Tokyo Marathon', datetime.date(2020, 3, 1)), (70, 'Tokyo Marathon', datetime.date(2021, 3, 7)), (71, 'Tokyo Marathon', datetime.date(2022, 3, 6)), (72, 'Tokyo Marathon', datetime.date(2023, 3, 5))]

In [22]:
# Generate Results Table
results = []
assigned_pairs = set()  # Set to keep track of assigned (runner_id, event_id) pairs

In [23]:
# World record times in hours (for comparison)
mens_world_record = 2 + 35/3600  # 2:00:35 Eliud Kipchoge Marathon 2023 WR 
womens_world_record = 2 + 11/60 + 53/3600  # 2:11:53 Brigid Kosgei 2019 WR

# Upper limits for times in hours
mens_upper_limit = 2 + 50/60  # 2:50:00 for men
womens_upper_limit = 3  # 3:00:00 for women

# Initialize variables
assigned_pairs = set()  # To track unique (runner_id, event_id) pairs
results = []  # List to store results

# Function to generate random valid times between WR and upper limit
def generate_valid_time(category):
    # Determine the base time (WR), upper limit, and elite threshold
    if category == 'Male':
        base_time = mens_world_record  # Base time is the men's world record
        upper_limit = mens_upper_limit  # Upper limit for men is 2:50:00
        elite_threshold = 2.15  # Elite threshold for men is 2:15:00
    else:
        base_time = womens_world_record  # Base time is the women's world record
        upper_limit = womens_upper_limit  # Upper limit for women is 3:00:00
        elite_threshold = 2.30  # Elite threshold for women is 2:30:00
    
    # Generate a random valid time between the world record and the upper limit
    random_time_in_hours = random.uniform(base_time, upper_limit)
    
    # Convert the final time to HH:MM:SS format
    total_seconds = random_time_in_hours * 3600
    hours = int(total_seconds // 3600)
    minutes = int((total_seconds % 3600) // 60)
    seconds = int(total_seconds % 60)
    
    # Return the time in HH:MM:SS format, final time in hours (float), and elite threshold
    return f"{hours:02}:{minutes:02}:{seconds:02}", random_time_in_hours, elite_threshold

# Create results for each runner
for i in range(1, num_results + 1):
    # Limit the number of attempts to find a unique (runner_id, event_id) pair
    attempts = 0
    max_attempts = 100
    unique_pair_found = False
    
    while attempts < max_attempts:
        runner_id = random.randint(1, num_runners)
        event_id = random.randint(1, num_events)  # Randomly select an event_id from all events
        
        if (runner_id, event_id) not in assigned_pairs:
            assigned_pairs.add((runner_id, event_id))  # Record the (runner_id, event_id) pair
            unique_pair_found = True
            break
        
        attempts += 1
    
    if not unique_pair_found:
        print(f"Could not find a unique (runner_id, event_id) pair after {max_attempts} attempts. Exiting loop.")
        break
    
    # Get the runner details
    runner = next(r for r in runners if r[0] == runner_id)
    category = runner[4]  # Use the runner's category from the runners table
    time_is_elite = 'False'
    
    # Generate a valid finish time and hours based on the runner's category
    finish_time, hours, elite_threshold = generate_valid_time(category)
    
    # Determine if the runner's finish time is elite based on the category
    if hours < elite_threshold:  # Mark as elite if below threshold (for both men and women)
        time_is_elite = 'True'
    
    # Append the result
    results.append((
        i,  # Result ID
        event_id,  # Event ID
        runner_id,  # Runner ID
        finish_time,  # Finish time in HH:MM:SS
        category,  # Category ('Male' or 'Female')
        time_is_elite  # Whether the runner is elite or not
    ))

# Check the number of results created
print(f"Total results created: {len(results)}")

Could not find a unique (runner_id, event_id) pair after 100 attempts. Exiting loop.
Total results created: 68075

In [24]:
# Check results
for result in results[:100]:
    print(result[:100])

(1, 66, 135, '02:03:19', 'Male', 'True')
(2, 40, 568, '02:14:49', 'Male', 'False')
(3, 21, 916, '02:39:32', 'Female', 'False')
(4, 45, 491, '02:44:26', 'Male', 'False')
(5, 51, 613, '02:31:32', 'Male', 'False')
(6, 29, 747, '02:33:15', 'Female', 'False')
(7, 68, 396, '02:50:53', 'Female', 'False')
(8, 35, 805, '02:13:29', 'Male', 'False')
(9, 57, 263, '02:38:06', 'Male', 'False')
(10, 56, 721, '02:42:01', 'Female', 'False')
(11, 42, 476, '02:51:48', 'Female', 'False')
(12, 45, 950, '02:29:58', 'Female', 'False')
(13, 65, 471, '02:11:48', 'Male', 'False')
(14, 44, 994, '02:34:12', 'Female', 'False')
(15, 50, 140, '02:15:00', 'Male', 'False')
(16, 72, 769, '02:09:47', 'Male', 'False')
(17, 13, 104, '02:47:31', 'Male', 'False')
(18, 2, 672, '02:35:55', 'Male', 'False')
(19, 49, 11, '02:53:24', 'Female', 'False')
(20, 22, 113, '02:14:26', 'Male', 'False')
(21, 1, 36, '02:10:38', 'Male', 'False')
(22, 38, 519, '02:34:33', 'Female', 'False')
(23, 14, 733, '02:26:53', 'Male', 'False')
(24, 25, 776, '02:25:41', 'Female', 'False')
(25, 37, 66, '02:22:45', 'Female', 'False')
(26, 23, 285, '02:18:03', 'Female', 'False')
(27, 21, 546, '02:33:08', 'Male', 'False')
(28, 4, 132, '02:59:17', 'Female', 'False')
(29, 61, 1000, '02:23:41', 'Female', 'False')
(30, 43, 311, '02:00:44', 'Male', 'True')
(31, 64, 473, '02:03:41', 'Male', 'True')
(32, 46, 769, '02:42:12', 'Male', 'False')
(33, 21, 198, '02:52:01', 'Female', 'False')
(34, 2, 685, '02:16:38', 'Male', 'False')
(35, 21, 732, '02:43:02', 'Male', 'False')
(36, 67, 434, '02:08:41', 'Male', 'True')
(37, 65, 943, '02:26:50', 'Female', 'False')
(38, 27, 37, '02:45:13', 'Male', 'False')
(39, 70, 484, '02:41:16', 'Male', 'False')
(40, 35, 122, '02:28:04', 'Female', 'False')
(41, 17, 9, '02:18:49', 'Female', 'False')
(42, 58, 534, '02:57:45', 'Female', 'False')
(43, 38, 465, '02:30:28', 'Male', 'False')
(44, 50, 262, '02:19:17', 'Female', 'False')
(45, 58, 887, '02:44:10', 'Male', 'False')
(46, 5, 207, '02:38:01', 'Male', 'False')
(47, 40, 798, '02:44:44', 'Female', 'False')
(48, 28, 545, '02:58:33', 'Female', 'False')
(49, 2, 168, '02:22:47', 'Female', 'False')
(50, 16, 597, '02:40:26', 'Female', 'False')
(51, 19, 245, '02:23:53', 'Female', 'False')
(52, 35, 68, '02:53:33', 'Female', 'False')
(53, 24, 706, '02:04:55', 'Male', 'True')
(54, 9, 598, '02:46:59', 'Female', 'False')
(55, 7, 361, '02:52:54', 'Female', 'False')
(56, 22, 714, '02:48:09', 'Male', 'False')
(57, 13, 214, '02:33:30', 'Female', 'False')
(58, 35, 882, '02:41:53', 'Male', 'False')
(59, 50, 942, '02:58:07', 'Female', 'False')
(60, 46, 522, '02:47:21', 'Male', 'False')
(61, 25, 486, '02:40:06', 'Male', 'False')
(62, 51, 34, '02:39:25', 'Male', 'False')
(63, 21, 651, '02:01:37', 'Male', 'True')
(64, 29, 66, '02:31:00', 'Female', 'False')
(65, 34, 908, '02:12:38', 'Male', 'False')
(66, 71, 911, '02:15:56', 'Female', 'True')
(67, 29, 440, '02:02:19', 'Male', 'True')
(68, 47, 633, '02:39:16', 'Male', 'False')
(69, 18, 666, '02:14:58', 'Female', 'True')
(70, 18, 127, '02:09:10', 'Male', 'False')
(71, 52, 243, '02:43:21', 'Male', 'False')
(72, 1, 558, '02:00:55', 'Male', 'True')
(73, 40, 816, '02:54:34', 'Female', 'False')
(74, 51, 962, '02:15:16', 'Male', 'False')
(75, 70, 159, '02:40:06', 'Male', 'False')
(76, 19, 281, '02:24:58', 'Male', 'False')
(77, 12, 78, '02:23:02', 'Female', 'False')
(78, 50, 159, '02:16:20', 'Male', 'False')
(79, 69, 818, '02:13:56', 'Male', 'False')
(80, 43, 847, '02:32:36', 'Male', 'False')
(81, 30, 130, '02:34:23', 'Male', 'False')
(82, 54, 441, '02:02:38', 'Male', 'True')
(83, 56, 104, '02:22:03', 'Male', 'False')
(84, 47, 659, '02:02:32', 'Male', 'True')
(85, 12, 844, '02:44:05', 'Male', 'False')
(86, 5, 862, '02:11:21', 'Male', 'False')
(87, 11, 93, '02:16:16', 'Female', 'True')
(88, 22, 998, '02:48:48', 'Male', 'False')
(89, 50, 74, '02:11:46', 'Male', 'False')
(90, 61, 784, '02:46:54', 'Male', 'False')
(91, 10, 491, '02:18:36', 'Male', 'False')
(92, 10, 392, '02:12:16', 'Male', 'False')
(93, 21, 492, '02:40:06', 'Male', 'False')
(94, 23, 549, '02:15:31', 'Female', 'True')
(95, 57, 282, '02:39:52', 'Male', 'False')
(96, 24, 958, '02:14:49', 'Female', 'True')
(97, 47, 315, '02:27:47', 'Male', 'False')
(98, 64, 246, '02:28:06', 'Male', 'False')
(99, 63, 840, '02:17:34', 'Female', 'True')
(100, 60, 370, '02:45:45', 'Female', 'False')

In [25]:
# Filter out male runners and sort by finish time
male_finishers = [result for result in results if result[4] == 'Male']  # Filter for male runners
male_finishers_sorted = sorted(male_finishers, key=lambda x: x[3])  # Sort by finish_time (string comparison works)

# Get the top 20 male finishers
top_20_male_finishers = male_finishers_sorted[:100]

# Print the top 20 male finishers
print("Top 20 Male Finishers:")
for finisher in top_20_male_finishers:
    print(f"Runner ID: {finisher[2]}, Event ID: {finisher[1]}, Finish Time: {finisher[3]}, Elite: {finisher[5]}")

Top 20 Male Finishers:
Runner ID: 853, Event ID: 26, Finish Time: 02:00:35, Elite: True
Runner ID: 323, Event ID: 41, Finish Time: 02:00:35, Elite: True
Runner ID: 915, Event ID: 68, Finish Time: 02:00:35, Elite: True
Runner ID: 228, Event ID: 38, Finish Time: 02:00:35, Elite: True
Runner ID: 903, Event ID: 65, Finish Time: 02:00:35, Elite: True
Runner ID: 378, Event ID: 51, Finish Time: 02:00:35, Elite: True
Runner ID: 675, Event ID: 62, Finish Time: 02:00:35, Elite: True
Runner ID: 156, Event ID: 34, Finish Time: 02:00:35, Elite: True
Runner ID: 724, Event ID: 6, Finish Time: 02:00:35, Elite: True
Runner ID: 814, Event ID: 19, Finish Time: 02:00:35, Elite: True
Runner ID: 531, Event ID: 40, Finish Time: 02:00:35, Elite: True
Runner ID: 960, Event ID: 54, Finish Time: 02:00:36, Elite: True
Runner ID: 592, Event ID: 4, Finish Time: 02:00:36, Elite: True
Runner ID: 584, Event ID: 26, Finish Time: 02:00:36, Elite: True
Runner ID: 114, Event ID: 1, Finish Time: 02:00:36, Elite: True
Runner ID: 765, Event ID: 62, Finish Time: 02:00:36, Elite: True
Runner ID: 914, Event ID: 41, Finish Time: 02:00:36, Elite: True
Runner ID: 15, Event ID: 38, Finish Time: 02:00:36, Elite: True
Runner ID: 600, Event ID: 55, Finish Time: 02:00:36, Elite: True
Runner ID: 442, Event ID: 2, Finish Time: 02:00:36, Elite: True
Runner ID: 71, Event ID: 58, Finish Time: 02:00:36, Elite: True
Runner ID: 1, Event ID: 55, Finish Time: 02:00:36, Elite: True
Runner ID: 163, Event ID: 61, Finish Time: 02:00:36, Elite: True
Runner ID: 339, Event ID: 16, Finish Time: 02:00:36, Elite: True
Runner ID: 451, Event ID: 52, Finish Time: 02:00:36, Elite: True
Runner ID: 247, Event ID: 13, Finish Time: 02:00:36, Elite: True
Runner ID: 151, Event ID: 54, Finish Time: 02:00:37, Elite: True
Runner ID: 492, Event ID: 35, Finish Time: 02:00:37, Elite: True
Runner ID: 27, Event ID: 24, Finish Time: 02:00:37, Elite: True
Runner ID: 844, Event ID: 10, Finish Time: 02:00:37, Elite: True
Runner ID: 191, Event ID: 24, Finish Time: 02:00:37, Elite: True
Runner ID: 912, Event ID: 34, Finish Time: 02:00:37, Elite: True
Runner ID: 206, Event ID: 58, Finish Time: 02:00:37, Elite: True
Runner ID: 601, Event ID: 44, Finish Time: 02:00:37, Elite: True
Runner ID: 967, Event ID: 68, Finish Time: 02:00:37, Elite: True
Runner ID: 926, Event ID: 59, Finish Time: 02:00:37, Elite: True
Runner ID: 594, Event ID: 11, Finish Time: 02:00:37, Elite: True
Runner ID: 242, Event ID: 64, Finish Time: 02:00:37, Elite: True
Runner ID: 530, Event ID: 24, Finish Time: 02:00:37, Elite: True
Runner ID: 5, Event ID: 61, Finish Time: 02:00:37, Elite: True
Runner ID: 783, Event ID: 58, Finish Time: 02:00:37, Elite: True
Runner ID: 992, Event ID: 52, Finish Time: 02:00:37, Elite: True
Runner ID: 162, Event ID: 61, Finish Time: 02:00:37, Elite: True
Runner ID: 538, Event ID: 41, Finish Time: 02:00:37, Elite: True
Runner ID: 653, Event ID: 70, Finish Time: 02:00:38, Elite: True
Runner ID: 887, Event ID: 10, Finish Time: 02:00:38, Elite: True
Runner ID: 104, Event ID: 5, Finish Time: 02:00:38, Elite: True
Runner ID: 915, Event ID: 37, Finish Time: 02:00:38, Elite: True
Runner ID: 243, Event ID: 33, Finish Time: 02:00:38, Elite: True
Runner ID: 584, Event ID: 65, Finish Time: 02:00:38, Elite: True
Runner ID: 196, Event ID: 48, Finish Time: 02:00:38, Elite: True
Runner ID: 55, Event ID: 18, Finish Time: 02:00:38, Elite: True
Runner ID: 903, Event ID: 33, Finish Time: 02:00:38, Elite: True
Runner ID: 166, Event ID: 2, Finish Time: 02:00:38, Elite: True
Runner ID: 159, Event ID: 64, Finish Time: 02:00:38, Elite: True
Runner ID: 220, Event ID: 59, Finish Time: 02:00:38, Elite: True
Runner ID: 160, Event ID: 22, Finish Time: 02:00:38, Elite: True
Runner ID: 326, Event ID: 45, Finish Time: 02:00:38, Elite: True
Runner ID: 7, Event ID: 54, Finish Time: 02:00:38, Elite: True
Runner ID: 708, Event ID: 62, Finish Time: 02:00:38, Elite: True
Runner ID: 221, Event ID: 25, Finish Time: 02:00:38, Elite: True
Runner ID: 208, Event ID: 6, Finish Time: 02:00:39, Elite: True
Runner ID: 659, Event ID: 62, Finish Time: 02:00:39, Elite: True
Runner ID: 252, Event ID: 40, Finish Time: 02:00:39, Elite: True
Runner ID: 450, Event ID: 12, Finish Time: 02:00:39, Elite: True
Runner ID: 503, Event ID: 39, Finish Time: 02:00:39, Elite: True
Runner ID: 699, Event ID: 59, Finish Time: 02:00:39, Elite: True
Runner ID: 301, Event ID: 47, Finish Time: 02:00:39, Elite: True
Runner ID: 515, Event ID: 65, Finish Time: 02:00:39, Elite: True
Runner ID: 708, Event ID: 12, Finish Time: 02:00:39, Elite: True
Runner ID: 502, Event ID: 28, Finish Time: 02:00:39, Elite: True
Runner ID: 226, Event ID: 19, Finish Time: 02:00:39, Elite: True
Runner ID: 781, Event ID: 29, Finish Time: 02:00:39, Elite: True
Runner ID: 125, Event ID: 2, Finish Time: 02:00:39, Elite: True
Runner ID: 859, Event ID: 7, Finish Time: 02:00:39, Elite: True
Runner ID: 557, Event ID: 12, Finish Time: 02:00:39, Elite: True
Runner ID: 912, Event ID: 59, Finish Time: 02:00:39, Elite: True
Runner ID: 218, Event ID: 34, Finish Time: 02:00:39, Elite: True
Runner ID: 61, Event ID: 38, Finish Time: 02:00:40, Elite: True
Runner ID: 836, Event ID: 5, Finish Time: 02:00:40, Elite: True
Runner ID: 656, Event ID: 57, Finish Time: 02:00:40, Elite: True
Runner ID: 654, Event ID: 5, Finish Time: 02:00:40, Elite: True
Runner ID: 99, Event ID: 20, Finish Time: 02:00:40, Elite: True
Runner ID: 544, Event ID: 21, Finish Time: 02:00:40, Elite: True
Runner ID: 163, Event ID: 53, Finish Time: 02:00:40, Elite: True
Runner ID: 422, Event ID: 6, Finish Time: 02:00:40, Elite: True
Runner ID: 632, Event ID: 65, Finish Time: 02:00:40, Elite: True
Runner ID: 957, Event ID: 44, Finish Time: 02:00:40, Elite: True
Runner ID: 14, Event ID: 51, Finish Time: 02:00:40, Elite: True
Runner ID: 635, Event ID: 64, Finish Time: 02:00:41, Elite: True
Runner ID: 923, Event ID: 41, Finish Time: 02:00:41, Elite: True
Runner ID: 503, Event ID: 1, Finish Time: 02:00:41, Elite: True
Runner ID: 601, Event ID: 9, Finish Time: 02:00:41, Elite: True
Runner ID: 998, Event ID: 53, Finish Time: 02:00:41, Elite: True
Runner ID: 393, Event ID: 7, Finish Time: 02:00:41, Elite: True
Runner ID: 36, Event ID: 11, Finish Time: 02:00:41, Elite: True
Runner ID: 319, Event ID: 17, Finish Time: 02:00:41, Elite: True
Runner ID: 778, Event ID: 62, Finish Time: 02:00:41, Elite: True
Runner ID: 595, Event ID: 11, Finish Time: 02:00:41, Elite: True
Runner ID: 699, Event ID: 46, Finish Time: 02:00:42, Elite: True

In [26]:
# Filter out male runners and sort by finish time
female_finishers = [result for result in results if result[4] == 'Female']  # Filter for female runners
female_finishers_sorted = sorted(female_finishers, key=lambda x: x[3])  # Sort by finish_time (string comparison works)

# Get the top 20 male finishers
top_20_female_finishers = female_finishers_sorted[:20]

# Print the top 20 Female finishers
print("Top 20 Female Finishers:")
for finisher in top_20_female_finishers:
    print(f"Runner ID: {finisher[2]}, Event ID: {finisher[1]}, Finish Time: {finisher[3]}, Elite: {finisher[5]}")

Top 20 Female Finishers:
Runner ID: 255, Event ID: 50, Finish Time: 02:11:53, Elite: True
Runner ID: 791, Event ID: 23, Finish Time: 02:11:53, Elite: True
Runner ID: 158, Event ID: 43, Finish Time: 02:11:53, Elite: True
Runner ID: 213, Event ID: 57, Finish Time: 02:11:53, Elite: True
Runner ID: 931, Event ID: 2, Finish Time: 02:11:53, Elite: True
Runner ID: 157, Event ID: 4, Finish Time: 02:11:53, Elite: True
Runner ID: 598, Event ID: 22, Finish Time: 02:11:53, Elite: True
Runner ID: 510, Event ID: 53, Finish Time: 02:11:53, Elite: True
Runner ID: 761, Event ID: 36, Finish Time: 02:11:53, Elite: True
Runner ID: 898, Event ID: 20, Finish Time: 02:11:53, Elite: True
Runner ID: 115, Event ID: 4, Finish Time: 02:11:54, Elite: True
Runner ID: 673, Event ID: 30, Finish Time: 02:11:54, Elite: True
Runner ID: 645, Event ID: 35, Finish Time: 02:11:54, Elite: True
Runner ID: 806, Event ID: 35, Finish Time: 02:11:54, Elite: True
Runner ID: 868, Event ID: 23, Finish Time: 02:11:54, Elite: True
Runner ID: 734, Event ID: 35, Finish Time: 02:11:54, Elite: True
Runner ID: 320, Event ID: 70, Finish Time: 02:11:54, Elite: True
Runner ID: 948, Event ID: 51, Finish Time: 02:11:54, Elite: True
Runner ID: 180, Event ID: 8, Finish Time: 02:11:54, Elite: True
Runner ID: 200, Event ID: 37, Finish Time: 02:11:54, Elite: True

In [27]:
# Ensure no times below world record
records_breached = False

for result in results:
    runner_id = result[2]
    finish_time_str = result[3]
    hours = int(finish_time_str[:2]) + int(finish_time_str[3:5])/60 + int(finish_time_str[6:])/3600
    
    # Check for men
    if result[4] == 'Male' and hours < mens_world_record:
        print(f"Error: Runner ID {runner_id} has a time below the men's world record: {finish_time_str}")
        records_breached = True
    
    # Check for women
    elif result[4] == 'Female' and hours < womens_world_record:
        print(f"Error: Runner ID {runner_id} has a time below the women's world record: {finish_time_str}")
        records_breached = True

# Print confirmation if no records were breached
if not records_breached:
    print("Verification passed: Neither the men's nor the women's world records have been breached.")

Verification passed: Neither the men's nor the women's world records have been breached.

In [28]:
# Verify that no runner has participated in the same event more than once
duplicates = [(runner_id, event_id) for (runner_id, event_id) in assigned_pairs]
if len(duplicates) != len(assigned_pairs):
    print("Error: A runner has participated in the same event more than once.")
else:
    print("Verification passed: No runner has participated in the same event more than once.")

Verification passed: No runner has participated in the same event more than once.

In [29]:
# Identify elite runners based on the 'results' table
elite_runners = [runner_id for _, _, runner_id, _, _, time_is_elite in results if time_is_elite == 'True']
unique_elite_runners = list(set(elite_runners))

In [30]:
print(unique_elite_runners)
len(unique_elite_runners)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]

1000

In [31]:
from collections import Counter

# Identify elite runners based on the 'results' table
elite_runners = [runner_id for _, _, runner_id, _, _, time_is_elite in results if time_is_elite == 'True']

# Use Counter to count the occurrences of each runner_id
elite_runner_counts = Counter(elite_runners)

# Sort by the count in descending order
sorted_elite_runners = sorted(elite_runner_counts.items(), key=lambda x: x[1], reverse=True)

# Print the sorted results
for runner_id, count in sorted_elite_runners:
    print(f"Runner ID {runner_id} appears {count} times as an elite runner.")

Runner ID 667 appears 23 times as an elite runner.
Runner ID 152 appears 20 times as an elite runner.
Runner ID 685 appears 20 times as an elite runner.
Runner ID 706 appears 19 times as an elite runner.
Runner ID 652 appears 19 times as an elite runner.
Runner ID 260 appears 19 times as an elite runner.
Runner ID 42 appears 18 times as an elite runner.
Runner ID 896 appears 18 times as an elite runner.
Runner ID 970 appears 18 times as an elite runner.
Runner ID 113 appears 18 times as an elite runner.
Runner ID 410 appears 18 times as an elite runner.
Runner ID 763 appears 18 times as an elite runner.
Runner ID 760 appears 18 times as an elite runner.
Runner ID 327 appears 18 times as an elite runner.
Runner ID 647 appears 18 times as an elite runner.
Runner ID 865 appears 18 times as an elite runner.
Runner ID 574 appears 17 times as an elite runner.
Runner ID 990 appears 17 times as an elite runner.
Runner ID 876 appears 17 times as an elite runner.
Runner ID 303 appears 17 times as an elite runner.
Runner ID 359 appears 17 times as an elite runner.
Runner ID 539 appears 17 times as an elite runner.
Runner ID 356 appears 17 times as an elite runner.
Runner ID 393 appears 17 times as an elite runner.
Runner ID 384 appears 17 times as an elite runner.
Runner ID 471 appears 17 times as an elite runner.
Runner ID 739 appears 17 times as an elite runner.
Runner ID 971 appears 17 times as an elite runner.
Runner ID 208 appears 17 times as an elite runner.
Runner ID 701 appears 17 times as an elite runner.
Runner ID 707 appears 17 times as an elite runner.
Runner ID 923 appears 17 times as an elite runner.
Runner ID 378 appears 17 times as an elite runner.
Runner ID 131 appears 17 times as an elite runner.
Runner ID 980 appears 17 times as an elite runner.
Runner ID 76 appears 17 times as an elite runner.
Runner ID 761 appears 17 times as an elite runner.
Runner ID 91 appears 17 times as an elite runner.
Runner ID 659 appears 16 times as an elite runner.
Runner ID 252 appears 16 times as an elite runner.
Runner ID 436 appears 16 times as an elite runner.
Runner ID 451 appears 16 times as an elite runner.
Runner ID 50 appears 16 times as an elite runner.
Runner ID 184 appears 16 times as an elite runner.
Runner ID 478 appears 16 times as an elite runner.
Runner ID 951 appears 16 times as an elite runner.
Runner ID 157 appears 16 times as an elite runner.
Runner ID 119 appears 16 times as an elite runner.
Runner ID 394 appears 16 times as an elite runner.
Runner ID 171 appears 16 times as an elite runner.
Runner ID 385 appears 16 times as an elite runner.
Runner ID 201 appears 16 times as an elite runner.
Runner ID 444 appears 16 times as an elite runner.
Runner ID 821 appears 16 times as an elite runner.
Runner ID 107 appears 16 times as an elite runner.
Runner ID 754 appears 16 times as an elite runner.
Runner ID 933 appears 16 times as an elite runner.
Runner ID 220 appears 16 times as an elite runner.
Runner ID 686 appears 16 times as an elite runner.
Runner ID 682 appears 16 times as an elite runner.
Runner ID 172 appears 15 times as an elite runner.
Runner ID 450 appears 15 times as an elite runner.
Runner ID 44 appears 15 times as an elite runner.
Runner ID 159 appears 15 times as an elite runner.
Runner ID 376 appears 15 times as an elite runner.
Runner ID 535 appears 15 times as an elite runner.
Runner ID 166 appears 15 times as an elite runner.
Runner ID 814 appears 15 times as an elite runner.
Runner ID 430 appears 15 times as an elite runner.
Runner ID 844 appears 15 times as an elite runner.
Runner ID 443 appears 15 times as an elite runner.
Runner ID 829 appears 15 times as an elite runner.
Runner ID 75 appears 15 times as an elite runner.
Runner ID 832 appears 15 times as an elite runner.
Runner ID 464 appears 15 times as an elite runner.
Runner ID 15 appears 15 times as an elite runner.
Runner ID 528 appears 15 times as an elite runner.
Runner ID 169 appears 15 times as an elite runner.
Runner ID 861 appears 15 times as an elite runner.
Runner ID 903 appears 15 times as an elite runner.
Runner ID 482 appears 15 times as an elite runner.
Runner ID 382 appears 15 times as an elite runner.
Runner ID 613 appears 15 times as an elite runner.
Runner ID 592 appears 15 times as an elite runner.
Runner ID 4 appears 15 times as an elite runner.
Runner ID 408 appears 15 times as an elite runner.
Runner ID 781 appears 15 times as an elite runner.
Runner ID 70 appears 15 times as an elite runner.
Runner ID 377 appears 15 times as an elite runner.
Runner ID 494 appears 15 times as an elite runner.
Runner ID 644 appears 15 times as an elite runner.
Runner ID 533 appears 15 times as an elite runner.
Runner ID 150 appears 15 times as an elite runner.
Runner ID 189 appears 15 times as an elite runner.
Runner ID 584 appears 15 times as an elite runner.
Runner ID 870 appears 15 times as an elite runner.
Runner ID 555 appears 15 times as an elite runner.
Runner ID 560 appears 15 times as an elite runner.
Runner ID 441 appears 14 times as an elite runner.
Runner ID 202 appears 14 times as an elite runner.
Runner ID 735 appears 14 times as an elite runner.
Runner ID 889 appears 14 times as an elite runner.
Runner ID 938 appears 14 times as an elite runner.
Runner ID 960 appears 14 times as an elite runner.
Runner ID 989 appears 14 times as an elite runner.
Runner ID 151 appears 14 times as an elite runner.
Runner ID 987 appears 14 times as an elite runner.
Runner ID 904 appears 14 times as an elite runner.
Runner ID 476 appears 14 times as an elite runner.
Runner ID 396 appears 14 times as an elite runner.
Runner ID 253 appears 14 times as an elite runner.
Runner ID 229 appears 14 times as an elite runner.
Runner ID 747 appears 14 times as an elite runner.
Runner ID 662 appears 14 times as an elite runner.
Runner ID 256 appears 14 times as an elite runner.
Runner ID 631 appears 14 times as an elite runner.
Runner ID 195 appears 14 times as an elite runner.
Runner ID 149 appears 14 times as an elite runner.
Runner ID 110 appears 14 times as an elite runner.
Runner ID 973 appears 14 times as an elite runner.
Runner ID 465 appears 14 times as an elite runner.
Runner ID 281 appears 14 times as an elite runner.
Runner ID 106 appears 14 times as an elite runner.
Runner ID 862 appears 14 times as an elite runner.
Runner ID 744 appears 14 times as an elite runner.
Runner ID 563 appears 14 times as an elite runner.
Runner ID 32 appears 14 times as an elite runner.
Runner ID 741 appears 14 times as an elite runner.
Runner ID 880 appears 14 times as an elite runner.
Runner ID 175 appears 14 times as an elite runner.
Runner ID 610 appears 14 times as an elite runner.
Runner ID 698 appears 14 times as an elite runner.
Runner ID 173 appears 14 times as an elite runner.
Runner ID 820 appears 14 times as an elite runner.
Runner ID 144 appears 14 times as an elite runner.
Runner ID 437 appears 14 times as an elite runner.
Runner ID 17 appears 14 times as an elite runner.
Runner ID 207 appears 14 times as an elite runner.
Runner ID 749 appears 14 times as an elite runner.
Runner ID 680 appears 14 times as an elite runner.
Runner ID 768 appears 14 times as an elite runner.
Runner ID 413 appears 14 times as an elite runner.
Runner ID 875 appears 14 times as an elite runner.
Runner ID 646 appears 14 times as an elite runner.
Runner ID 617 appears 14 times as an elite runner.
Runner ID 409 appears 14 times as an elite runner.
Runner ID 199 appears 14 times as an elite runner.
Runner ID 842 appears 14 times as an elite runner.
Runner ID 900 appears 14 times as an elite runner.
Runner ID 33 appears 14 times as an elite runner.
Runner ID 401 appears 14 times as an elite runner.
Runner ID 817 appears 14 times as an elite runner.
Runner ID 134 appears 14 times as an elite runner.
Runner ID 120 appears 14 times as an elite runner.
Runner ID 30 appears 14 times as an elite runner.
Runner ID 976 appears 14 times as an elite runner.
Runner ID 658 appears 14 times as an elite runner.
Runner ID 525 appears 14 times as an elite runner.
Runner ID 433 appears 14 times as an elite runner.
Runner ID 154 appears 14 times as an elite runner.
Runner ID 681 appears 14 times as an elite runner.
Runner ID 301 appears 14 times as an elite runner.
Runner ID 248 appears 14 times as an elite runner.
Runner ID 449 appears 14 times as an elite runner.
Runner ID 716 appears 14 times as an elite runner.
Runner ID 163 appears 14 times as an elite runner.
Runner ID 440 appears 13 times as an elite runner.
Runner ID 292 appears 13 times as an elite runner.
Runner ID 37 appears 13 times as an elite runner.
Runner ID 799 appears 13 times as an elite runner.
Runner ID 566 appears 13 times as an elite runner.
Runner ID 783 appears 13 times as an elite runner.
Runner ID 313 appears 13 times as an elite runner.
Runner ID 881 appears 13 times as an elite runner.
Runner ID 99 appears 13 times as an elite runner.
Runner ID 583 appears 13 times as an elite runner.
Runner ID 908 appears 13 times as an elite runner.
Runner ID 926 appears 13 times as an elite runner.
Runner ID 140 appears 13 times as an elite runner.
Runner ID 399 appears 13 times as an elite runner.
Runner ID 369 appears 13 times as an elite runner.
Runner ID 411 appears 13 times as an elite runner.
Runner ID 319 appears 13 times as an elite runner.
Runner ID 499 appears 13 times as an elite runner.
Runner ID 641 appears 13 times as an elite runner.
Runner ID 722 appears 13 times as an elite runner.
Runner ID 272 appears 13 times as an elite runner.
Runner ID 491 appears 13 times as an elite runner.
Runner ID 485 appears 13 times as an elite runner.
Runner ID 516 appears 13 times as an elite runner.
Runner ID 170 appears 13 times as an elite runner.
Runner ID 757 appears 13 times as an elite runner.
Runner ID 515 appears 13 times as an elite runner.
Runner ID 633 appears 13 times as an elite runner.
Runner ID 309 appears 13 times as an elite runner.
Runner ID 495 appears 13 times as an elite runner.
Runner ID 939 appears 13 times as an elite runner.
Runner ID 920 appears 13 times as an elite runner.
Runner ID 596 appears 13 times as an elite runner.
Runner ID 439 appears 13 times as an elite runner.
Runner ID 475 appears 13 times as an elite runner.
Runner ID 470 appears 13 times as an elite runner.
Runner ID 343 appears 13 times as an elite runner.
Runner ID 125 appears 13 times as an elite runner.
Runner ID 156 appears 13 times as an elite runner.
Runner ID 874 appears 13 times as an elite runner.
Runner ID 26 appears 13 times as an elite runner.
Runner ID 308 appears 13 times as an elite runner.
Runner ID 250 appears 13 times as an elite runner.
Runner ID 677 appears 13 times as an elite runner.
Runner ID 902 appears 13 times as an elite runner.
Runner ID 753 appears 13 times as an elite runner.
Runner ID 479 appears 13 times as an elite runner.
Runner ID 578 appears 13 times as an elite runner.
Runner ID 104 appears 13 times as an elite runner.
Runner ID 805 appears 13 times as an elite runner.
Runner ID 600 appears 13 times as an elite runner.
Runner ID 418 appears 13 times as an elite runner.
Runner ID 654 appears 13 times as an elite runner.
Runner ID 347 appears 13 times as an elite runner.
Runner ID 273 appears 13 times as an elite runner.
Runner ID 733 appears 13 times as an elite runner.
Runner ID 546 appears 13 times as an elite runner.
Runner ID 196 appears 13 times as an elite runner.
Runner ID 871 appears 13 times as an elite runner.
Runner ID 585 appears 13 times as an elite runner.
Runner ID 82 appears 13 times as an elite runner.
Runner ID 289 appears 13 times as an elite runner.
Runner ID 576 appears 13 times as an elite runner.
Runner ID 311 appears 12 times as an elite runner.
Runner ID 815 appears 12 times as an elite runner.
Runner ID 391 appears 12 times as an elite runner.
Runner ID 375 appears 12 times as an elite runner.
Runner ID 498 appears 12 times as an elite runner.
Runner ID 642 appears 12 times as an elite runner.
Runner ID 122 appears 12 times as an elite runner.
Runner ID 728 appears 12 times as an elite runner.
Runner ID 496 appears 12 times as an elite runner.
Runner ID 247 appears 12 times as an elite runner.
Runner ID 975 appears 12 times as an elite runner.
Runner ID 856 appears 12 times as an elite runner.
Runner ID 785 appears 12 times as an elite runner.
Runner ID 22 appears 12 times as an elite runner.
Runner ID 127 appears 12 times as an elite runner.
Runner ID 963 appears 12 times as an elite runner.
Runner ID 830 appears 12 times as an elite runner.
Runner ID 160 appears 12 times as an elite runner.
Runner ID 854 appears 12 times as an elite runner.
Runner ID 47 appears 12 times as an elite runner.
Runner ID 934 appears 12 times as an elite runner.
Runner ID 7 appears 12 times as an elite runner.
Runner ID 872 appears 12 times as an elite runner.
Runner ID 694 appears 12 times as an elite runner.
Runner ID 258 appears 12 times as an elite runner.
Runner ID 390 appears 12 times as an elite runner.
Runner ID 932 appears 12 times as an elite runner.
Runner ID 772 appears 12 times as an elite runner.
Runner ID 503 appears 12 times as an elite runner.
Runner ID 588 appears 12 times as an elite runner.
Runner ID 270 appears 12 times as an elite runner.
Runner ID 824 appears 12 times as an elite runner.
Runner ID 562 appears 12 times as an elite runner.
Runner ID 571 appears 12 times as an elite runner.
Runner ID 978 appears 12 times as an elite runner.
Runner ID 259 appears 12 times as an elite runner.
Runner ID 853 appears 12 times as an elite runner.
Runner ID 419 appears 12 times as an elite runner.
Runner ID 696 appears 12 times as an elite runner.
Runner ID 518 appears 12 times as an elite runner.
Runner ID 845 appears 12 times as an elite runner.
Runner ID 996 appears 12 times as an elite runner.
Runner ID 653 appears 12 times as an elite runner.
Runner ID 416 appears 12 times as an elite runner.
Runner ID 991 appears 12 times as an elite runner.
Runner ID 692 appears 12 times as an elite runner.
Runner ID 994 appears 12 times as an elite runner.
Runner ID 49 appears 12 times as an elite runner.
Runner ID 758 appears 12 times as an elite runner.
Runner ID 97 appears 12 times as an elite runner.
Runner ID 305 appears 12 times as an elite runner.
Runner ID 992 appears 12 times as an elite runner.
Runner ID 191 appears 12 times as an elite runner.
Runner ID 897 appears 12 times as an elite runner.
Runner ID 601 appears 12 times as an elite runner.
Runner ID 358 appears 12 times as an elite runner.
Runner ID 767 appears 12 times as an elite runner.
Runner ID 512 appears 12 times as an elite runner.
Runner ID 147 appears 12 times as an elite runner.
Runner ID 624 appears 12 times as an elite runner.
Runner ID 688 appears 12 times as an elite runner.
Runner ID 217 appears 12 times as an elite runner.
Runner ID 205 appears 12 times as an elite runner.
Runner ID 458 appears 12 times as an elite runner.
Runner ID 136 appears 12 times as an elite runner.
Runner ID 41 appears 12 times as an elite runner.
Runner ID 462 appears 12 times as an elite runner.
Runner ID 738 appears 12 times as an elite runner.
Runner ID 882 appears 12 times as an elite runner.
Runner ID 254 appears 12 times as an elite runner.
Runner ID 851 appears 12 times as an elite runner.
Runner ID 59 appears 12 times as an elite runner.
Runner ID 621 appears 12 times as an elite runner.
Runner ID 262 appears 12 times as an elite runner.
Runner ID 242 appears 12 times as an elite runner.
Runner ID 463 appears 12 times as an elite runner.
Runner ID 368 appears 12 times as an elite runner.
Runner ID 502 appears 12 times as an elite runner.
Runner ID 340 appears 12 times as an elite runner.
Runner ID 914 appears 12 times as an elite runner.
Runner ID 561 appears 12 times as an elite runner.
Runner ID 286 appears 12 times as an elite runner.
Runner ID 198 appears 12 times as an elite runner.
Runner ID 1 appears 12 times as an elite runner.
Runner ID 74 appears 12 times as an elite runner.
Runner ID 797 appears 12 times as an elite runner.
Runner ID 317 appears 12 times as an elite runner.
Runner ID 188 appears 12 times as an elite runner.
Runner ID 12 appears 12 times as an elite runner.
Runner ID 567 appears 12 times as an elite runner.
Runner ID 212 appears 12 times as an elite runner.
Runner ID 481 appears 12 times as an elite runner.
Runner ID 999 appears 12 times as an elite runner.
Runner ID 261 appears 12 times as an elite runner.
Runner ID 5 appears 12 times as an elite runner.
Runner ID 818 appears 12 times as an elite runner.
Runner ID 651 appears 11 times as an elite runner.
Runner ID 911 appears 11 times as an elite runner.
Runner ID 606 appears 11 times as an elite runner.
Runner ID 967 appears 11 times as an elite runner.
Runner ID 675 appears 11 times as an elite runner.
Runner ID 573 appears 11 times as an elite runner.
Runner ID 984 appears 11 times as an elite runner.
Runner ID 407 appears 11 times as an elite runner.
Runner ID 699 appears 11 times as an elite runner.
Runner ID 265 appears 11 times as an elite runner.
Runner ID 389 appears 11 times as an elite runner.
Runner ID 357 appears 11 times as an elite runner.
Runner ID 349 appears 11 times as an elite runner.
Runner ID 705 appears 11 times as an elite runner.
Runner ID 392 appears 11 times as an elite runner.
Runner ID 448 appears 11 times as an elite runner.
Runner ID 181 appears 11 times as an elite runner.
Runner ID 664 appears 11 times as an elite runner.
Runner ID 48 appears 11 times as an elite runner.
Runner ID 238 appears 11 times as an elite runner.
Runner ID 364 appears 11 times as an elite runner.
Runner ID 77 appears 11 times as an elite runner.
Runner ID 548 appears 11 times as an elite runner.
Runner ID 521 appears 11 times as an elite runner.
Runner ID 983 appears 11 times as an elite runner.
Runner ID 807 appears 11 times as an elite runner.
Runner ID 27 appears 11 times as an elite runner.
Runner ID 784 appears 11 times as an elite runner.
Runner ID 223 appears 11 times as an elite runner.
Runner ID 779 appears 11 times as an elite runner.
Runner ID 866 appears 11 times as an elite runner.
Runner ID 765 appears 11 times as an elite runner.
Runner ID 60 appears 11 times as an elite runner.
Runner ID 56 appears 11 times as an elite runner.
Runner ID 775 appears 11 times as an elite runner.
Runner ID 63 appears 11 times as an elite runner.
Runner ID 185 appears 11 times as an elite runner.
Runner ID 713 appears 11 times as an elite runner.
Runner ID 477 appears 11 times as an elite runner.
Runner ID 526 appears 11 times as an elite runner.
Runner ID 622 appears 11 times as an elite runner.
Runner ID 295 appears 11 times as an elite runner.
Runner ID 635 appears 11 times as an elite runner.
Runner ID 100 appears 11 times as an elite runner.
Runner ID 461 appears 11 times as an elite runner.
Runner ID 109 appears 11 times as an elite runner.
Runner ID 79 appears 11 times as an elite runner.
Runner ID 522 appears 11 times as an elite runner.
Runner ID 711 appears 11 times as an elite runner.
Runner ID 180 appears 11 times as an elite runner.
Runner ID 708 appears 11 times as an elite runner.
Runner ID 249 appears 11 times as an elite runner.
Runner ID 331 appears 11 times as an elite runner.
Runner ID 315 appears 11 times as an elite runner.
Runner ID 38 appears 11 times as an elite runner.
Runner ID 472 appears 11 times as an elite runner.
Runner ID 819 appears 11 times as an elite runner.
Runner ID 233 appears 11 times as an elite runner.
Runner ID 352 appears 11 times as an elite runner.
Runner ID 318 appears 11 times as an elite runner.
Runner ID 916 appears 11 times as an elite runner.
Runner ID 893 appears 11 times as an elite runner.
Runner ID 626 appears 11 times as an elite runner.
Runner ID 580 appears 11 times as an elite runner.
Runner ID 786 appears 11 times as an elite runner.
Runner ID 541 appears 11 times as an elite runner.
Runner ID 192 appears 11 times as an elite runner.

In [32]:
# Extract unique elite runner IDs by converting to a set
elite_runners = list(set(runner_id for _, _, runner_id, _, _, time_is_elite in results if time_is_elite == 'True'))

In [33]:
print(elite_runners)
len(elite_runners)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]

1000

In [34]:
# Generate Sponsors Table 
sponsors = [
    "Nike", "Adidas", "Asics", "Saucony", "Hoka",
    "Brooks", "New Balance", "Puma", "Under Armour", "Tracksmith"
]

# Select 50% of elite runners to have sponsors
sponsored_runners = random.sample(elite_runners, len(elite_runners) // 10)

# Generate Sponsors Athletes Table
sponsored_athletes = []
used_sponsors = set()  # To keep track of assigned sponsors

for i, runner_id in enumerate(sponsored_runners, start=1):
    sponsor_name = random.choice(sponsors)
    
    # Ensure the runner doesn't already have a sponsor
    while runner_id in used_sponsors:
        runner_id = random.choice(sponsored_runners)
    
    sponsored_athletes.append((
        i,
        sponsor_name,
        runner_id
    ))
    
    # Mark this runner as having a sponsor
    used_sponsors.add(runner_id)

# Verification code to check if any runner appears more than once
runner_ids = [data[2] for data in sponsored_athletes]
duplicate_runners = set([runner_id for runner_id in runner_ids if runner_ids.count(runner_id) > 1])

if len(duplicate_runners) == 0:
    print("Verification Passed: No runner appears more than once in the sponsors table.")
else:
    print(f"Verification Failed: The following runners have multiple sponsors: {duplicate_runners}")

Verification Passed: No runner appears more than once in the sponsors table.

In [35]:
print(sponsored_athletes)

[(1, 'Nike', 217), (2, 'Puma', 658), (3, 'Tracksmith', 65), (4, 'Saucony', 492), (5, 'Tracksmith', 76), (6, 'New Balance', 121), (7, 'New Balance', 596), (8, 'Hoka', 207), (9, 'Puma', 328), (10, 'New Balance', 215), (11, 'Puma', 143), (12, 'Adidas', 900), (13, 'Puma', 294), (14, 'Nike', 384), (15, 'Nike', 249), (16, 'Puma', 844), (17, 'Saucony', 916), (18, 'Hoka', 529), (19, 'Saucony', 244), (20, 'Under Armour', 425), (21, 'Under Armour', 184), (22, 'Adidas', 309), (23, 'Brooks', 585), (24, 'Nike', 46), (25, 'Nike', 536), (26, 'Asics', 349), (27, 'Puma', 783), (28, 'Nike', 767), (29, 'Hoka', 228), (30, 'Under Armour', 100), (31, 'Tracksmith', 146), (32, 'Under Armour', 213), (33, 'Tracksmith', 298), (34, 'Tracksmith', 757), (35, 'Hoka', 503), (36, 'New Balance', 833), (37, 'Puma', 99), (38, 'Brooks', 635), (39, 'Nike', 652), (40, 'Saucony', 458), (41, 'Brooks', 524), (42, 'Under Armour', 909), (43, 'Hoka', 290), (44, 'Tracksmith', 691), (45, 'Adidas', 455), (46, 'Asics', 443), (47, 'Puma', 892), (48, 'Puma', 514), (49, 'Brooks', 748), (50, 'Under Armour', 515), (51, 'Puma', 342), (52, 'Nike', 115), (53, 'Adidas', 445), (54, 'Under Armour', 680), (55, 'Saucony', 519), (56, 'Asics', 760), (57, 'Saucony', 52), (58, 'Under Armour', 719), (59, 'Saucony', 156), (60, 'New Balance', 990), (61, 'Tracksmith', 200), (62, 'Adidas', 152), (63, 'Tracksmith', 185), (64, 'Brooks', 872), (65, 'Adidas', 825), (66, 'Saucony', 710), (67, 'Asics', 306), (68, 'Nike', 175), (69, 'Adidas', 457), (70, 'Saucony', 712), (71, 'Nike', 890), (72, 'Puma', 804), (73, 'Brooks', 788), (74, 'Under Armour', 180), (75, 'Saucony', 687), (76, 'Puma', 293), (77, 'Asics', 648), (78, 'Adidas', 300), (79, 'Puma', 717), (80, 'Asics', 943), (81, 'Asics', 513), (82, 'Tracksmith', 587), (83, 'Tracksmith', 665), (84, 'Tracksmith', 888), (85, 'Saucony', 920), (86, 'Adidas', 803), (87, 'Saucony', 391), (88, 'New Balance', 832), (89, 'Asics', 256), (90, 'Under Armour', 917), (91, 'New Balance', 673), (92, 'Puma', 188), (93, 'Adidas', 344), (94, 'Under Armour', 605), (95, 'Saucony', 357), (96, 'Puma', 296), (97, 'Hoka', 13), (98, 'Hoka', 695), (99, 'Brooks', 768), (100, 'New Balance', 281)]

In [36]:
# Generate Sponsors Table
sponsors = [
    (1, "Nike"),
    (2, "Adidas"),
    (3, "Asics"),
    (4, "Saucony"),
    (5, "Hoka"),
    (6, "Brooks"),
    (7, "New Balance"),
    (8, "Puma"),
    (9, "Under Armour"),
    (10, "Tracksmith")
]
print(sponsors)

[(1, 'Nike'), (2, 'Adidas'), (3, 'Asics'), (4, 'Saucony'), (5, 'Hoka'), (6, 'Brooks'), (7, 'New Balance'), (8, 'Puma'), (9, 'Under Armour'), (10, 'Tracksmith')]

In [37]:
training_plan_durations = {
    "Beginner Marathon Plan: 16-week build-up": 16,
    "Intermediate Marathon Plan: 12-week build-up": 12,
    "Advanced Marathon Plan: 18-week build-up": 18,
    "Elite Marathon Plan: 24-week build-up": 24,
    "5K to Marathon Transition Plan: 20-week build-up": 20,
    "Half-Marathon to Marathon Plan: 14-week build-up": 14,
    "Strength and Conditioning Focus Plan: 10-week build-up": 10,
    "Speed Work Focus Plan: 12-week build-up": 12,
    "Long Distance Endurance Focus Plan: 22-week build-up": 22,
    "Customized Marathon Plan: 16-week build-up": 16
}

In [38]:
# Generate Training Plan Descriptions Table
training_plan_descriptions_table = []
plan_id = 1

for plan_description, plan_length_weeks in training_plan_durations.items():
    training_plan_descriptions_table.append((
        plan_id,  # Primary Key
        plan_description,
        plan_length_weeks
    ))
    plan_id += 1


print(training_plan_descriptions_table[:10])

[(1, 'Beginner Marathon Plan: 16-week build-up', 16), (2, 'Intermediate Marathon Plan: 12-week build-up', 12), (3, 'Advanced Marathon Plan: 18-week build-up', 18), (4, 'Elite Marathon Plan: 24-week build-up', 24), (5, '5K to Marathon Transition Plan: 20-week build-up', 20), (6, 'Half-Marathon to Marathon Plan: 14-week build-up', 14), (7, 'Strength and Conditioning Focus Plan: 10-week build-up', 10), (8, 'Speed Work Focus Plan: 12-week build-up', 12), (9, 'Long Distance Endurance Focus Plan: 22-week build-up', 22), (10, 'Customized Marathon Plan: 16-week build-up', 16)]

In [39]:
# Set the percentage of results that will have an associated training plan
percentage_with_plan = 0.72  # 72% of results will have a training plan

# Generate Training Plans Table
training_plans = []
plan_id = 1  # Start at 1 for the primary key of training plans

# Create a lookup dictionary to get the ID based on the description
description_to_id = {description: plan_id for plan_id, description, _ in training_plan_descriptions_table}

# To track which (runner_id, event_id) pairs already have training plans
assigned_training_plans = set()

for result in results:
    runner_id = result[2]  # runner_id from the results table
    event_id = result[1]   # event_id from the results table
    event_date = next(event[2] for event in events if event[0] == event_id)  # Get event date from events
    
    # Skip if the runner already has a training plan for this event
    if (runner_id, event_id) in assigned_training_plans:
        continue
    
    # Decide if this result should have a training plan based on the percentage
    if random.random() < percentage_with_plan:
        # Randomly select a training plan description
        plan_description = random.choice(list(training_plan_durations.keys()))
        
        # Get the duration of the training plan in weeks
        plan_length_weeks = training_plan_durations[plan_description]
        
        # Calculate the start date
        start_date = event_date - datetime.timedelta(weeks=plan_length_weeks)
        
        # Get the plan_id from the description_to_id dictionary
        plan_id_ref = description_to_id[plan_description]
        
        # Append the training plan to the list
        training_plans.append((
            plan_id,  # Use plan_id as the Primary Key (unique identifier)
            runner_id,
            event_id,  # Foreign key referencing the Events table
            start_date,
            event_date,
            plan_id_ref  # Reference the plan by ID
        ))
        
        # Mark this (runner_id, event_id) pair as having a training plan
        assigned_training_plans.add((runner_id, event_id))
        
        plan_id += 1  # Increment the unique identifier for the next plan

# Check the number of training plans created
print(f"Total training plans created: {len(training_plans)}")

Total training plans created: 48855

In [40]:
print(training_plans[:10])

[(1, 135, 66, datetime.date(2016, 11, 20), datetime.date(2017, 2, 26), 6), (2, 491, 45, datetime.date(2020, 6, 7), datetime.date(2020, 9, 27), 1), (3, 613, 51, datetime.date(2014, 4, 27), datetime.date(2014, 10, 12), 4), (4, 747, 29, datetime.date(2016, 7, 17), datetime.date(2016, 11, 6), 10), (5, 396, 68, datetime.date(2018, 11, 11), datetime.date(2019, 3, 3), 1), (6, 805, 35, datetime.date(2022, 6, 5), datetime.date(2022, 11, 6), 9), (7, 721, 56, datetime.date(2019, 7, 21), datetime.date(2019, 10, 13), 2), (8, 950, 45, datetime.date(2020, 6, 21), datetime.date(2020, 9, 27), 6), (9, 471, 65, datetime.date(2015, 12, 6), datetime.date(2016, 2, 28), 2), (10, 994, 44, datetime.date(2019, 5, 26), datetime.date(2019, 9, 29), 3)]

In [41]:
# Create a dictionary to store how many times a runner has a training plan for the same event
runner_event_plan_count = {}

# Iterate over the training plans to count the occurrences of each (runner_id, event_id) pair
for plan in training_plans:
    runner_id = plan[1]  # runner_id is the second column in training_plans
    event_id = plan[2]   # event_id is the third column in training_plans
    
    # Create a tuple (runner_id, event_id) to track this pair
    runner_event_pair = (runner_id, event_id)
    
    if runner_event_pair in runner_event_plan_count:
        runner_event_plan_count[runner_event_pair] += 1
    else:
        runner_event_plan_count[runner_event_pair] = 1

# Check for runner-event pairs that have more than one training plan
duplicate_runner_event_plans = {pair: count for pair, count in runner_event_plan_count.items() if count > 1}

# Output the results
if duplicate_runner_event_plans:
    print("The following runner-event pairs have multiple training plans assigned:")
    for pair, count in duplicate_runner_event_plans.items():
        runner_id, event_id = pair
        print(f"Runner ID {runner_id}, Event ID {event_id}: {count} training plans")
else:
    print("No runner-event pair has more than one training plan.")

No runner-event pair has more than one training plan.

In [42]:
from collections import defaultdict

# Create a dictionary to store the count of training plans per event
event_training_plan_count = defaultdict(int)

# Iterate through the training_plans list and count the occurrences of each event_id
for plan in training_plans:
    event_id = plan[2]  # The third column is the event_id
    event_training_plan_count[event_id] += 1

# Print the count of training plans per event_id
print("Training plans count per event_id:")
for event_id, count in sorted(event_training_plan_count.items()):
    print(f"Event ID {event_id}: {count} training plans")

Training plans count per event_id:
Event ID 1: 674 training plans
Event ID 2: 658 training plans
Event ID 3: 662 training plans
Event ID 4: 654 training plans
Event ID 5: 692 training plans
Event ID 6: 658 training plans
Event ID 7: 685 training plans
Event ID 8: 681 training plans
Event ID 9: 638 training plans
Event ID 10: 675 training plans
Event ID 11: 691 training plans
Event ID 12: 693 training plans
Event ID 13: 664 training plans
Event ID 14: 668 training plans
Event ID 15: 693 training plans
Event ID 16: 681 training plans
Event ID 17: 680 training plans
Event ID 18: 703 training plans
Event ID 19: 690 training plans
Event ID 20: 694 training plans
Event ID 21: 645 training plans
Event ID 22: 696 training plans
Event ID 23: 665 training plans
Event ID 24: 661 training plans
Event ID 25: 682 training plans
Event ID 26: 705 training plans
Event ID 27: 687 training plans
Event ID 28: 680 training plans
Event ID 29: 680 training plans
Event ID 30: 681 training plans
Event ID 31: 666 training plans
Event ID 32: 656 training plans
Event ID 33: 674 training plans
Event ID 34: 662 training plans
Event ID 35: 654 training plans
Event ID 36: 701 training plans
Event ID 37: 690 training plans
Event ID 38: 663 training plans
Event ID 39: 686 training plans
Event ID 40: 690 training plans
Event ID 41: 674 training plans
Event ID 42: 702 training plans
Event ID 43: 705 training plans
Event ID 44: 681 training plans
Event ID 45: 729 training plans
Event ID 46: 655 training plans
Event ID 47: 677 training plans
Event ID 48: 685 training plans
Event ID 49: 684 training plans
Event ID 50: 675 training plans
Event ID 51: 699 training plans
Event ID 52: 693 training plans
Event ID 53: 680 training plans
Event ID 54: 685 training plans
Event ID 55: 700 training plans
Event ID 56: 669 training plans
Event ID 57: 683 training plans
Event ID 58: 663 training plans
Event ID 59: 652 training plans
Event ID 60: 671 training plans
Event ID 61: 656 training plans
Event ID 62: 696 training plans
Event ID 63: 690 training plans
Event ID 64: 687 training plans
Event ID 65: 673 training plans
Event ID 66: 688 training plans
Event ID 67: 701 training plans
Event ID 68: 698 training plans
Event ID 69: 651 training plans
Event ID 70: 658 training plans
Event ID 71: 666 training plans
Event ID 72: 671 training plans

In [43]:
# Define the valid range of event IDs
valid_event_ids = set(range(1, 73))  # 1 to 72

# Extract the set of event IDs from the training plans
assigned_event_ids = {plan[2] for plan in training_plans}  # plan[2] is the event_id

# Find any invalid event IDs that are not in the valid range
invalid_event_ids = assigned_event_ids - valid_event_ids

# Find any missing event IDs in the valid range
missing_event_ids = valid_event_ids - assigned_event_ids

# Output the results
if invalid_event_ids:
    print(f"Invalid event IDs found: {sorted(invalid_event_ids)}")
else:
    print("No invalid event IDs found. All event IDs are within the valid range (1-72).")

if missing_event_ids:
    print(f"Missing event IDs (no training plans assigned): {sorted(missing_event_ids)}")
else:
    print("All event IDs between 1 and 72 have been assigned training plans.")

No invalid event IDs found. All event IDs are within the valid range (1-72).
All event IDs between 1 and 72 have been assigned training plans.

## Making a function to generate SQL insert statements, generating SQL statements, and combining all SQL scripts

In [45]:
# SQL CREATE TABLE Statements
create_tables_sql = """
CREATE TABLE Runners (
    runner_id INTEGER PRIMARY KEY,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    date_of_birth DATE,
    sex TEXT NOT NULL,
    country TEXT NOT NULL
);

CREATE TABLE Events (
    event_id INTEGER PRIMARY KEY,
    event TEXT NOT NULL,
    event_date DATE NOT NULL
);

CREATE TABLE Results (
    result_id INTEGER PRIMARY KEY,
    event_id INTEGER NOT NULL,
    runner_id INTEGER NOT NULL,
    finish_time TEXT NOT NULL,
    sex TEXT NOT NULL, 
    time_is_elite TEXT NOT NULL,
    FOREIGN KEY(event_id) REFERENCES Events(event_id),
    FOREIGN KEY(runner_id) REFERENCES Runners(runner_id)
);

CREATE TABLE Sponsors (
    sponsor_id INTEGER PRIMARY KEY,
    sponsor_name TEXT NOT NULL
);

CREATE TABLE Sponsored_Athletes (
    sponsor_id INTEGER NOT NULL,
    sponsor_name TEXT NOT NULL,
    runner_id INTEGER NOT NULL,
    FOREIGN KEY(sponsor_id) REFERENCES Sponsors(sponsor_id),
    FOREIGN KEY(runner_id) REFERENCES Runners(runner_id),
    PRIMARY KEY (sponsor_id, runner_id)
);

CREATE TABLE Training_Plans (
    id INTEGER PRIMARY KEY,
    runner_id INTEGER NOT NULL,
    event_id INTEGER NOT NULL,
    start_date DATE NOT NULL,
    end_date DATE NOT NULL,
    plan_id INTEGER NOT NULL,
    FOREIGN KEY(runner_id) REFERENCES Runners(runner_id),
    FOREIGN KEY(plan_id) REFERENCES Training_Plans_Descriptions(plan_id),
    FOREIGN KEY(event_id) REFERENCES Events(event_id)
);

CREATE TABLE Training_Plans_Descriptions (
    plan_id INTEGER PRIMARY KEY,
    plan_description TEXT NOT NULL,
    plan_length_weeks INTEGER NOT NULL
);
"""

In [46]:
# Function to generate SQL insert statements
def generate_sql_inserts(table_name, columns, data):
    sql = f"INSERT INTO {table_name} ({', '.join(columns)}) VALUES\n"
    values = []
    for row in data:
        formatted_values = ', '.join([f"'{str(v)}'" if isinstance(v, str) or isinstance(v, datetime.date) else str(v) for v in row])
        values.append(f"({formatted_values})")
    sql += ',\n'.join(values) + ";\n"
    return sql

In [47]:
# Generate SQL statements
runner_columns = ['runner_id', 'first_name', 'last_name', 'date_of_birth','sex', 'country']
event_columns = ['event_id', 'event', 'event_date']
result_columns = ['result_id', 'event_id', 'runner_id', 'finish_time', 'sex','time_is_elite']
sponsor_columns = ['sponsor_id', 'sponsor_name']
sponsored_athletes_columns = ['sponsor_id', 'sponsor_name', 'runner_id']
training_plan_columns = ['id', 'runner_id','event_id', 'start_date', 'end_date', 'plan_id']
training_plan_descriptions_columns = ['plan_id','plan_description','plan_length_weeks']


sql_runners = generate_sql_inserts('Runners', runner_columns, runners)
sql_events = generate_sql_inserts('Events', event_columns, events)
sql_results = generate_sql_inserts('Results', result_columns, results)
sql_sponsors = generate_sql_inserts('Sponsors', sponsor_columns, sponsors)
sql_sponsored_athletes = generate_sql_inserts('Sponsored_Athletes', sponsored_athletes_columns, sponsored_athletes)
sql_training_plans = generate_sql_inserts('Training_Plans', training_plan_columns, training_plans)
sql_training_plan_descriptions_table = generate_sql_inserts('Training_Plans_Descriptions', training_plan_descriptions_columns,training_plan_descriptions_table)

In [48]:
print(sql_runners[:500])

INSERT INTO Runners (runner_id, first_name, last_name, date_of_birth, sex, country) VALUES
(1, 'Connor', 'Turner', '1980-04-06', 'Male', 'Cyprus'),
(2, 'Bronwen', 'Mac tiarnain', '1975-05-28', 'Female', 'Ireland'),
(3, 'Ephraim', 'Tompre', '1942-07-02', 'Male', 'Greece'),
(4, 'Louis', 'Marsh', '1960-04-09', 'Male', 'New Zealand'),
(5, 'Achim', 'Stan', '1992-04-15', 'Male', 'Romania'),
(6, 'Prem', 'Guptaa', '1955-06-28', 'Male', 'India'),
(7, 'Karl', 'Hovsepov', '1971-11-25', 'Male', 'Armenia'),

In [49]:
# Combine all SQL scripts
sql_script = create_tables_sql + sql_runners + sql_events + sql_results + sql_sponsors + sql_training_plans + sql_sponsored_athletes + sql_training_plan_descriptions_table

In [50]:
print(sql_script[:500])

CREATE TABLE Runners (
    runner_id INTEGER PRIMARY KEY,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    date_of_birth DATE,
    sex TEXT NOT NULL,
    country TEXT NOT NULL
);

CREATE TABLE Events (
    event_id INTEGER PRIMARY KEY,
    event TEXT NOT NULL,
    event_date DATE NOT NULL
);

CREATE TABLE Results (
    result_id INTEGER PRIMARY KEY,
    event_id INTEGER NOT NULL,
    runner_id INTEGER NOT NULL,
    finish_time TEXT NOT NULL,
    sex TEXT NOT NULL,
    time_is_eli

In [51]:
with open("create_Marathon_results_database.sql", "w") as file:
    file.write(sql_script)