# Generating Marathon Data for SQL Practice

This is a Python Jupyter notebook for creating a full mock SQL database of marathon race results with thousands of records. This script simulates a realistic dataset, including both elite and recreational runners, with varied performance data across multiple marathon events. There are several steps to this:

1. **Generate 'Runners' Table** - Randomly generate 1000 runners with names common in their locale/country, together with their birth date and sex.
2. **Generate 'Events' Table** - The 6 Major World marathons (Berlin, Boston, Chicago,London,New York City, Tokyo), with an event per year from 2012 to 2023. 
3. **Generate 'Results' Table** - Gives results for runners in hh:mm:ss format, ensuring there aren't duplicate results for each runner per event. Prevents any results breaking either the male marathon world-record (2:00:35 Eliud Kipchoge 2023) or the female marathon world-record (2:11:53 Brigid Kosgei 2019). Also determines, with a True/False column, if a result is elite by the male standard (below 02:15:00) or the female standard (below 02:30:00).
4. **Generate 'Sponsors' Table** - Lists the following 10 major fitness/sports companies that typically act as sponsors to runners - "Nike", "Adidas", "Asics", "Saucony", "Hoka","Brooks", "New Balance", "Puma", "Under Armour", "Tracksmith". 
5. **Generate 'Sponsored Athletes' Table** - A table listing the fraction of the elite athletes that have a sponsor.
6. **Generate 'Training Plans Descriptions' Table** - The descriptions of 10 different training plans and their respective lengths in weeks. 
7. **Generate 'Training Plans' Table** - The training plans of athletes.

## Import packages

In [5]:
pip install faker

Requirement already satisfied: faker in c:\users\gam55\appdata\local\anaconda3\lib\site-packages (26.3.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\gam55\appdata\local\anaconda3\lib\site-packages (from faker) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\gam55\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install unidecode

Requirement already satisfied: unidecode in c:\users\gam55\appdata\local\anaconda3\lib\site-packages (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import random
from faker import Faker
import datetime
import pandas as pd

In [8]:
fake = Faker()

## Define the records for tables and helper functions

In [10]:
# Helper functions
def random_time():
    """Generate a random marathon finish time"""
    hours = random.randint(2, 5)
    minutes = random.randint(0, 59)
    seconds = random.randint(0, 59)
    return f'{hours:02}:{minutes:02}:{seconds:02}'

In [11]:
# Define the number of records
num_runners = 1000
num_events = 72 #6 marathons over 12 years (2012-23)
num_results = num_runners * num_events

In [12]:
# Define the major marathons and their exact dates
marathons = [
    ("Boston Marathon", [
        "2012-04-16", "2013-04-15", "2014-04-21", "2015-04-20", "2016-04-18",
        "2017-04-17", "2018-04-16", "2019-04-15", "2020-10-11", "2021-10-11",
        "2022-04-18", "2023-04-17"
    ]),
    ("London Marathon", [
        "2012-04-22", "2013-04-21", "2014-04-21", "2015-04-26", "2016-04-24",
        "2017-04-23", "2018-04-22", "2019-04-28", "2020-10-04", "2021-10-03",
        "2022-10-02", "2023-04-23"
    ]),
    ("New York City Marathon", [
        "2012-11-04", "2013-11-03", "2014-11-02", "2015-11-01", "2016-11-06",
        "2017-11-05", "2018-11-04", "2019-11-03", "2020-12-13", "2021-11-07",
        "2022-11-06", "2023-11-05"
    ]),
    ("Berlin Marathon", [
        "2012-09-30", "2013-09-29", "2014-09-28", "2015-09-27", "2016-09-25",
        "2017-09-24", "2018-09-16", "2019-09-29", "2020-09-27", "2021-09-26",
        "2022-09-25", "2023-09-24"
    ]),
    ("Chicago Marathon", [
        "2012-10-07", "2013-10-13", "2014-10-12", "2015-10-11", "2016-10-09",
        "2017-10-08", "2018-10-07", "2019-10-13", "2020-10-11", "2021-10-10",
        "2022-10-09", "2023-10-08"
    ]),
    ("Tokyo Marathon", [
        "2012-02-26", "2013-02-24", "2014-02-23", "2015-02-22", "2016-02-28",
        "2017-02-26", "2018-02-25", "2019-03-03", "2020-03-01", "2021-03-07",
        "2022-03-06", "2023-03-05"
    ])
]

In [13]:
# Define predefined training plan descriptions
training_plan_descriptions = [
    "Beginner Marathon Plan: 16-week build-up",
    "Intermediate Marathon Plan: 12-week build-up",
    "Advanced Marathon Plan: 18-week build-up",
    "Elite Marathon Plan: 24-week build-up",
    "5K to Marathon Transition Plan: 20-week build-up",
    "Half-Marathon to Marathon Plan: 14-week build-up",
    "Strength and Conditioning Focus Plan: 10-week build-up",
    "Speed Work Focus Plan: 12-week build-up",
    "Long Distance Endurance Focus Plan: 22-week build-up",
    "Customized Marathon Plan: 16-week build-up"
]

## Generate Tables

In [15]:
import random
from faker import Faker
from unidecode import unidecode
import re  # Import regular expressions module

# Locale-country map dictionary
locale_country_map = {
    'ar_AE': 'United Arab Emirates',
    'ar_BH': 'Bahrain',
    'ar_EG': 'Egypt',
    'ar_JO': 'Jordan',
    'ar_SA': 'Saudi Arabia',
    'az_AZ': 'Azerbaijan',
    'bg_BG': 'Bulgaria',
    'bn_BD': 'Bangladesh',
    'bs_BA': 'Bosnia and Herzegovina',
    'cs_CZ': 'Czech Republic',
    'da_DK': 'Denmark',
    'de_AT': 'Austria',
    'de_CH': 'Switzerland',
    'de_DE': 'Germany',
    'el_CY': 'Cyprus',
    'el_GR': 'Greece',
    'en_AU': 'Australia',
    'en_CA': 'Canada',
    'en_GB': 'United Kingdom',
    'en_IE': 'Ireland',
    'en_IN': 'India',
    'en_NZ': 'New Zealand',
    'en_PH': 'Philippines',
    'en_US': 'United States',
    'es_AR': 'Argentina',
    'es_CL': 'Chile',
    'es_CO': 'Colombia',
    'es_ES': 'Spain',
    'es_MX': 'Mexico',
    'et_EE': 'Estonia',
    'fa_IR': 'Iran',
    'fi_FI': 'Finland',
    'fr_BE': 'Belgium',
    'fr_CA': 'Canada',
    'fr_CH': 'Switzerland',
    'fr_FR': 'France',
    'ga_IE': 'Ireland',
    'he_IL': 'Israel',
    'hi_IN': 'India',
    'hr_HR': 'Croatia',
    'hu_HU': 'Hungary',
    'hy_AM': 'Armenia',
    'id_ID': 'Indonesia',
    'it_CH': 'Switzerland',
    'it_IT': 'Italy',
    'ja_JP': 'Japan',
    'ka_GE': 'Georgia',
    'ko_KR': 'South Korea',
    'lb_LU': 'Luxembourg',
    'lt_LT': 'Lithuania',
    'lv_LV': 'Latvia',
    'ne_NP': 'Nepal',
    'nl_BE': 'Belgium',
    'nl_NL': 'Netherlands',
    'no_NO': 'Norway',
    'pl_PL': 'Poland',
    'pt_BR': 'Brazil',
    'pt_PT': 'Portugal',
    'ro_RO': 'Romania',
    'ru_RU': 'Russia',
    'sk_SK': 'Slovakia',
    'sl_SI': 'Slovenia',
    'sq_AL': 'Albania',
    'sv_SE': 'Sweden',
    'ta_IN': 'India',
    'th_TH': 'Thailand',
    'tr_TR': 'Turkey',
    'uk_UA': 'Ukraine',
    'vi_VN': 'Vietnam',
    'zh_CN': 'China',
    'zh_TW': 'Taiwan',
    'zu_ZA': 'South Africa'
}


# Function to clean and capitalize names
def clean_and_capitalize(name):
    # Remove unwanted characters using regex
    name = re.sub(r"[^a-zA-Z\s]", "", name)
    # Capitalize the name
    return name.capitalize()

# Generate Runners Table
runners = []
for i in range(1, num_runners + 1):
    # Randomly select a category for each runner
    category = random.choice(['Male', 'Female'])
    
    # Randomly select a locale corresponding to a country
    locale, country = random.choice(list(locale_country_map.items()))
    
    # Create a Faker instance with the selected locale
    localized_fake = Faker(locale)
    
    # Generate the runner's name and transliterate it to standard ASCII characters
    first_name = localized_fake.first_name_male() if category == 'Male' else localized_fake.first_name_female()
    last_name = localized_fake.last_name()

    # Transliterate names to ASCII
    first_name_ascii = unidecode(first_name)
    last_name_ascii = unidecode(last_name)
    
    # Clean and capitalize the names
    first_name_cleaned = clean_and_capitalize(first_name_ascii)
    last_name_cleaned = clean_and_capitalize(last_name_ascii)
    
    # Generate the runner data
    runners.append((
        i,
        first_name_cleaned,
        last_name_cleaned,
        localized_fake.date_of_birth(minimum_age=18, maximum_age=90),
        category,  # Assign the randomly chosen category
        country
    ))

# Example output
for runner in runners[:50]:  # Print first 50 runners
    print(runner)

(1, 'Temur', 'Beraze', datetime.date(1963, 2, 12), 'Male', 'Georgia')
(2, 'Nora', 'Kalents', datetime.date(2001, 1, 27), 'Female', 'Armenia')
(3, 'Michael', 'Newman', datetime.date(1996, 6, 22), 'Male', 'Luxembourg')
(4, 'Christy', 'Hickey', datetime.date(1982, 2, 11), 'Male', 'Ireland')
(5, 'Vpry', 'Khsn', datetime.date(1946, 3, 8), 'Female', 'Israel')
(6, 'Ylay', 'Tsvr', datetime.date(2004, 12, 13), 'Male', 'Israel')
(7, 'Andrea', 'Vlkova', datetime.date(1994, 6, 15), 'Female', 'Slovakia')
(8, 'Denise', 'Mack', datetime.date(1966, 2, 5), 'Female', 'Egypt')
(9, 'Gerald', 'Rowan', datetime.date(1995, 5, 20), 'Male', 'Ireland')
(10, 'Jaroslava', 'Mares', datetime.date(1998, 4, 22), 'Female', 'Czech Republic')
(11, 'Eda', 'Liepins', datetime.date(1938, 2, 9), 'Female', 'Latvia')
(12, 'Tessa', 'Van egisheim', datetime.date(1936, 4, 28), 'Female', 'Netherlands')
(13, 'Adamina', 'Kolev', datetime.date(1992, 8, 17), 'Female', 'Bulgaria')
(14, 'Juliana', 'Avila', datetime.date(1968, 6, 29), 'Female', 'Argentina')
(15, 'Alexei', 'Gunpf', datetime.date(1945, 9, 12), 'Male', 'Germany')
(16, 'Rahmat', 'Tarihoran', datetime.date(1972, 9, 17), 'Male', 'Indonesia')
(17, 'Justin', 'Richards', datetime.date(1981, 1, 16), 'Male', 'United Kingdom')
(18, 'Erin', 'Berry', datetime.date(1992, 8, 10), 'Female', 'Switzerland')
(19, 'Aymry', 'Bnymyn', datetime.date(1995, 7, 13), 'Male', 'Israel')
(20, 'Carol', 'Kiernan', datetime.date(1973, 6, 8), 'Female', 'Ireland')
(21, 'Jamie', 'Porter', datetime.date(1984, 5, 13), 'Female', 'Canada')
(22, 'Isabella', 'Reynaert', datetime.date(1964, 7, 10), 'Female', 'Belgium')
(23, 'Dominga', 'Coll', datetime.date(1974, 10, 5), 'Female', 'Spain')
(24, 'Sergii', 'Daniliuk', datetime.date(1949, 12, 27), 'Male', 'Ukraine')
(25, 'Melita', 'Pieper', datetime.date(1987, 5, 26), 'Female', 'Germany')
(26, 'Claudine', 'Lagarde', datetime.date(1942, 10, 27), 'Female', 'France')
(27, 'Seliverst', 'Simonov', datetime.date(1977, 5, 26), 'Male', 'Russia')
(28, 'Jorunn', 'Karlsen', datetime.date(1993, 2, 5), 'Female', 'Norway')
(29, 'Leonora', 'Lercher', datetime.date(1971, 8, 29), 'Female', 'Austria')
(30, 'Denise', 'Hernandez', datetime.date(1945, 11, 23), 'Female', 'Luxembourg')
(31, 'Daniel', 'Meyers', datetime.date(1965, 5, 27), 'Male', 'Belgium')
(32, 'Kelly', 'Thornton', datetime.date(1951, 8, 8), 'Female', 'Egypt')
(33, 'Nicola', 'Albert', datetime.date(1936, 1, 21), 'Male', 'Belgium')
(34, 'Sryn', 'Jlly', datetime.date(1966, 10, 20), 'Female', 'Iran')
(35, 'Penny', 'Garcia', datetime.date(1966, 12, 6), 'Female', 'Bahrain')
(36, 'Linda', 'Morales', datetime.date(1966, 4, 29), 'Male', 'Mexico')
(37, 'Kjell', 'Larsson', datetime.date(1993, 2, 24), 'Male', 'Sweden')
(38, 'Tuana', 'Bianchi', datetime.date(1953, 5, 2), 'Female', 'Switzerland')
(39, 'Clarice', 'Sales', datetime.date(1986, 10, 20), 'Female', 'Brazil')
(40, 'Danielle', 'Merritt', datetime.date(1976, 6, 10), 'Female', 'Albania')
(41, 'Arno', 'Rottiers', datetime.date(1971, 11, 26), 'Male', 'Belgium')
(42, 'Frederik', 'Hoffmann', datetime.date(1993, 2, 7), 'Male', 'Austria')
(43, 'Donna', 'Watkins', datetime.date(1978, 3, 13), 'Female', 'Bahrain')
(44, 'Frida', 'Ruelas', datetime.date(1975, 12, 7), 'Female', 'Mexico')
(45, 'Aarunni', 'Srkaar', datetime.date(1971, 11, 3), 'Female', 'Bangladesh')
(46, 'Varvara', 'Shashkova', datetime.date(1955, 10, 7), 'Female', 'Russia')
(47, 'Karl', 'Harloff', datetime.date(1993, 2, 1), 'Male', 'Germany')
(48, 'Aaron', 'Washington', datetime.date(1951, 7, 17), 'Male', 'Bosnia and Herzegovina')
(49, 'Heather', 'Gardner', datetime.date(1980, 1, 25), 'Female', 'Vietnam')
(50, 'Peter', 'Nilsson', datetime.date(1951, 9, 4), 'Male', 'Sweden')

In [16]:
print(runners)

[(1, 'Temur', 'Beraze', datetime.date(1963, 2, 12), 'Male', 'Georgia'), (2, 'Nora', 'Kalents', datetime.date(2001, 1, 27), 'Female', 'Armenia'), (3, 'Michael', 'Newman', datetime.date(1996, 6, 22), 'Male', 'Luxembourg'), (4, 'Christy', 'Hickey', datetime.date(1982, 2, 11), 'Male', 'Ireland'), (5, 'Vpry', 'Khsn', datetime.date(1946, 3, 8), 'Female', 'Israel'), (6, 'Ylay', 'Tsvr', datetime.date(2004, 12, 13), 'Male', 'Israel'), (7, 'Andrea', 'Vlkova', datetime.date(1994, 6, 15), 'Female', 'Slovakia'), (8, 'Denise', 'Mack', datetime.date(1966, 2, 5), 'Female', 'Egypt'), (9, 'Gerald', 'Rowan', datetime.date(1995, 5, 20), 'Male', 'Ireland'), (10, 'Jaroslava', 'Mares', datetime.date(1998, 4, 22), 'Female', 'Czech Republic'), (11, 'Eda', 'Liepins', datetime.date(1938, 2, 9), 'Female', 'Latvia'), (12, 'Tessa', 'Van egisheim', datetime.date(1936, 4, 28), 'Female', 'Netherlands'), (13, 'Adamina', 'Kolev', datetime.date(1992, 8, 17), 'Female', 'Bulgaria'), (14, 'Juliana', 'Avila', datetime.date(1968, 6, 29), 'Female', 'Argentina'), (15, 'Alexei', 'Gunpf', datetime.date(1945, 9, 12), 'Male', 'Germany'), (16, 'Rahmat', 'Tarihoran', datetime.date(1972, 9, 17), 'Male', 'Indonesia'), (17, 'Justin', 'Richards', datetime.date(1981, 1, 16), 'Male', 'United Kingdom'), (18, 'Erin', 'Berry', datetime.date(1992, 8, 10), 'Female', 'Switzerland'), (19, 'Aymry', 'Bnymyn', datetime.date(1995, 7, 13), 'Male', 'Israel'), (20, 'Carol', 'Kiernan', datetime.date(1973, 6, 8), 'Female', 'Ireland'), (21, 'Jamie', 'Porter', datetime.date(1984, 5, 13), 'Female', 'Canada'), (22, 'Isabella', 'Reynaert', datetime.date(1964, 7, 10), 'Female', 'Belgium'), (23, 'Dominga', 'Coll', datetime.date(1974, 10, 5), 'Female', 'Spain'), (24, 'Sergii', 'Daniliuk', datetime.date(1949, 12, 27), 'Male', 'Ukraine'), (25, 'Melita', 'Pieper', datetime.date(1987, 5, 26), 'Female', 'Germany'), (26, 'Claudine', 'Lagarde', datetime.date(1942, 10, 27), 'Female', 'France'), (27, 'Seliverst', 'Simonov', datetime.date(1977, 5, 26), 'Male', 'Russia'), (28, 'Jorunn', 'Karlsen', datetime.date(1993, 2, 5), 'Female', 'Norway'), (29, 'Leonora', 'Lercher', datetime.date(1971, 8, 29), 'Female', 'Austria'), (30, 'Denise', 'Hernandez', datetime.date(1945, 11, 23), 'Female', 'Luxembourg'), (31, 'Daniel', 'Meyers', datetime.date(1965, 5, 27), 'Male', 'Belgium'), (32, 'Kelly', 'Thornton', datetime.date(1951, 8, 8), 'Female', 'Egypt'), (33, 'Nicola', 'Albert', datetime.date(1936, 1, 21), 'Male', 'Belgium'), (34, 'Sryn', 'Jlly', datetime.date(1966, 10, 20), 'Female', 'Iran'), (35, 'Penny', 'Garcia', datetime.date(1966, 12, 6), 'Female', 'Bahrain'), (36, 'Linda', 'Morales', datetime.date(1966, 4, 29), 'Male', 'Mexico'), (37, 'Kjell', 'Larsson', datetime.date(1993, 2, 24), 'Male', 'Sweden'), (38, 'Tuana', 'Bianchi', datetime.date(1953, 5, 2), 'Female', 'Switzerland'), (39, 'Clarice', 'Sales', datetime.date(1986, 10, 20), 'Female', 'Brazil'), (40, 'Danielle', 'Merritt', datetime.date(1976, 6, 10), 'Female', 'Albania'), (41, 'Arno', 'Rottiers', datetime.date(1971, 11, 26), 'Male', 'Belgium'), (42, 'Frederik', 'Hoffmann', datetime.date(1993, 2, 7), 'Male', 'Austria'), (43, 'Donna', 'Watkins', datetime.date(1978, 3, 13), 'Female', 'Bahrain'), (44, 'Frida', 'Ruelas', datetime.date(1975, 12, 7), 'Female', 'Mexico'), (45, 'Aarunni', 'Srkaar', datetime.date(1971, 11, 3), 'Female', 'Bangladesh'), (46, 'Varvara', 'Shashkova', datetime.date(1955, 10, 7), 'Female', 'Russia'), (47, 'Karl', 'Harloff', datetime.date(1993, 2, 1), 'Male', 'Germany'), (48, 'Aaron', 'Washington', datetime.date(1951, 7, 17), 'Male', 'Bosnia and Herzegovina'), (49, 'Heather', 'Gardner', datetime.date(1980, 1, 25), 'Female', 'Vietnam'), (50, 'Peter', 'Nilsson', datetime.date(1951, 9, 4), 'Male', 'Sweden'), (51, 'Viaan', 'Mngl', datetime.date(1959, 6, 8), 'Male', 'India'), (52, 'Christiane', 'Rappaz', datetime.date(1984, 8, 27), 'Female', 'Switzerland'), (53, 'Melissa', 'Smith', datetime.date(2004, 12, 5), 'Female', 'Egypt'), (54, 'Charles', 'Smith', datetime.date(1972, 9, 21), 'Male', 'New Zealand'), (55, 'Leonardo', 'Gaspar', datetime.date(2002, 3, 27), 'Male', 'Portugal'), (56, 'Ruby', 'Fisher', datetime.date(1966, 5, 3), 'Female', 'New Zealand'), (57, 'Nana', 'Jeppesen', datetime.date(1969, 1, 26), 'Female', 'Denmark'), (58, 'Nomusa', 'Thenjwayo', datetime.date(1996, 10, 4), 'Female', 'South Africa'), (59, 'Sergo', 'Giorgaze', datetime.date(1999, 1, 12), 'Male', 'Georgia'), (60, 'April', 'Gordon', datetime.date(1972, 4, 13), 'Female', 'United Arab Emirates'), (61, 'Anastasiia', 'Fadeev', datetime.date(1942, 5, 18), 'Female', 'Russia'), (62, 'Ervand', 'Chochkanyan', datetime.date(1981, 5, 11), 'Male', 'Armenia'), (63, 'Viktoriia', 'Zhuravleva', datetime.date(1946, 9, 4), 'Female', 'Russia'), (64, 'Nifont', 'Stepanov', datetime.date(1944, 8, 2), 'Male', 'Russia'), (65, 'Florian', 'Schmitz', datetime.date(1999, 3, 12), 'Male', 'Belgium'), (66, 'Milan', 'Simo', datetime.date(1935, 5, 2), 'Male', 'Slovakia'), (67, 'Shannon', 'Gonzalez', datetime.date(1997, 10, 31), 'Female', 'Egypt'), (68, 'Priym', 'Cndr', datetime.date(1933, 9, 22), 'Male', 'Bangladesh'), (69, 'Dipk', 'Shresstth', datetime.date(1976, 4, 26), 'Male', 'Nepal'), (70, 'Suththiphcchn', 'Thrrmrdii', datetime.date(1967, 1, 7), 'Male', 'Thailand'), (71, 'Valter', 'Mavric', datetime.date(1956, 3, 27), 'Male', 'Slovenia'), (72, 'Brsstti', 'Kumaar', datetime.date(1979, 9, 5), 'Female', 'Bangladesh'), (73, 'Beverley', 'O reachtabhair', datetime.date(1998, 12, 20), 'Female', 'Ireland'), (74, 'Nicole', 'Jennings', datetime.date(1968, 1, 6), 'Female', 'Philippines'), (75, 'Mante', 'Kazlauskas', datetime.date(1948, 1, 24), 'Male', 'Lithuania'), (76, 'Peter', 'Gardner', datetime.date(1952, 1, 20), 'Male', 'New Zealand'), (77, 'Mlungisi', 'Xulu', datetime.date(1977, 9, 7), 'Male', 'South Africa'), (78, 'Florentin', 'Fleck', datetime.date(1983, 2, 25), 'Male', 'Austria'), (79, 'Emzar', 'Gorgilaze', datetime.date(1986, 3, 19), 'Male', 'Georgia'), (80, 'Evelyne', 'Jansen', datetime.date(1971, 6, 16), 'Female', 'Belgium'), (81, 'Zoya', 'Contractor', datetime.date(1939, 8, 7), 'Female', 'India'), (82, 'Modesto', 'De la cruz', datetime.date(1942, 11, 20), 'Female', 'Mexico'), (83, 'Jacek', 'Tabisz', datetime.date(1979, 12, 2), 'Male', 'Poland'), (84, 'Leila', 'Dvali', datetime.date(1995, 6, 17), 'Female', 'Georgia'), (85, 'Ddaa', 'Shaah', datetime.date(1972, 7, 23), 'Male', 'Nepal'), (86, 'Hridaan', 'Cherian', datetime.date(2004, 1, 6), 'Female', 'India'), (87, 'Sandra', 'Green', datetime.date(1959, 1, 28), 'Female', 'Jordan'), (88, 'Shy', 'Mr', datetime.date(1998, 3, 9), 'Male', 'Israel'), (89, 'Armando', 'Guerra', datetime.date(1957, 1, 15), 'Male', 'Colombia'), (90, 'Shyrh', 'Yqvbvbyts', datetime.date(1987, 7, 18), 'Female', 'Israel'), (91, 'Stephane', 'Boudreau', datetime.date(1946, 3, 13), 'Male', 'Canada'), (92, 'Cetinsu', 'Aksu', datetime.date(1949, 12, 9), 'Male', 'Turkey'), (93, 'James', 'Robles', datetime.date(1963, 3, 18), 'Male', 'Australia'), (94, 'Frederika', 'Kovacova', datetime.date(1992, 3, 21), 'Female', 'Slovakia'), (95, 'Jon', 'Avdalyan', datetime.date(1946, 2, 4), 'Male', 'Armenia'), (96, 'Levko', 'Kibkalo', datetime.date(1972, 7, 14), 'Male', 'Ukraine'), (97, 'Zeljka', 'Horvatek', datetime.date(1941, 4, 16), 'Female', 'Croatia'), (98, 'Odalys', 'Pinilla', datetime.date(1981, 2, 24), 'Female', 'Spain'), (99, 'Bianca', 'Malaparte', datetime.date(1991, 11, 6), 'Female', 'Italy'), (100, 'Mare', 'Purins', datetime.date(1939, 6, 26), 'Female', 'Latvia'), (101, 'Olav', 'Gulbrandsen', datetime.date(1987, 1, 16), 'Male', 'Norway'), (102, 'Niculita', 'Nita', datetime.date(2000, 7, 3), 'Male', 'Romania'), (103, 'Angie', 'Jennings', datetime.date(1991, 7, 10), 'Female', 'United States'), (104, 'Klara', 'Handke', datetime.date(1994, 7, 22), 'Female', 'Poland'), (105, 'Timothee', 'Ferland', datetime.date(1968, 9, 13), 'Male', 'Canada'), (106, 'Daniel', 'Mcmillan', datetime.date(1963, 7, 18), 'Male', 'New Zealand'), (107, 'Vikrm', 'Mjuumdaar', datetime.date(1979, 2, 13), 'Male', 'India'), (108, 'Vivian', 'Scharer', datetime.date(1982, 4, 8), 'Female', 'Switzerland'), (109, 'Jeannine', 'Guillemette', datetime.date(1955, 8, 27), 'Female', 'Canada'), (110, 'Tammy', 'Green', datetime.date(1951, 12, 16), 'Female', 'Canada'), (111, 'Amelie', 'Bauer', datetime.date(1940, 10, 29), 'Female', 'Switzerland'), (112, 'Jeffrey', 'Waller', datetime.date(1977, 7, 7), 'Male', 'Vietnam'), (113, 'Ann', 'Roberts', datetime.date(1997, 9, 13), 'Female', 'United Kingdom'), (114, 'Michel', 'Antoine', datetime.date(1994, 1, 3), 'Male', 'Belgium'), (115, 'Laura', 'Martin', datetime.date(1968, 2, 8), 'Female', 'Switzerland'), (116, 'Zaenab', 'Waskita', datetime.date(1959, 4, 10), 'Female', 'Indonesia'), (117, 'Luiz miguel', 'Ramos', datetime.date(1993, 3, 12), 'Male', 'Brazil'), (118, 'Samuel', 'Evans', datetime.date(1945, 9, 10), 'Male', 'Switzerland'), (119, 'Andrew', 'Perez', datetime.date(1959, 3, 27), 'Male', 'United Arab Emirates'), (120, 'Gabino', 'Camarillo', datetime.date(1943, 7, 13), 'Male', 'Mexico'), (121, 'Nonna', 'Kolesnikov', datetime.date(1993, 8, 18), 'Female', 'Russia'), (122, 'Stephen', 'Rhodes', datetime.date(1998, 10, 28), 'Male', 'Bahrain'), (123, 'Gvry', 'Mvyal', datetime.date(1950, 5, 2), 'Female', 'Israel'), (124, 'Kyra', 'Oosterhek', datetime.date(2002, 10, 7), 'Female', 'Netherlands'), (125, 'Sylvie', 'Fabry', datetime.date(1940, 7, 4), 'Female', 'Belgium'), (126, 'Deborah', 'Dickerson', datetime.date(1987, 3, 27), 'Female', 'Philippines'), (127, 'Guguli', 'Jikia', datetime.date(1989, 5, 29), 'Female', 'Georgia'), (128, 'Karina', 'Riekstins', datetime.date(1995, 12, 16), 'Female', 'Latvia'), (129, 'Eyaawratn', 'Cchann', datetime.date(1976, 4, 16), 'Female', 'Thailand'), (130, 'Witold', 'Glaza', datetime.date(1958, 3, 2), 'Male', 'Poland'), (131, 'Nancy', 'Cardenas', datetime.date(1986, 3, 30), 'Female', 'Australia'), (132, 'Piermaria', 'Filzi', datetime.date(1982, 9, 23), 'Male', 'Italy'), (133, 'James', 'Duncan', datetime.date(1952, 7, 26), 'Male', 'Canada'), (134, 'Theo', 'Ribeiro', datetime.date(1999, 1, 13), 'Male', 'Brazil'), (135, 'Jennifer', 'Bradford', datetime.date(1936, 8, 5), 'Female', 'United States'), (136, 'Veronika', 'Horvath', datetime.date(2006, 6, 3), 'Female', 'Hungary'), (137, 'Luca', 'Kiss', datetime.date(1973, 3, 15), 'Female', 'Hungary'), (138, 'Slavil', 'Pulev', datetime.date(1947, 10, 13), 'Male', 'Bulgaria'), (139, 'Lynda', 'Perry', datetime.date(1980, 7, 2), 'Female', 'New Zealand'), (140, 'Biljana', 'Wettstein', datetime.date(2003, 9, 23), 'Female', 'Switzerland'), (141, 'Esrii', 'Thwnthng', datetime.date(1995, 10, 24), 'Male', 'Thailand'), (142, 'Dennis', 'Floyd', datetime.date(1940, 6, 10), 'Male', 'United States'), (143, 'Besarion', 'Kurtanize', datetime.date(1960, 1, 6), 'Male', 'Georgia'), (144, 'Elllil', 'Tngkveelnnn', datetime.date(1951, 6, 18), 'Male', 'India'), (145, 'Sofia', 'Benitez', datetime.date(2006, 7, 6), 'Female', 'Argentina'), (146, 'Bino', 'Todorova', datetime.date(1963, 3, 25), 'Male', 'Bulgaria'), (147, 'Aurelie', 'Duguay', datetime.date(1983, 12, 9), 'Female', 'Canada'), (148, 'Vincenc', 'Kramar', datetime.date(1991, 3, 14), 'Male', 'Slovenia'), (149, 'Eric', 'Martin', datetime.date(1998, 5, 15), 'Male', 'Belgium'), (150, 'Tomas', 'Olivo', datetime.date(1965, 1, 28), 'Male', 'Mexico'), (151, 'Leonor', 'Montoya', datetime.date(1963, 4, 29), 'Female', 'Colombia'), (152, 'Hyeonjun', 'Bag', datetime.date(1980, 1, 1), 'Male', 'South Korea'), (153, 'Tnnikaiccelvnnn', 'Aatitypirpaa', datetime.date(1963, 8, 23), 'Male', 'India'), (154, 'Edith', 'Drolet', datetime.date(1981, 6, 29), 'Female', 'Canada'), (155, 'Vivi', 'Halimah', datetime.date(1966, 11, 30), 'Female', 'Indonesia'), (156, 'Etienne', 'De smedt', datetime.date(1944, 6, 3), 'Male', 'Belgium'), (157, 'Marcela', 'Brozova', datetime.date(1943, 3, 28), 'Female', 'Czech Republic'), (158, 'Mats', 'Van oostendorp', datetime.date(1953, 11, 14), 'Male', 'Netherlands'), (159, 'Gabriela', 'Misikova', datetime.date(1974, 5, 11), 'Female', 'Slovakia'), (160, 'Julius', 'Akelis', datetime.date(1994, 5, 17), 'Female', 'Lithuania'), (161, 'Alena', 'Dubovska', datetime.date(1987, 7, 26), 'Female', 'Slovakia'), (162, 'Jean', 'Sorensen', datetime.date(1982, 6, 14), 'Female', 'Denmark'), (163, 'Luc', 'Lemmens', datetime.date(1966, 10, 27), 'Male', 'Belgium'), (164, 'Dy', 'Mlmd', datetime.date(1972, 6, 23), 'Female', 'Israel'), (165, 'Michael', 'Shaw', datetime.date(2005, 1, 16), 'Male', 'Philippines'), (166, 'Laurita', 'Nauseda', datetime.date(1954, 11, 25), 'Male', 'Lithuania'), (167, 'Kim', 'Gallagher', datetime.date(1961, 11, 19), 'Female', 'United Kingdom'), (168, 'Francoise', 'Schumacher', datetime.date(1959, 2, 28), 'Female', 'Switzerland'), (169, 'Jennifer', 'Aguilar', datetime.date(1962, 1, 28), 'Female', 'Philippines'), (170, 'Matthew', 'Mitchell', datetime.date(1985, 5, 28), 'Male', 'United Arab Emirates'), (171, 'Marfa', 'Kolobova', datetime.date(1998, 9, 23), 'Female', 'Russia'), (172, 'Thiago valentin', 'Nunez', datetime.date(1948, 8, 25), 'Male', 'Argentina'), (173, 'Zennun', 'Zengin', datetime.date(1997, 6, 10), 'Male', 'Turkey'), (174, 'Douglas', 'Underwood', datetime.date(2005, 10, 24), 'Male', 'Vietnam'), (175, 'Rita', 'Verstraete', datetime.date(1942, 5, 5), 'Female', 'Belgium'), (176, 'Teo', 'Amador', datetime.date(2000, 1, 25), 'Male', 'Spain'), (177, 'Rekhaa', 'Shresstth', datetime.date(1944, 11, 22), 'Female', 'Nepal'), (178, 'Christian', 'Brown', datetime.date(2006, 8, 14), 'Male', 'Switzerland'), (179, 'Du si ', 'Ji tian ', datetime.date(1936, 9, 14), 'Male', 'Japan'), (180, 'Leah', 'Rodriguez', datetime.date(1979, 9, 11), 'Female', 'Switzerland'), (181, 'Jabulani', 'Ncanana', datetime.date(1996, 10, 22), 'Male', 'South Africa'), (182, 'Naina', 'Davydov', datetime.date(1997, 4, 1), 'Female', 'Russia'), (183, 'Ruben', 'Rendon', datetime.date(1946, 2, 1), 'Male', 'Mexico'), (184, 'Isabelly', 'Marques', datetime.date(1992, 8, 18), 'Female', 'Brazil'), (185, 'Ddli', 'De', datetime.date(1944, 7, 23), 'Female', 'Bangladesh'), (186, 'Gary', 'Roberts', datetime.date(1935, 5, 15), 'Male', 'Egypt'), (187, 'Michelle', 'Fox', datetime.date(1999, 7, 25), 'Female', 'Vietnam'), (188, 'Tlyh', 'Bdarnh', datetime.date(1957, 11, 14), 'Female', 'Israel'), (189, 'Victoria', 'Andreasen', datetime.date(1954, 12, 30), 'Female', 'Denmark'), (190, 'Elizabeth', 'Matthews', datetime.date(1987, 8, 19), 'Female', 'Cyprus'), (191, 'Andrew', 'Adams', datetime.date(1956, 10, 10), 'Male', 'Bahrain'), (192, 'Heidi', 'Taylor', datetime.date(1948, 9, 13), 'Female', 'Bahrain'), (193, 'Sokrates', 'Berbite', datetime.date(1955, 10, 18), 'Male', 'Greece'), (194, 'Edit', 'Molnar', datetime.date(1951, 1, 5), 'Female', 'Hungary'), (195, 'Knnniraa', 'Tngkturai', datetime.date(1970, 12, 17), 'Female', 'India'), (196, 'Nina', 'Charlier', datetime.date(2001, 3, 4), 'Female', 'Belgium'), (197, 'Joseph', 'Collins', datetime.date(1936, 3, 14), 'Male', 'Bahrain'), (198, 'Ineta', 'Grinius', datetime.date(1974, 4, 18), 'Female', 'Lithuania'), (199, 'Luyanda', 'Mboko', datetime.date(1975, 12, 29), 'Male', 'South Africa'), (200, 'Gugulethu', 'Ngotsha', datetime.date(1973, 5, 26), 'Female', 'South Africa'), (201, 'Hamazasp', 'Isabekyan', datetime.date(1990, 11, 9), 'Male', 'Armenia'), (202, 'James', 'Chaney', datetime.date(1946, 1, 23), 'Male', 'Bosnia and Herzegovina'), (203, 'Christopher', 'Flowers', datetime.date(1941, 7, 6), 'Male', 'Bahrain'), (204, 'Triin', 'Sarap', datetime.date(1972, 12, 2), 'Female', 'Estonia'), (205, 'Izolda', 'Kobaize', datetime.date(1978, 11, 22), 'Female', 'Georgia'), (206, 'Beatriz', 'Yanez', datetime.date(2002, 8, 5), 'Male', 'Mexico'), (207, 'Atanur', 'Akca', datetime.date(1978, 3, 17), 'Female', 'Turkey'), (208, 'Declan', 'Fehan', datetime.date(1959, 12, 25), 'Male', 'Ireland'), (209, 'Krssnn', 'Paanndde', datetime.date(1972, 12, 27), 'Male', 'Nepal'), (210, 'Rael', 'Barros', datetime.date(1983, 6, 8), 'Male', 'Brazil'), (211, 'Premysl', 'Stastny', datetime.date(1944, 10, 22), 'Male', 'Czech Republic'), (212, 'Brandon', 'Daugherty', datetime.date(1983, 7, 4), 'Male', 'Bahrain'), (213, 'Ann', 'Evans', datetime.date(1974, 11, 24), 'Female', 'United Kingdom'), (214, 'Yosef', 'Nugroho', datetime.date(1991, 6, 18), 'Male', 'Indonesia'), (215, 'Jason', 'Gross', datetime.date(1950, 2, 27), 'Male', 'Vietnam'), (216, 'Entilaksn', 'Thrrmniym', datetime.date(1968, 12, 29), 'Male', 'Thailand'), (217, 'Wojciech', 'Wiek', datetime.date(1964, 10, 26), 'Male', 'Germany'), (218, 'Julie', 'Fisher', datetime.date(1956, 12, 12), 'Female', 'Bahrain'), (219, 'Dara', 'Herbert', datetime.date(1963, 11, 29), 'Male', 'Ireland'), (220, 'Yu mei ', 'Liu ', datetime.date(1975, 8, 28), 'Female', 'China'), (221, 'Eivor', 'Axelsson', datetime.date(1949, 12, 27), 'Female', 'Sweden'), (222, 'Miguel angel', 'Coronado', datetime.date(1966, 2, 2), 'Male', 'Mexico'), (223, 'Zhe wei ', 'Zhang ', datetime.date(1986, 12, 6), 'Male', 'Taiwan'), (224, 'Raaj', 'Caudhurii', datetime.date(1954, 2, 2), 'Male', 'Bangladesh'), (225, 'Rhonda', 'Edwards', datetime.date(1974, 3, 14), 'Female', 'Bahrain'), (226, 'Leocadio', 'Echevarria', datetime.date(1956, 7, 2), 'Male', 'Spain'), (227, 'Patricia', 'Van hoof', datetime.date(2000, 5, 20), 'Female', 'Belgium'), (228, 'Rymas', 'Hvrbyts', datetime.date(1937, 9, 14), 'Female', 'Israel'), (229, 'Hamiyet', 'Durmus', datetime.date(2001, 11, 3), 'Female', 'Turkey'), (230, 'Nomalanga', 'Sikwayo', datetime.date(1987, 5, 15), 'Female', 'South Africa'), (231, 'Michaela', 'Strnad', datetime.date(1961, 8, 28), 'Female', 'Czech Republic'), (232, 'Candace', 'Frazier', datetime.date(1996, 6, 14), 'Female', 'Jordan'), (233, 'Regina', 'Isaev', datetime.date(1960, 1, 22), 'Female', 'Russia'), (234, 'Carlos', 'Johnson', datetime.date(1979, 1, 21), 'Male', 'United Arab Emirates'), (235, 'Lilja', 'Koskinen', datetime.date(1997, 2, 23), 'Female', 'Finland'), (236, 'Kyle', 'Faulkner', datetime.date(1972, 9, 15), 'Male', 'Philippines'), (237, 'Maria', 'Hansson', datetime.date(1973, 5, 15), 'Female', 'Sweden'), (238, 'Ishu', 'Shresstth', datetime.date(1934, 4, 26), 'Female', 'Nepal'), (239, 'Michael', 'Mendez', datetime.date(1997, 7, 20), 'Male', 'United States'), (240, 'Natalie', 'Johnson', datetime.date(1956, 3, 21), 'Female', 'Canada'), (241, 'Nataliia', 'Shvaika', datetime.date(1975, 6, 7), 'Female', 'Ukraine'), (242, 'Hui wen ', 'Ou ', datetime.date(1955, 7, 6), 'Female', 'Taiwan'), (243, 'Alicia', 'Urias', datetime.date(1964, 6, 7), 'Male', 'Mexico'), (244, 'Gunnar', 'Karlsson', datetime.date(1962, 6, 28), 'Male', 'Sweden'), (245, 'Umar', 'Maheswara', datetime.date(1954, 12, 26), 'Male', 'Indonesia'), (246, 'Felipe', 'Ibarra', datetime.date(1934, 6, 4), 'Male', 'Colombia'), (247, 'Lena', 'Adrowni', datetime.date(1996, 10, 13), 'Female', 'Armenia'), (248, 'Jesse', 'Cooksley', datetime.date(1985, 10, 9), 'Male', 'New Zealand'), (249, 'Samantha', 'Johnson', datetime.date(1968, 4, 8), 'Female', 'Philippines'), (250, 'Attila', 'Balazs', datetime.date(1966, 7, 11), 'Male', 'Hungary'), (251, 'Gabriella', 'Hutasoit', datetime.date(2005, 6, 9), 'Female', 'Indonesia'), (252, 'Addison', 'Phillips', datetime.date(1949, 4, 18), 'Female', 'New Zealand'), (253, 'Mark', 'Mcdonald', datetime.date(1977, 11, 19), 'Male', 'Albania'), (254, 'Noel', 'Staunton', datetime.date(1957, 12, 3), 'Male', 'Ireland'), (255, 'Adam', 'Jonsson', datetime.date(1981, 1, 13), 'Male', 'Sweden'), (256, 'Cheryl', 'Collins', datetime.date(1951, 4, 15), 'Female', 'Albania'), (257, 'Damian', 'Richardson', datetime.date(1970, 6, 24), 'Male', 'United Kingdom'), (258, 'Daniel', 'Frydel', datetime.date(1998, 3, 27), 'Male', 'Poland'), (259, 'Vigilija', 'Akelis', datetime.date(1953, 3, 27), 'Male', 'Lithuania'), (260, 'Priyaa', 'Baagcii', datetime.date(1959, 12, 24), 'Female', 'Bangladesh'), (261, 'Esko', 'Nousiainen', datetime.date(1968, 5, 7), 'Male', 'Finland'), (262, '

In [17]:
unique_countries = set(runner[5] for runner in runners)
print("Unique countries:", unique_countries)

Unique countries: {'Luxembourg', 'Norway', 'Azerbaijan', 'Spain', 'Switzerland', 'Bahrain', 'United Kingdom', 'Cyprus', 'Lithuania', 'Greece', 'Italy', 'Armenia', 'Brazil', 'Israel', 'Austria', 'Saudi Arabia', 'China', 'Slovenia', 'Argentina', 'Bulgaria', 'Nepal', 'Japan', 'Finland', 'Georgia', 'India', 'Sweden', 'Estonia', 'Netherlands', 'Denmark', 'Jordan', 'Croatia', 'Chile', 'Slovakia', 'Latvia', 'Albania', 'Indonesia', 'Romania', 'Philippines', 'Poland', 'Canada', 'Ireland', 'South Africa', 'Australia', 'Bangladesh', 'New Zealand', 'Hungary', 'Bosnia and Herzegovina', 'United States', 'Iran', 'Colombia', 'South Korea', 'Vietnam', 'Thailand', 'United Arab Emirates', 'Egypt', 'Czech Republic', 'Ukraine', 'Portugal', 'Turkey', 'Taiwan', 'Mexico', 'Belgium', 'Russia', 'France', 'Germany'}

In [18]:
print(runners[:10])

[(1, 'Temur', 'Beraze', datetime.date(1963, 2, 12), 'Male', 'Georgia'), (2, 'Nora', 'Kalents', datetime.date(2001, 1, 27), 'Female', 'Armenia'), (3, 'Michael', 'Newman', datetime.date(1996, 6, 22), 'Male', 'Luxembourg'), (4, 'Christy', 'Hickey', datetime.date(1982, 2, 11), 'Male', 'Ireland'), (5, 'Vpry', 'Khsn', datetime.date(1946, 3, 8), 'Female', 'Israel'), (6, 'Ylay', 'Tsvr', datetime.date(2004, 12, 13), 'Male', 'Israel'), (7, 'Andrea', 'Vlkova', datetime.date(1994, 6, 15), 'Female', 'Slovakia'), (8, 'Denise', 'Mack', datetime.date(1966, 2, 5), 'Female', 'Egypt'), (9, 'Gerald', 'Rowan', datetime.date(1995, 5, 20), 'Male', 'Ireland'), (10, 'Jaroslava', 'Mares', datetime.date(1998, 4, 22), 'Female', 'Czech Republic')]

In [19]:
runners_countries = runners[5]
print(runners_countries)

(6, 'Ylay', 'Tsvr', datetime.date(2004, 12, 13), 'Male', 'Israel')

In [20]:
# Generate Events Table
events = []
event_id = 1
for marathon_name, dates in marathons:
    for event_date in dates:
        events.append((
            event_id,
            marathon_name,
            datetime.datetime.strptime(event_date, "%Y-%m-%d").date()  # Ensure event_date is a datetime.date object 
        ))
        event_id += 1

In [21]:
print(events)

[(1, 'Boston Marathon', datetime.date(2012, 4, 16)), (2, 'Boston Marathon', datetime.date(2013, 4, 15)), (3, 'Boston Marathon', datetime.date(2014, 4, 21)), (4, 'Boston Marathon', datetime.date(2015, 4, 20)), (5, 'Boston Marathon', datetime.date(2016, 4, 18)), (6, 'Boston Marathon', datetime.date(2017, 4, 17)), (7, 'Boston Marathon', datetime.date(2018, 4, 16)), (8, 'Boston Marathon', datetime.date(2019, 4, 15)), (9, 'Boston Marathon', datetime.date(2020, 10, 11)), (10, 'Boston Marathon', datetime.date(2021, 10, 11)), (11, 'Boston Marathon', datetime.date(2022, 4, 18)), (12, 'Boston Marathon', datetime.date(2023, 4, 17)), (13, 'London Marathon', datetime.date(2012, 4, 22)), (14, 'London Marathon', datetime.date(2013, 4, 21)), (15, 'London Marathon', datetime.date(2014, 4, 21)), (16, 'London Marathon', datetime.date(2015, 4, 26)), (17, 'London Marathon', datetime.date(2016, 4, 24)), (18, 'London Marathon', datetime.date(2017, 4, 23)), (19, 'London Marathon', datetime.date(2018, 4, 22)), (20, 'London Marathon', datetime.date(2019, 4, 28)), (21, 'London Marathon', datetime.date(2020, 10, 4)), (22, 'London Marathon', datetime.date(2021, 10, 3)), (23, 'London Marathon', datetime.date(2022, 10, 2)), (24, 'London Marathon', datetime.date(2023, 4, 23)), (25, 'New York City Marathon', datetime.date(2012, 11, 4)), (26, 'New York City Marathon', datetime.date(2013, 11, 3)), (27, 'New York City Marathon', datetime.date(2014, 11, 2)), (28, 'New York City Marathon', datetime.date(2015, 11, 1)), (29, 'New York City Marathon', datetime.date(2016, 11, 6)), (30, 'New York City Marathon', datetime.date(2017, 11, 5)), (31, 'New York City Marathon', datetime.date(2018, 11, 4)), (32, 'New York City Marathon', datetime.date(2019, 11, 3)), (33, 'New York City Marathon', datetime.date(2020, 12, 13)), (34, 'New York City Marathon', datetime.date(2021, 11, 7)), (35, 'New York City Marathon', datetime.date(2022, 11, 6)), (36, 'New York City Marathon', datetime.date(2023, 11, 5)), (37, 'Berlin Marathon', datetime.date(2012, 9, 30)), (38, 'Berlin Marathon', datetime.date(2013, 9, 29)), (39, 'Berlin Marathon', datetime.date(2014, 9, 28)), (40, 'Berlin Marathon', datetime.date(2015, 9, 27)), (41, 'Berlin Marathon', datetime.date(2016, 9, 25)), (42, 'Berlin Marathon', datetime.date(2017, 9, 24)), (43, 'Berlin Marathon', datetime.date(2018, 9, 16)), (44, 'Berlin Marathon', datetime.date(2019, 9, 29)), (45, 'Berlin Marathon', datetime.date(2020, 9, 27)), (46, 'Berlin Marathon', datetime.date(2021, 9, 26)), (47, 'Berlin Marathon', datetime.date(2022, 9, 25)), (48, 'Berlin Marathon', datetime.date(2023, 9, 24)), (49, 'Chicago Marathon', datetime.date(2012, 10, 7)), (50, 'Chicago Marathon', datetime.date(2013, 10, 13)), (51, 'Chicago Marathon', datetime.date(2014, 10, 12)), (52, 'Chicago Marathon', datetime.date(2015, 10, 11)), (53, 'Chicago Marathon', datetime.date(2016, 10, 9)), (54, 'Chicago Marathon', datetime.date(2017, 10, 8)), (55, 'Chicago Marathon', datetime.date(2018, 10, 7)), (56, 'Chicago Marathon', datetime.date(2019, 10, 13)), (57, 'Chicago Marathon', datetime.date(2020, 10, 11)), (58, 'Chicago Marathon', datetime.date(2021, 10, 10)), (59, 'Chicago Marathon', datetime.date(2022, 10, 9)), (60, 'Chicago Marathon', datetime.date(2023, 10, 8)), (61, 'Tokyo Marathon', datetime.date(2012, 2, 26)), (62, 'Tokyo Marathon', datetime.date(2013, 2, 24)), (63, 'Tokyo Marathon', datetime.date(2014, 2, 23)), (64, 'Tokyo Marathon', datetime.date(2015, 2, 22)), (65, 'Tokyo Marathon', datetime.date(2016, 2, 28)), (66, 'Tokyo Marathon', datetime.date(2017, 2, 26)), (67, 'Tokyo Marathon', datetime.date(2018, 2, 25)), (68, 'Tokyo Marathon', datetime.date(2019, 3, 3)), (69, 'Tokyo Marathon', datetime.date(2020, 3, 1)), (70, 'Tokyo Marathon', datetime.date(2021, 3, 7)), (71, 'Tokyo Marathon', datetime.date(2022, 3, 6)), (72, 'Tokyo Marathon', datetime.date(2023, 3, 5))]

In [22]:
# Generate Results Table
results = []
assigned_pairs = set()  # Set to keep track of assigned (runner_id, event_id) pairs

In [23]:
# World record times in hours: minutes: seconds
mens_world_record = 2 + 0 + 35/3600  # 2:00:35 Eliud Kipchoge Marathon 2023 WR 
womens_world_record = 2 + 11/60 + 53/3600  # 2:11:53 Brigid Kosgei 2019 WR

# Initialize variables
assigned_pairs = set()  # To track unique (runner_id, event_id) pairs
results = []  # List to store results

# Randomly select 100 unique runner IDs to be elite
elite_runner_ids = set(random.sample(range(1, num_runners + 1), 100))

for i in range(1, num_results + 1):
    # Limit the number of attempts to find a unique (runner_id, event_id) pair
    attempts = 0
    max_attempts = 100  # Adjust this number as needed
    unique_pair_found = False
    
    while attempts < max_attempts:
        runner_id = random.randint(1, num_runners)
        event_id = random.randint(1, num_events)  # Randomly select an event_id from all events
        
        if (runner_id, event_id) not in assigned_pairs:
            assigned_pairs.add((runner_id, event_id))  # Record the (runner_id, event_id) pair
            unique_pair_found = True
            break
        
        attempts += 1
    
    if not unique_pair_found:
        print(f"Could not find a unique (runner_id, event_id) pair after {max_attempts} attempts. Exiting loop.")
        break
    
    # Get the runner details
    runner = next(r for r in runners if r[0] == runner_id)
    finish_time = random_time()  # Ensure this function returns a string in 'HH:MM:SS' format
    category = runner[4]  # Use the runner's category from the runners table
    is_elite = 'False'
    
    # Convert finish_time to hours (float)
    hours = int(finish_time[:2]) + int(finish_time[3:5])/60 + int(finish_time[6:])/3600  # Assumes 'HH:MM:SS' format
    
    # Adjust finish time if it breaks the world record
    if category == 'Male' and hours < mens_world_record:
        finish_time = "02:01:10"  # Slightly slower than the men's world record
    elif category == 'Female' and hours < womens_world_record:
        finish_time = "02:11:54"  # Slightly slower than the women's world record
    
    # Determine if the runner's finish time is elite, but only for pre-selected elite runners
    if runner_id in elite_runner_ids:
        if category == 'Male' and hours < 2.15:
            is_elite = 'True'
        elif category == 'Female' and hours < 2.30:
            is_elite = 'True'
    
    results.append((
        i,
        event_id,
        runner_id,
        finish_time,
        category,
        is_elite
    ))

Could not find a unique (runner_id, event_id) pair after 100 attempts. Exiting loop.

In [24]:
# Check results
for result in results[:1000]:
    print(result[:1000])

(1, 4, 556, '04:25:19', 'Female', 'False')
(2, 43, 647, '03:05:26', 'Male', 'False')
(3, 29, 795, '04:40:14', 'Male', 'False')
(4, 26, 32, '05:00:25', 'Female', 'False')
(5, 42, 255, '04:21:21', 'Male', 'False')
(6, 34, 614, '02:04:47', 'Male', 'False')
(7, 17, 368, '05:31:16', 'Male', 'False')
(8, 30, 76, '03:14:53', 'Male', 'False')
(9, 33, 423, '03:59:33', 'Female', 'False')
(10, 35, 263, '02:32:09', 'Female', 'False')
(11, 67, 936, '05:31:21', 'Female', 'False')
(12, 63, 568, '04:32:04', 'Male', 'False')
(13, 16, 814, '02:11:54', 'Female', 'False')
(14, 48, 355, '05:10:48', 'Female', 'False')
(15, 67, 79, '04:43:38', 'Male', 'False')
(16, 35, 222, '04:50:32', 'Male', 'False')
(17, 32, 482, '04:56:37', 'Female', 'False')
(18, 45, 9, '02:21:05', 'Male', 'False')
(19, 50, 951, '04:17:24', 'Female', 'False')
(20, 36, 117, '03:35:45', 'Male', 'False')
(21, 67, 124, '05:27:49', 'Female', 'False')
(22, 31, 61, '02:29:40', 'Female', 'False')
(23, 60, 191, '04:58:53', 'Male', 'False')
(24, 6, 693, '02:48:54', 'Female', 'False')
(25, 14, 99, '03:55:43', 'Female', 'False')
(26, 55, 21, '04:15:11', 'Female', 'False')
(27, 27, 149, '04:37:21', 'Male', 'False')
(28, 31, 653, '04:08:44', 'Male', 'False')
(29, 22, 325, '03:41:18', 'Female', 'False')
(30, 46, 229, '02:11:54', 'Female', 'False')
(31, 2, 135, '04:23:51', 'Female', 'False')
(32, 60, 210, '05:17:50', 'Male', 'False')
(33, 25, 425, '05:56:40', 'Male', 'False')
(34, 48, 88, '03:40:13', 'Male', 'False')
(35, 57, 107, '05:11:59', 'Male', 'False')
(36, 44, 467, '02:00:42', 'Male', 'False')
(37, 51, 557, '03:24:46', 'Male', 'False')
(38, 18, 922, '02:46:07', 'Male', 'False')
(39, 13, 204, '02:40:26', 'Female', 'False')
(40, 68, 828, '04:33:54', 'Female', 'False')
(41, 31, 51, '05:00:05', 'Male', 'False')
(42, 46, 900, '05:33:29', 'Female', 'False')
(43, 56, 745, '04:41:36', 'Male', 'False')
(44, 60, 196, '03:11:47', 'Female', 'False')
(45, 30, 992, '04:21:39', 'Female', 'False')
(46, 7, 579, '03:00:43', 'Female', 'False')
(47, 54, 127, '03:55:08', 'Female', 'False')
(48, 4, 697, '02:58:31', 'Male', 'False')
(49, 35, 791, '04:08:53', 'Female', 'False')
(50, 34, 286, '02:12:16', 'Male', 'False')
(51, 37, 790, '02:50:28', 'Female', 'False')
(52, 46, 710, '02:26:21', 'Male', 'False')
(53, 16, 106, '05:54:41', 'Male', 'False')
(54, 41, 903, '02:11:54', 'Female', 'False')
(55, 36, 524, '05:30:00', 'Female', 'False')
(56, 35, 235, '05:36:06', 'Female', 'False')
(57, 34, 745, '04:51:06', 'Male', 'False')
(58, 57, 228, '02:23:04', 'Female', 'False')
(59, 31, 401, '03:16:35', 'Male', 'False')
(60, 20, 817, '05:15:17', 'Female', 'False')
(61, 35, 718, '03:26:39', 'Female', 'False')
(62, 47, 151, '03:16:35', 'Female', 'False')
(63, 4, 565, '04:59:36', 'Male', 'False')
(64, 19, 801, '05:32:11', 'Male', 'False')
(65, 15, 546, '04:46:38', 'Female', 'False')
(66, 69, 550, '03:28:27', 'Male', 'False')
(67, 20, 440, '02:58:13', 'Female', 'False')
(68, 43, 351, '03:39:33', 'Male', 'False')
(69, 67, 252, '04:53:09', 'Female', 'False')
(70, 1, 531, '05:16:30', 'Male', 'False')
(71, 12, 407, '02:29:23', 'Female', 'False')
(72, 43, 994, '02:43:37', 'Male', 'False')
(73, 32, 507, '04:06:55', 'Female', 'False')
(74, 48, 275, '02:11:54', 'Female', 'False')
(75, 51, 694, '05:22:11', 'Male', 'False')
(76, 64, 783, '02:44:43', 'Female', 'False')
(77, 55, 293, '04:03:04', 'Female', 'False')
(78, 26, 797, '04:54:56', 'Female', 'False')
(79, 24, 143, '02:05:42', 'Male', 'False')
(80, 63, 216, '03:57:15', 'Male', 'False')
(81, 42, 584, '03:32:56', 'Female', 'False')
(82, 42, 986, '04:38:39', 'Male', 'False')
(83, 20, 735, '05:53:39', 'Male', 'False')
(84, 54, 519, '02:15:49', 'Male', 'False')
(85, 20, 271, '04:59:46', 'Female', 'False')
(86, 17, 491, '05:03:13', 'Male', 'False')
(87, 52, 659, '02:40:39', 'Female', 'False')
(88, 51, 548, '05:12:26', 'Male', 'False')
(89, 4, 741, '02:27:51', 'Female', 'False')
(90, 46, 281, '02:40:22', 'Female', 'False')
(91, 32, 720, '02:35:53', 'Female', 'False')
(92, 63, 429, '03:28:36', 'Male', 'False')
(93, 44, 707, '03:36:28', 'Female', 'False')
(94, 25, 210, '05:42:09', 'Male', 'False')
(95, 6, 879, '02:11:54', 'Female', 'False')
(96, 49, 239, '03:58:36', 'Male', 'False')
(97, 58, 292, '04:20:02', 'Female', 'False')
(98, 44, 973, '04:35:54', 'Female', 'False')
(99, 38, 939, '05:30:42', 'Male', 'False')
(100, 70, 264, '05:24:35', 'Female', 'False')
(101, 36, 569, '03:30:08', 'Female', 'False')
(102, 8, 570, '05:04:53', 'Male', 'False')
(103, 35, 317, '02:09:06', 'Male', 'False')
(104, 21, 232, '05:05:52', 'Female', 'False')
(105, 54, 907, '05:36:55', 'Male', 'False')
(106, 45, 781, '03:18:43', 'Female', 'False')
(107, 57, 996, '05:47:28', 'Male', 'False')
(108, 26, 403, '02:09:45', 'Male', 'False')
(109, 44, 151, '04:30:21', 'Female', 'False')
(110, 49, 950, '03:11:49', 'Male', 'False')
(111, 55, 232, '05:09:04', 'Female', 'False')
(112, 55, 779, '04:30:26', 'Male', 'False')
(113, 29, 229, '03:00:36', 'Female', 'False')
(114, 65, 137, '05:08:30', 'Female', 'False')
(115, 36, 677, '05:51:06', 'Female', 'False')
(116, 22, 706, '04:53:12', 'Male', 'False')
(117, 13, 550, '04:40:16', 'Male', 'False')
(118, 25, 185, '02:25:04', 'Female', 'False')
(119, 69, 155, '05:58:28', 'Female', 'False')
(120, 61, 872, '03:05:04', 'Female', 'False')
(121, 3, 1000, '03:10:10', 'Female', 'False')
(122, 24, 145, '02:11:54', 'Female', 'False')
(123, 4, 379, '05:39:18', 'Male', 'False')
(124, 45, 745, '02:24:39', 'Male', 'False')
(125, 30, 828, '02:20:41', 'Female', 'False')
(126, 24, 749, '04:18:01', 'Male', 'False')
(127, 47, 480, '02:55:43', 'Male', 'False')
(128, 7, 877, '03:45:34', 'Male', 'False')
(129, 10, 258, '03:07:08', 'Male', 'False')
(130, 11, 236, '05:42:29', 'Male', 'False')
(131, 21, 59, '04:34:12', 'Male', 'False')
(132, 62, 700, '02:33:56', 'Female', 'False')
(133, 5, 495, '05:46:56', 'Female', 'False')
(134, 34, 190, '04:55:57', 'Female', 'False')
(135, 35, 793, '02:11:54', 'Female', 'False')
(136, 43, 465, '05:04:40', 'Female', 'False')
(137, 62, 999, '05:14:31', 'Male', 'False')
(138, 34, 741, '04:38:21', 'Female', 'False')
(139, 70, 614, '03:05:04', 'Male', 'False')
(140, 40, 581, '03:24:30', 'Female', 'False')
(141, 64, 18, '02:11:54', 'Female', 'False')
(142, 33, 855, '03:47:43', 'Male', 'False')
(143, 13, 158, '04:20:09', 'Male', 'False')
(144, 20, 476, '03:13:37', 'Male', 'False')
(145, 44, 756, '05:05:35', 'Male', 'False')
(146, 70, 734, '03:35:55', 'Female', 'False')
(147, 59, 485, '02:11:54', 'Female', 'False')
(148, 69, 206, '02:02:50', 'Male', 'False')
(149, 30, 945, '05:52:30', 'Female', 'False')
(150, 60, 834, '05:43:30', 'Male', 'False')
(151, 8, 574, '02:11:54', 'Female', 'False')
(152, 17, 783, '03:38:40', 'Female', 'False')
(153, 15, 653, '05:53:13', 'Male', 'False')
(154, 47, 380, '02:26:42', 'Male', 'False')
(155, 57, 618, '05:46:03', 'Male', 'False')
(156, 65, 181, '05:10:06', 'Male', 'False')
(157, 10, 814, '02:37:03', 'Female', 'False')
(158, 8, 134, '05:01:23', 'Male', 'False')
(159, 61, 422, '03:43:37', 'Male', 'False')
(160, 44, 133, '03:27:59', 'Male', 'False')
(161, 57, 272, '03:56:31', 'Female', 'False')
(162, 4, 187, '03:39:51', 'Female', 'False')
(163, 36, 519, '05:50:28', 'Male', 'False')
(164, 42, 212, '05:38:54', 'Male', 'False')
(165, 8, 218, '04:45:52', 'Female', 'False')
(166, 35, 95, '05:16:54', 'Male', 'False')
(167, 62, 654, '02:08:08', 'Male', 'False')
(168, 37, 112, '03:40:40', 'Male', 'False')
(169, 25, 48, '02:15:27', 'Male', 'False')
(170, 25, 137, '02:12:30', 'Female', 'False')
(171, 62, 429, '05:26:27', 'Male', 'False')
(172, 13, 313, '04:25:22', 'Female', 'False')
(173, 22, 365, '04:02:38', 'Female', 'False')
(174, 16, 280, '02:39:17', 'Male', 'False')
(175, 46, 742, '02:42:13', 'Male', 'False')
(176, 46, 933, '02:23:08', 'Male', 'False')
(177, 49, 859, '04:23:46', 'Female', 'False')
(178, 39, 181, '02:50:43', 'Male', 'False')
(179, 44, 459, '04:21:55', 'Female', 'False')
(180, 21, 735, '04:51:43', 'Male', 'False')
(181, 35, 532, '02:54:47', 'Male', 'False')
(182, 38, 884, '04:40:00', 'Male', 'False')
(183, 51, 165, '03:10:51', 'Male', 'False')
(184, 32, 632, '05:57:03', 'Female', 'False')
(185, 2, 691, '03:57:29', 'Female', 'False')
(186, 29, 893, '04:01:15', 'Female', 'False')
(187, 5, 926, '05:16:56', 'Female', 'False')
(188, 65, 44, '04:16:09', 'Female', 'False')
(189, 30, 585, '05:47:23', 'Female', 'False')
(190, 58, 822, '04:42:50', 'Female', 'False')
(191, 64, 471, '02:22:15', 'Female', 'False')
(192, 32, 45, '04:28:48', 'Female', 'False')
(193, 12, 245, '05:25:06', 'Male', 'False')
(194, 27, 862, '03:58:12', 'Female', 'False')
(195, 35, 76, '03:50:17', 'Male', 'False')
(196, 16, 94, '05:50:10', 'Female', 'False')
(197, 51, 230, '02:16:57', 'Female', 'False')
(198, 15, 866, '05:38:59', 'Male', 'False')
(199, 55, 525, '02:56:38', 'Male', 'False')
(200, 5, 714, '03:28:09', 'Female', 'False')
(201, 34, 344, '05:22:21', 'Female', 'False')
(202, 50, 575, '02:29:11', 'Female', 'False')
(203, 32, 964, '03:07:14', 'Male', 'False')
(204, 10, 634, '02:40:19', 'Female', 'False')
(205, 72, 278, '02:08:28', 'Male', 'False')
(206, 54, 674, '03:53:19', 'Female', 'False')
(207, 59, 2, '05:41:55', 'Female', 'False')
(208, 9, 229, '04:07:54', 'Female', 'False')
(209, 68, 531, '03:30:33', 'Male', 'False')
(210, 31, 397, '05:49:27', 'Male', 'False')
(211, 23, 987, '02:40:14', 'Female', 'False')
(212, 55, 144, '03:27:44', 'Male', 'False')
(213, 63, 896, '05:11:15', 'Female', 'False')
(214, 50, 631, '04:01:59', 'Female', 'False')
(215, 49, 192, '05:27:25', 'Female', 'False')
(216, 47, 593, '05:54:47', 'Female', 'False')
(217, 23, 176, '03:11:58', 'Male', 'False')
(218, 63, 969, '02:13:01', 'Male', 'False')
(219, 2, 239, '03:21:31', 'Male', 'False')
(220, 65, 412, '05:14:19', 'Male', 'False')
(221, 42, 754, '04:36:34', 'Female', 'False')
(222, 49, 673, '05:49:39', 'Male', 'False')
(223, 28, 579, '02:35:33', 'Female', 'False')
(224, 8, 972, '04:49:04', 'Male', 'False')
(225, 4, 482, '05:57:02', 'Female', 'False')
(226, 14, 673, '03:27:54', 'Male', 'False')
(227, 49, 630, '03:17:41', 'Male', 'False')
(228, 51, 540, '04:14:11', 'Male', 'False')
(229, 62, 257, '03:36:30', 'Male', 'False')
(230, 32, 990, '03:06:09', 'Female', 'False')
(231, 47, 183, '02:50:44', 'Male', 'False')
(232, 44, 196, '03:57:59', 'Female', 'False')
(233, 32, 294, '02:09:19', 'Male', 'False')
(234, 39, 78, '05:56:05', 'Male', 'False')
(235, 61, 378, '02:11:54', 'Female', 'True')
(236, 33, 408, '04:37:42', 'Male', 'False')
(237, 31, 746, '03:07:33', 'Male', 'False')
(238, 27, 861, '03:03:03', 'Female', 'False')
(239, 24, 395, '03:15:30', 'Male', 'False')
(240, 67, 195, '02:22:04', 'Female', 'False')
(241, 47, 435, '04:42:41', 'Female', 'False')
(242, 33, 621, '03:11:07', 'Male', 'False')
(243, 21, 6, '05:54:57', 'Male', 'False')
(244, 25, 965, '04:19:04', 'Female', 'False')
(245, 12, 363, '03:38:51', 'Female', 'False')
(246, 34, 471, '02:49:40', 'Female', 'False')
(247, 26, 954, '05:33:37', 'Female', 'False')
(248, 2, 258, '04:53:50', 'Male', 'False')
(249, 3, 909, '02:07:58', 'Male', 'False')
(250, 41, 547, '04:17:21', 'Female', 'False')
(251, 57, 483, '05:17:13', 'Female', 'False')
(252, 29, 641, '05:47:34', 'Male', 'False')
(253, 69, 510, '05:07:45', 'Female', 'False')
(254, 53, 201, '03:21:18', 'Male', 'False')
(255, 53, 181, '03:47:10', 'Male', 'False')
(256, 68, 127, '04:09:34', 'Female', 'False')
(257, 9, 157, '03:12:11', 'Female', 'False')
(258, 71, 516, '05:27:33', 'Male', 'False')
(259, 42, 533, '02:27:36', 'Male', 'False')
(260, 55, 807, '02:11:54', 'Female', 'False')
(261, 50, 124, '05:55:03', 'Female', 'False')
(262, 18, 180, '02:14:17', 'Female', 'False')
(263, 35, 425, '02:31:23', 'Male', 'False')
(264, 26, 618, '04:12:57', 'Male', 'False')
(265, 12, 161, '03:56:18', 'Female', 'False')
(266, 18, 736, '04:56:39', 'Female', 'False')
(267, 50, 929, '03:26:24', 'Male', 'False')
(268, 13, 284, '02:14:08', 'Female', 'False')
(269, 66, 335, '05:09:28', 'Male', 'False')
(270, 23, 383, '05:50:56', 'Male', 'False')
(271, 68, 579, '03:38:39', 'Female', 'False')
(272, 30, 252, '05:03:34', 'Female', 'False')
(273, 48, 241, '03:18:54', 'Female', 'False')
(274, 60, 39, '05:36:17', 'Female', 'False')
(275, 39, 258, '04:51:04', 'Male', 'False')
(276, 30, 306, '05:21:38', 'Male', 'False')
(277, 72, 768, '03:46:06', 'Male', 'False')
(278, 21, 106, '05:11:02', 'Male', 'False')
(279, 6, 570, '04:53:16', 'Male', 'False')
(280, 46, 853, '03:36:00', 'Female', 'False')
(281, 6, 731, '03:11:11', 'Female', 'False')
(282, 45, 95, '03:15:49', 'Male', 'False')
(283, 58, 424, '03:16:03', 'Male', 'False')
(284, 30, 266, '04:42:56', 'Male', 'False')
(285, 5, 960, '04:25:21', 'Female', 'False')
(286, 69, 616, '04:14:36', 'Male', 'False')
(287, 39, 487, '04:27:00', 'Male', 'False')
(288, 57, 805, '04:56:23', 'Female', 'False')
(289, 67, 946, '05:08:06', 'Female', 'False')
(290, 44, 284, '03:18:36', 'Female', 'False')
(291, 46, 781, '03:38:16', 'Female', 'False')
(292, 71, 655, '04:55:35', 'Female', 'False')
(293, 20, 694, '03:01:35', 'Male', 'False')
(294, 11, 10, '02:23:47', 'Female', 'False')
(295, 63, 728, '04:49:14', 'Male', 'False')
(296, 14, 300, '05:40:07', 'Female', 'False')
(297, 29, 564, '04:37:53', 'Male', 'False')
(298, 14, 417, '05:16:01', 'Female', 'False')
(299, 69, 642, '02:45:25', 'Male', 'False')
(300, 47, 295, '05:23:09', 'Female', 'False')
(301, 27, 586, '03:58:15', 'Female', 'False')
(302, 9, 717, '03:55:06', 'Female', 'False')
(303, 68, 808, '05:48:20', 'Male', 'False')
(304, 2, 686, '03:50:41', 'Female', 'False')
(305, 5, 294, '04:33:13', 'Male', 'False')
(306, 71, 768, '05:29:04', 'Male', 'False')
(307, 9, 539, '02:46:17', 'Male', 'False')
(308, 5, 131, '02:58:39', 'Female', 'False')
(309, 5, 58, '05:47:03', 'Female', 'False')
(310, 24, 438, '03:31:20', 'Male', 'False')
(311, 31, 367, '05:46:27', 'Female', 'False')
(312, 47, 760, '05:22:01', 'Male', 'False')
(313, 68, 276, '05:45:14', 'Male', 'False')
(314, 58, 333, '04:23:53', 'Female', 'False')
(315, 32, 655, '03:40:38', 'Female', 'False')
(316, 44, 159, '02:46:52', 'Female', 'False')
(317, 69, 174, '02:15:55', 'Male', 'False')
(318, 20, 908, '05:05:47', 'Male', 'False')
(319, 48, 153, '04:09:15', 'Male', 'False')
(320, 42, 69, '05:17:19', 'Male', 'False')
(321, 56, 205, '05:05:14', 'Female', 'False')
(322, 55, 549, '02:22:04', 'Female', 'False')
(323, 22, 974, '05:06:29', 'Male', 'False')
(324, 38, 13, '03:25:31', 'Female', 'False')
(325, 43, 576, '02:40:41', 'Female', 'False')
(326, 10, 207, '04:40:20', 'Female', 'False')
(327, 36, 205, '05:01:05', 'Female', 'False')
(328, 71, 242, '05:24:05', 'Female', 'False')
(329, 58, 983, '05:23:34', 'Female', 'False')
(330, 50, 249, '05:47:18', 'Female', 'False')
(331, 45, 523, '02:21:28', 'Female', 'False')
(332, 46, 845, '02:59:10', 'Female', 'False')
(333, 32, 801, '02:11:43', 'Male', 'False')
(334, 35, 948, '02:56:03', 'Female', 'False')
(335, 18, 182, '05:21:59', 'Female', 'False')
(336, 68, 434, '05:39:45', 'Female', 'False')
(337, 33, 520, '03:01:02', 'Male', 'False')
(338, 33, 516, '04:15:17', 'Male', 'False')
(339, 7, 927, '05:58:34', 'Male', 'False')
(340, 25, 83, '02:43:40', 'Male', 'False')
(341, 46, 721, '02:11:54', 'Female', 'False')
(342, 69, 478, '04:06:58', 'Female', 'False')
(343, 16, 753, '02:04:44', 'Male', 'False')
(344, 35, 21, '04:05:42', 'Female', 'False')
(345, 2, 268, '03:53:45', 'Female', 'False')
(346, 4, 990, '03:10:25', 'Female', 'False')
(347, 49, 497, '02:54:37', 'Male', 'False')
(348, 44, 554, '02:42:29', 'Male', 'False')
(349, 12, 841, '03:01:57', 'Male', 'False')
(350, 23, 786, '03:21:43', 'Female', 'False')
(351, 59, 139, '02:56:19', 'Female', 'False')
(352, 64, 51, '04:58:26', 'Male', 'False')
(353, 68, 130, '05:19:53', 'Male', 'False')
(354, 72, 209, '02:14:25', 'Male', 'False')
(355, 58, 796, '03:37:48', 'Female', 'False')
(356, 36, 94, '05:26:52', 'Female', 'False')
(357, 68, 817, '04:38:42', 'Female', 'False')
(358, 64, 119, '04:42:45', 'Male', 'False')
(359, 68, 159, '03:00:32', 'Female', 'False')
(360, 46, 476, '04:42:20', 'Male', 'False')
(361, 68, 215, '05:32:25', 'Male', 'False')
(362, 21, 429, '02:48:43', 'Male', 'False')
(363, 20, 705, '05:22:02', 'Female', 'False')
(364, 63, 537, '04:32:53', 'Female', 'False')
(365, 26, 443, '03:02:53', 'Female', 'False')
(366, 72, 536, '03:47:31', 'Male', 'False')
(367, 51, 701, '05:39:09', 'Female', 'False')
(368, 52, 342, '03:27:55', 'Male', 'False')
(369, 20, 194, '03:32:33', 'Female', 'False')
(370, 47, 210, '02:59:50', 'Male', 'False')
(371, 69, 319, '03:24:47', 'Male', 'False')
(372, 69, 143, '03:08:29', 'Male', 'False')
(373, 6, 364, '03:43:04', 'Male', 'False')
(374, 29, 661, '05:17:01', 'Female', 'False')
(375, 64, 604, '02:23:38', 'Female', 'False')
(376, 50, 461, '05:18:52', 'Male', 'False')
(377, 32, 239, '05:31:00', 'Male', 'False')
(378, 38, 38, '05:20:25', 'Female', 'False')
(379, 68, 98, '02:45:09', 'Female', 'False')
(380, 59, 722, '02:58:39', 'Female', 'False')
(381, 35, 530, '05:50:13', 'Female', 'False')
(382, 43, 927, '03:13:39', 'Male', 'False')
(383, 5, 906, '03:14:31', 'Male', 'False')
(384, 3, 421, '03:56:48', 'Male', 'False')
(385, 69, 132, '04:56:44', 'Male', 'False')
(386, 24, 764, '05:57:17', 'Male', 'False')
(387, 64, 135, '03:02:51', 'Female', 'False')
(388, 12, 353, '03:46:59', 'Female', 'False')
(389, 23, 672, '03:33:41', 'Male', 'False')
(390, 28, 6, '02:52:13', 'Male', 'False')
(391, 43, 247, '02:58:09', 'Female', 'False')
(392, 43, 324, '05:04:37', 'Female', 'False')
(393, 44, 420, '04:55:14', 'Female', 'False')
(394, 3, 955, '05:18:30', 'Male', 'False')
(395, 44, 882, '05:33:31', 'Female', 'False')
(396, 2, 186, '03:08:26', 'Male', 'False')
(397, 14, 288, '02:53:14', 'Female', 'False')
(398, 6, 170, '05:29:16', 'Male', 'False')
(399, 43, 657, '03:56:18', 'Male', 'False')
(400, 56, 49, '05:15:30', 'Female', 'False')
(401, 49, 714, '03:49:12', 'Female', 'False')
(402, 44, 701, '05:47:20', 'Female', 'False')
(403, 2, 326, '02:50:15', 'Female', 'False')
(404, 11, 918, '03:49:55', 'Female', 'False')
(405, 1, 191, '03:11:32', 'Male', 'False')
(406, 13, 683, '05:59:17', 'Male', 'False')
(407, 65, 120, '02:56:10', 'Male', 'False')
(408, 63, 543, '03:43:59', 'Male', 'False')
(409, 59, 846, '02:20:40', 'Male', 'False')
(410, 66, 881, '05:53:35', 'Male', 'False')
(411, 65, 282, '04:53:28', 'Male', 'False')
(412, 41, 802, '03:18:09', 'Male', 'False')
(413, 33, 561, '04:57:43', 'Female', 'False')
(414, 48, 973, '02:15:47', 'Female', 'False')
(415, 4, 620, '05:29:35', 'Female', 'False')
(416, 6, 112, '04:09:26', 'Male', 'False')
(417, 64, 658, '05:31:51', 'Female', 'False')
(418, 5, 192, '05:17:58', 'Female', 'False')
(419, 8, 872, '03:29:13', 'Female', 'False')
(420, 72, 968, '03:11:04', 'Male', 'False')
(421, 69, 171, '03:34:05', 'Female', 'False')
(422, 14, 635, '02:06:55', 'Male', 'False')
(423, 46, 431, '02:29:04', 'Male', 'False')
(424, 67, 789, '03:27:56', 'Male', 'False')
(425, 37, 594, '05:53:19', 'Male', 'False')
(426, 39, 12, '03:14:44', 'Female', 'False')
(427, 63, 337, '04:54:44', 'Female', 'False')
(428, 42, 910, '04:56:21', 'Male', 'False')
(429, 6, 941, '03:50:55', 'Female', 'False')
(430, 45, 932, '03:21:08', 'Female', 'False')
(431, 8, 650, '05:34:03', 'Male', 'False')
(432, 4, 567, '04:36:12', 'Female', 'False')
(433, 18, 355, '05:50:22', 'Female', 'False')
(434, 20, 339, '03:01:11', 'Male', 'False')
(435, 44, 132, '05:30:41', 'Male', 'False')
(436, 19, 209, '02:13:12', 'Male', 'False')
(437, 68, 572, '03:48:16', 'Female', 'False')
(438, 58, 941, '04:20:21', 'Female', 'False')
(439, 61, 592, '05:22:45', 'Male', 'False')
(440, 71, 704, '04:17:36', 'Female', 'False')
(441, 66, 142, '02:54:57', 'Male', 'False')
(442, 12, 496, '02:24:11', 'Male', 'False')
(443, 36, 292, '04:22:15', 'Female', 'False')
(444, 5, 581, '05:43:58', 'Female', 'False')
(445, 51, 345, '05:05:44', 'Male', 'False')
(446, 25, 878, '05:10:25', 'Female', 'False')
(447, 53, 483, '04:48:18', 'Female', 'False')
(448, 10, 382, '03:06:35', 'Male', 'False')

In [25]:
# Verify that no runner has participated in the same event more than once
duplicates = [(runner_id, event_id) for (runner_id, event_id) in assigned_pairs]
if len(duplicates) != len(assigned_pairs):
    print("Error: A runner has participated in the same event more than once.")
else:
    print("Verification passed: No runner has participated in the same event more than once.")

Verification passed: No runner has participated in the same event more than once.

In [26]:
# Identify elite runners based on the 'results' table
elite_runners = [runner_id for _, _, runner_id, _, _, is_elite in results if is_elite == 'True']

In [27]:
print(elite_runners)
len(elite_runners)

[378, 136, 395, 70, 212, 276, 792, 451, 689, 276, 378, 299, 453, 283, 161, 48, 970, 569, 11, 340, 288, 281, 410, 452, 414, 226, 394, 513, 262, 216, 358, 473, 208, 394, 78, 23, 124, 859, 476, 735, 307, 500, 865, 410, 231, 889, 11, 283, 394, 32, 970, 94, 358, 178, 967, 705, 828, 884, 298, 274, 283, 964, 309, 23, 531, 735, 451, 93, 231, 309, 261, 792, 281, 531, 513, 256, 295, 513, 101, 101, 340, 410, 281, 158, 43, 378, 97, 421, 735, 604, 569, 898, 216, 967, 859, 309, 815, 949, 916, 256, 394, 340, 256, 17, 476, 97, 786, 274, 569, 504, 161, 32, 394, 158, 476, 101, 378, 97, 617, 859, 544, 617, 569, 274, 298, 231, 384, 231, 512, 531, 299, 212, 513, 689, 859, 414, 504, 735, 161, 898, 898, 226, 378, 136, 211, 884, 504, 410, 410, 705, 453, 256, 97, 261, 859, 295, 898, 358, 583, 617, 295, 500, 531, 124, 406, 491, 208, 23, 94, 689, 80, 53, 964, 384, 949, 410, 226, 16, 949, 136, 299, 889, 307, 410, 11, 307, 792, 283, 161, 446, 299, 500, 94, 125, 898, 43, 904, 786, 949, 53, 136, 967, 136, 970, 43, 226, 70, 295, 340, 500, 82, 274, 161, 94, 288, 487, 80, 23, 642, 815, 504, 283, 82, 477, 410, 446, 604, 295, 708, 281, 124, 288, 382, 815, 375, 211, 276, 828, 262, 80, 491, 124, 513, 231, 451, 394, 512, 161, 340, 384, 124, 451, 97, 477, 125, 949, 48, 473, 53, 262, 208, 299, 815, 382, 256, 967, 406, 569, 124, 569, 53, 161, 384, 421, 513, 967, 473, 94, 94, 545, 414, 744, 178, 473, 216, 125, 889, 708, 276, 792, 382, 744, 94, 262, 889, 451, 473, 414, 299, 125, 828, 307, 378, 358, 295, 828, 295, 309, 231, 452, 970, 705, 473, 896, 94, 512, 53, 446, 394, 406, 298, 451, 815, 453, 513, 82, 375, 513, 82, 452, 642, 617, 384, 101, 859, 500, 554, 340, 554, 889, 11, 896, 43, 161, 208, 32, 513, 231, 531, 735, 477, 82, 967, 295, 394, 896, 967, 23, 473, 307, 299, 80, 473, 617, 583, 161, 298, 125, 554, 898, 394, 786, 358]

373

In [28]:
from collections import Counter

# Identify elite runners based on the 'results' table
elite_runners = [runner_id for _, _, runner_id, _, _, is_elite in results if is_elite == 'True']

# Use Counter to count the occurrences of each runner_id
elite_runner_counts = Counter(elite_runners)

# Sort by the count in descending order
sorted_elite_runners = sorted(elite_runner_counts.items(), key=lambda x: x[1], reverse=True)

# Print the sorted results
for runner_id, count in sorted_elite_runners:
    print(f"Runner ID {runner_id} appears {count} times as an elite runner.")

Runner ID 161 appears 9 times as an elite runner.
Runner ID 394 appears 9 times as an elite runner.
Runner ID 513 appears 9 times as an elite runner.
Runner ID 410 appears 8 times as an elite runner.
Runner ID 473 appears 8 times as an elite runner.
Runner ID 94 appears 8 times as an elite runner.
Runner ID 295 appears 8 times as an elite runner.
Runner ID 299 appears 7 times as an elite runner.
Runner ID 231 appears 7 times as an elite runner.
Runner ID 967 appears 7 times as an elite runner.
Runner ID 378 appears 6 times as an elite runner.
Runner ID 451 appears 6 times as an elite runner.
Runner ID 569 appears 6 times as an elite runner.
Runner ID 340 appears 6 times as an elite runner.
Runner ID 124 appears 6 times as an elite runner.
Runner ID 859 appears 6 times as an elite runner.
Runner ID 898 appears 6 times as an elite runner.
Runner ID 136 appears 5 times as an elite runner.
Runner ID 283 appears 5 times as an elite runner.
Runner ID 358 appears 5 times as an elite runner.
Runner ID 23 appears 5 times as an elite runner.
Runner ID 735 appears 5 times as an elite runner.
Runner ID 307 appears 5 times as an elite runner.
Runner ID 500 appears 5 times as an elite runner.
Runner ID 889 appears 5 times as an elite runner.
Runner ID 531 appears 5 times as an elite runner.
Runner ID 256 appears 5 times as an elite runner.
Runner ID 97 appears 5 times as an elite runner.
Runner ID 815 appears 5 times as an elite runner.
Runner ID 949 appears 5 times as an elite runner.
Runner ID 617 appears 5 times as an elite runner.
Runner ID 384 appears 5 times as an elite runner.
Runner ID 53 appears 5 times as an elite runner.
Runner ID 125 appears 5 times as an elite runner.
Runner ID 82 appears 5 times as an elite runner.
Runner ID 276 appears 4 times as an elite runner.
Runner ID 792 appears 4 times as an elite runner.
Runner ID 970 appears 4 times as an elite runner.
Runner ID 11 appears 4 times as an elite runner.
Runner ID 281 appears 4 times as an elite runner.
Runner ID 414 appears 4 times as an elite runner.
Runner ID 226 appears 4 times as an elite runner.
Runner ID 262 appears 4 times as an elite runner.
Runner ID 208 appears 4 times as an elite runner.
Runner ID 828 appears 4 times as an elite runner.
Runner ID 298 appears 4 times as an elite runner.
Runner ID 274 appears 4 times as an elite runner.
Runner ID 309 appears 4 times as an elite runner.
Runner ID 101 appears 4 times as an elite runner.
Runner ID 43 appears 4 times as an elite runner.
Runner ID 504 appears 4 times as an elite runner.
Runner ID 80 appears 4 times as an elite runner.
Runner ID 689 appears 3 times as an elite runner.
Runner ID 453 appears 3 times as an elite runner.
Runner ID 288 appears 3 times as an elite runner.
Runner ID 452 appears 3 times as an elite runner.
Runner ID 216 appears 3 times as an elite runner.
Runner ID 476 appears 3 times as an elite runner.
Runner ID 32 appears 3 times as an elite runner.
Runner ID 705 appears 3 times as an elite runner.
Runner ID 786 appears 3 times as an elite runner.
Runner ID 512 appears 3 times as an elite runner.
Runner ID 406 appears 3 times as an elite runner.
Runner ID 446 appears 3 times as an elite runner.
Runner ID 477 appears 3 times as an elite runner.
Runner ID 382 appears 3 times as an elite runner.
Runner ID 896 appears 3 times as an elite runner.
Runner ID 554 appears 3 times as an elite runner.
Runner ID 70 appears 2 times as an elite runner.
Runner ID 212 appears 2 times as an elite runner.
Runner ID 48 appears 2 times as an elite runner.
Runner ID 178 appears 2 times as an elite runner.
Runner ID 884 appears 2 times as an elite runner.
Runner ID 964 appears 2 times as an elite runner.
Runner ID 261 appears 2 times as an elite runner.
Runner ID 158 appears 2 times as an elite runner.
Runner ID 421 appears 2 times as an elite runner.
Runner ID 604 appears 2 times as an elite runner.
Runner ID 211 appears 2 times as an elite runner.
Runner ID 583 appears 2 times as an elite runner.
Runner ID 491 appears 2 times as an elite runner.
Runner ID 642 appears 2 times as an elite runner.
Runner ID 708 appears 2 times as an elite runner.
Runner ID 375 appears 2 times as an elite runner.
Runner ID 744 appears 2 times as an elite runner.
Runner ID 395 appears 1 times as an elite runner.
Runner ID 78 appears 1 times as an elite runner.
Runner ID 865 appears 1 times as an elite runner.
Runner ID 93 appears 1 times as an elite runner.
Runner ID 916 appears 1 times as an elite runner.
Runner ID 17 appears 1 times as an elite runner.
Runner ID 544 appears 1 times as an elite runner.
Runner ID 16 appears 1 times as an elite runner.
Runner ID 904 appears 1 times as an elite runner.
Runner ID 487 appears 1 times as an elite runner.
Runner ID 545 appears 1 times as an elite runner.

In [29]:
# Extract unique elite runner IDs by converting to a set
elite_runners = list(set(runner_id for _, _, runner_id, _, _, is_elite in results if is_elite == 'True'))

In [30]:
print(elite_runners)
len(elite_runners)

[512, 513, 11, 16, 17, 531, 23, 32, 544, 545, 554, 43, 48, 53, 569, 70, 583, 78, 80, 82, 604, 93, 94, 97, 101, 617, 124, 125, 642, 136, 158, 161, 689, 178, 705, 708, 208, 211, 212, 216, 735, 226, 231, 744, 256, 261, 262, 274, 786, 276, 792, 281, 283, 288, 295, 298, 299, 815, 307, 309, 828, 340, 859, 865, 358, 884, 375, 889, 378, 382, 384, 896, 898, 904, 394, 395, 916, 406, 410, 414, 421, 949, 446, 451, 452, 453, 964, 967, 970, 473, 476, 477, 487, 491, 500, 504]

96

In [31]:
# Generate Sponsors Table 
sponsors = [
    "Nike", "Adidas", "Asics", "Saucony", "Hoka",
    "Brooks", "New Balance", "Puma", "Under Armour", "Tracksmith"
]

# Select 50% of elite runners to have sponsors
sponsored_runners = random.sample(elite_runners, len(elite_runners) // 2)

# Generate Sponsors Athletes Table
sponsored_athletes = []
used_sponsors = set()  # To keep track of assigned sponsors

for i, runner_id in enumerate(sponsored_runners, start=1):
    sponsor_name = random.choice(sponsors)
    
    # Ensure the runner doesn't already have a sponsor
    while runner_id in used_sponsors:
        runner_id = random.choice(sponsored_runners)
    
    sponsored_athletes.append((
        i,
        sponsor_name,
        runner_id
    ))
    
    # Mark this runner as having a sponsor
    used_sponsors.add(runner_id)

# Verification code to check if any runner appears more than once
runner_ids = [data[2] for data in sponsored_athletes]
duplicate_runners = set([runner_id for runner_id in runner_ids if runner_ids.count(runner_id) > 1])

if len(duplicate_runners) == 0:
    print("Verification Passed: No runner appears more than once in the sponsors table.")
else:
    print(f"Verification Failed: The following runners have multiple sponsors: {duplicate_runners}")

Verification Passed: No runner appears more than once in the sponsors table.

In [32]:
print(sponsored_athletes)

[(1, 'Under Armour', 161), (2, 'Tracksmith', 340), (3, 'Hoka', 178), (4, 'Tracksmith', 865), (5, 'Nike', 16), (6, 'Under Armour', 414), (7, 'Brooks', 262), (8, 'Asics', 916), (9, 'Under Armour', 898), (10, 'Adidas', 744), (11, 'Tracksmith', 261), (12, 'Puma', 307), (13, 'Brooks', 410), (14, 'Nike', 11), (15, 'New Balance', 828), (16, 'Puma', 735), (17, 'Hoka', 395), (18, 'Puma', 970), (19, 'Tracksmith', 569), (20, 'Asics', 815), (21, 'Hoka', 964), (22, 'Adidas', 545), (23, 'Brooks', 384), (24, 'Brooks', 500), (25, 'Saucony', 70), (26, 'Brooks', 226), (27, 'Nike', 43), (28, 'Asics', 288), (29, 'Hoka', 889), (30, 'Tracksmith', 82), (31, 'Saucony', 276), (32, 'Hoka', 617), (33, 'New Balance', 513), (34, 'Under Armour', 421), (35, 'New Balance', 531), (36, 'Asics', 212), (37, 'Adidas', 17), (38, 'Saucony', 967), (39, 'Brooks', 583), (40, 'Asics', 604), (41, 'Under Armour', 97), (42, 'Brooks', 642), (43, 'Under Armour', 708), (44, 'Saucony', 208), (45, 'Tracksmith', 283), (46, 'Adidas', 298), (47, 'Adidas', 274), (48, 'Nike', 136)]

In [33]:
# Generate Sponsors Table
sponsors = [
    (1, "Nike"),
    (2, "Adidas"),
    (3, "Asics"),
    (4, "Saucony"),
    (5, "Hoka"),
    (6, "Brooks"),
    (7, "New Balance"),
    (8, "Puma"),
    (9, "Under Armour"),
    (10, "Tracksmith")
]
print(sponsors)

[(1, 'Nike'), (2, 'Adidas'), (3, 'Asics'), (4, 'Saucony'), (5, 'Hoka'), (6, 'Brooks'), (7, 'New Balance'), (8, 'Puma'), (9, 'Under Armour'), (10, 'Tracksmith')]

In [34]:
training_plan_durations = {
    "Beginner Marathon Plan: 16-week build-up": 16,
    "Intermediate Marathon Plan: 12-week build-up": 12,
    "Advanced Marathon Plan: 18-week build-up": 18,
    "Elite Marathon Plan: 24-week build-up": 24,
    "5K to Marathon Transition Plan: 20-week build-up": 20,
    "Half-Marathon to Marathon Plan: 14-week build-up": 14,
    "Strength and Conditioning Focus Plan: 10-week build-up": 10,
    "Speed Work Focus Plan: 12-week build-up": 12,
    "Long Distance Endurance Focus Plan: 22-week build-up": 22,
    "Customized Marathon Plan: 16-week build-up": 16
}

In [35]:
# Generate Training Plan Descriptions Table
training_plan_descriptions_table = []
plan_id = 1

for plan_description, plan_length_weeks in training_plan_durations.items():
    training_plan_descriptions_table.append((
        plan_id,  # Primary Key
        plan_description,
        plan_length_weeks
    ))
    plan_id += 1


print(training_plan_descriptions_table[:10])

[(1, 'Beginner Marathon Plan: 16-week build-up', 16), (2, 'Intermediate Marathon Plan: 12-week build-up', 12), (3, 'Advanced Marathon Plan: 18-week build-up', 18), (4, 'Elite Marathon Plan: 24-week build-up', 24), (5, '5K to Marathon Transition Plan: 20-week build-up', 20), (6, 'Half-Marathon to Marathon Plan: 14-week build-up', 14), (7, 'Strength and Conditioning Focus Plan: 10-week build-up', 10), (8, 'Speed Work Focus Plan: 12-week build-up', 12), (9, 'Long Distance Endurance Focus Plan: 22-week build-up', 22), (10, 'Customized Marathon Plan: 16-week build-up', 16)]

In [36]:
# Set the percentage of results that will have an associated training plan
percentage_with_plan = 0.72  # 72% of results will have a training plan

# Generate Training Plans Table
training_plans = []
plan_id = 1  # Start at 1 for the primary key of training plans

# Create a lookup dictionary to get the ID based on the description
description_to_id = {description: plan_id for plan_id, description, _ in training_plan_descriptions_table}

# To track which (runner_id, event_id) pairs already have training plans
assigned_training_plans = set()

for result in results:
    runner_id = result[2]  # runner_id from the results table
    event_id = result[1]   # event_id from the results table
    event_date = next(event[2] for event in events if event[0] == event_id)  # Get event date from events
    
    # Skip if the runner already has a training plan for this event
    if (runner_id, event_id) in assigned_training_plans:
        continue
    
    # Decide if this result should have a training plan based on the percentage
    if random.random() < percentage_with_plan:
        # Randomly select a training plan description
        plan_description = random.choice(list(training_plan_durations.keys()))
        
        # Get the duration of the training plan in weeks
        plan_length_weeks = training_plan_durations[plan_description]
        
        # Calculate the start date
        start_date = event_date - datetime.timedelta(weeks=plan_length_weeks)
        
        # Get the plan_id from the description_to_id dictionary
        plan_id_ref = description_to_id[plan_description]
        
        # Append the training plan to the list
        training_plans.append((
            plan_id,  # Use plan_id as the Primary Key (unique identifier)
            runner_id,
            event_id,  # Foreign key referencing the Events table
            start_date,
            event_date,
            plan_id_ref  # Reference the plan by ID
        ))
        
        # Mark this (runner_id, event_id) pair as having a training plan
        assigned_training_plans.add((runner_id, event_id))
        
        plan_id += 1  # Increment the unique identifier for the next plan

# Check the number of training plans created
print(f"Total training plans created: {len(training_plans)}")

Total training plans created: 48754

In [37]:
print(training_plans[:10])

[(1, 556, 4, datetime.date(2015, 1, 26), datetime.date(2015, 4, 20), 8), (2, 647, 43, datetime.date(2018, 7, 8), datetime.date(2018, 9, 16), 7), (3, 255, 42, datetime.date(2017, 6, 4), datetime.date(2017, 9, 24), 1), (4, 368, 17, datetime.date(2016, 1, 17), datetime.date(2016, 4, 24), 6), (5, 423, 33, datetime.date(2020, 9, 6), datetime.date(2020, 12, 13), 6), (6, 263, 35, datetime.date(2022, 7, 17), datetime.date(2022, 11, 6), 1), (7, 936, 67, datetime.date(2017, 12, 3), datetime.date(2018, 2, 25), 8), (8, 814, 16, datetime.date(2015, 2, 1), datetime.date(2015, 4, 26), 8), (9, 355, 48, datetime.date(2023, 6, 18), datetime.date(2023, 9, 24), 6), (10, 79, 67, datetime.date(2017, 11, 19), datetime.date(2018, 2, 25), 6)]

In [38]:
# Create a dictionary to store how many times a runner has a training plan for the same event
runner_event_plan_count = {}

# Iterate over the training plans to count the occurrences of each (runner_id, event_id) pair
for plan in training_plans:
    runner_id = plan[1]  # runner_id is the second column in training_plans
    event_id = plan[2]   # event_id is the third column in training_plans
    
    # Create a tuple (runner_id, event_id) to track this pair
    runner_event_pair = (runner_id, event_id)
    
    if runner_event_pair in runner_event_plan_count:
        runner_event_plan_count[runner_event_pair] += 1
    else:
        runner_event_plan_count[runner_event_pair] = 1

# Check for runner-event pairs that have more than one training plan
duplicate_runner_event_plans = {pair: count for pair, count in runner_event_plan_count.items() if count > 1}

# Output the results
if duplicate_runner_event_plans:
    print("The following runner-event pairs have multiple training plans assigned:")
    for pair, count in duplicate_runner_event_plans.items():
        runner_id, event_id = pair
        print(f"Runner ID {runner_id}, Event ID {event_id}: {count} training plans")
else:
    print("No runner-event pair has more than one training plan.")

No runner-event pair has more than one training plan.

In [39]:
from collections import defaultdict

# Create a dictionary to store the count of training plans per event
event_training_plan_count = defaultdict(int)

# Iterate through the training_plans list and count the occurrences of each event_id
for plan in training_plans:
    event_id = plan[2]  # The third column is the event_id
    event_training_plan_count[event_id] += 1

# Print the count of training plans per event_id
print("Training plans count per event_id:")
for event_id, count in sorted(event_training_plan_count.items()):
    print(f"Event ID {event_id}: {count} training plans")

Training plans count per event_id:
Event ID 1: 651 training plans
Event ID 2: 665 training plans
Event ID 3: 660 training plans
Event ID 4: 685 training plans
Event ID 5: 685 training plans
Event ID 6: 673 training plans
Event ID 7: 679 training plans
Event ID 8: 667 training plans
Event ID 9: 673 training plans
Event ID 10: 668 training plans
Event ID 11: 663 training plans
Event ID 12: 669 training plans
Event ID 13: 684 training plans
Event ID 14: 656 training plans
Event ID 15: 674 training plans
Event ID 16: 704 training plans
Event ID 17: 691 training plans
Event ID 18: 701 training plans
Event ID 19: 680 training plans
Event ID 20: 645 training plans
Event ID 21: 654 training plans
Event ID 22: 690 training plans
Event ID 23: 688 training plans
Event ID 24: 640 training plans
Event ID 25: 704 training plans
Event ID 26: 671 training plans
Event ID 27: 700 training plans
Event ID 28: 663 training plans
Event ID 29: 687 training plans
Event ID 30: 685 training plans
Event ID 31: 658 training plans
Event ID 32: 668 training plans
Event ID 33: 679 training plans
Event ID 34: 686 training plans
Event ID 35: 660 training plans
Event ID 36: 697 training plans
Event ID 37: 682 training plans
Event ID 38: 656 training plans
Event ID 39: 668 training plans
Event ID 40: 666 training plans
Event ID 41: 702 training plans
Event ID 42: 681 training plans
Event ID 43: 677 training plans
Event ID 44: 693 training plans
Event ID 45: 682 training plans
Event ID 46: 663 training plans
Event ID 47: 668 training plans
Event ID 48: 680 training plans
Event ID 49: 698 training plans
Event ID 50: 682 training plans
Event ID 51: 668 training plans
Event ID 52: 682 training plans
Event ID 53: 686 training plans
Event ID 54: 692 training plans
Event ID 55: 672 training plans
Event ID 56: 684 training plans
Event ID 57: 658 training plans
Event ID 58: 663 training plans
Event ID 59: 664 training plans
Event ID 60: 672 training plans
Event ID 61: 688 training plans
Event ID 62: 689 training plans
Event ID 63: 690 training plans
Event ID 64: 694 training plans
Event ID 65: 689 training plans
Event ID 66: 679 training plans
Event ID 67: 675 training plans
Event ID 68: 704 training plans
Event ID 69: 683 training plans
Event ID 70: 672 training plans
Event ID 71: 662 training plans
Event ID 72: 687 training plans

In [40]:
# Define the valid range of event IDs
valid_event_ids = set(range(1, 73))  # 1 to 72

# Extract the set of event IDs from the training plans
assigned_event_ids = {plan[2] for plan in training_plans}  # plan[2] is the event_id

# Find any invalid event IDs that are not in the valid range
invalid_event_ids = assigned_event_ids - valid_event_ids

# Find any missing event IDs in the valid range
missing_event_ids = valid_event_ids - assigned_event_ids

# Output the results
if invalid_event_ids:
    print(f"Invalid event IDs found: {sorted(invalid_event_ids)}")
else:
    print("No invalid event IDs found. All event IDs are within the valid range (1-72).")

if missing_event_ids:
    print(f"Missing event IDs (no training plans assigned): {sorted(missing_event_ids)}")
else:
    print("All event IDs between 1 and 72 have been assigned training plans.")

No invalid event IDs found. All event IDs are within the valid range (1-72).
All event IDs between 1 and 72 have been assigned training plans.

## Making a function to generate SQL insert statements, generating SQL statements, and combining all SQL scripts

In [42]:
# SQL CREATE TABLE Statements
create_tables_sql = """
CREATE TABLE Runners (
    runner_id INTEGER PRIMARY KEY,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    date_of_birth DATE,
    sex TEXT NOT NULL,
    country TEXT NOT NULL
);

CREATE TABLE Events (
    event_id INTEGER PRIMARY KEY,
    event TEXT NOT NULL,
    event_date DATE NOT NULL
);

CREATE TABLE Results (
    result_id INTEGER PRIMARY KEY,
    event_id INTEGER NOT NULL,
    runner_id INTEGER NOT NULL,
    finish_time TEXT NOT NULL,
    sex TEXT NOT NULL, 
    is_elite TEXT NOT NULL,
    FOREIGN KEY(event_id) REFERENCES Events(event_id),
    FOREIGN KEY(runner_id) REFERENCES Runners(runner_id)
);

CREATE TABLE Sponsors (
    sponsor_id INTEGER PRIMARY KEY,
    sponsor_name TEXT NOT NULL
);

CREATE TABLE Sponsored_Athletes (
    sponsor_id INTEGER NOT NULL,
    sponsor_name TEXT NOT NULL,
    runner_id INTEGER NOT NULL,
    FOREIGN KEY(sponsor_id) REFERENCES Sponsors(sponsor_id),
    FOREIGN KEY(runner_id) REFERENCES Runners(runner_id),
    PRIMARY KEY (sponsor_id, runner_id)
);

CREATE TABLE Training_Plans (
    id INTEGER PRIMARY KEY,
    runner_id INTEGER NOT NULL,
    event_id INTEGER NOT NULL,
    start_date DATE NOT NULL,
    end_date DATE NOT NULL,
    plan_id INTEGER NOT NULL,
    FOREIGN KEY(runner_id) REFERENCES Runners(runner_id),
    FOREIGN KEY(plan_id) REFERENCES Training_Plans_Descriptions(plan_id),
    FOREIGN KEY(event_id) REFERENCES Events(event_id)
);

CREATE TABLE Training_Plans_Descriptions (
    plan_id INTEGER PRIMARY KEY,
    plan_description TEXT NOT NULL,
    plan_length_weeks INTEGER NOT NULL
);
"""

In [43]:
# Function to generate SQL insert statements
def generate_sql_inserts(table_name, columns, data):
    sql = f"INSERT INTO {table_name} ({', '.join(columns)}) VALUES\n"
    values = []
    for row in data:
        formatted_values = ', '.join([f"'{str(v)}'" if isinstance(v, str) or isinstance(v, datetime.date) else str(v) for v in row])
        values.append(f"({formatted_values})")
    sql += ',\n'.join(values) + ";\n"
    return sql

In [44]:
# Generate SQL statements
runner_columns = ['runner_id', 'first_name', 'last_name', 'date_of_birth','sex', 'country']
event_columns = ['event_id', 'event', 'event_date']
result_columns = ['result_id', 'event_id', 'runner_id', 'finish_time', 'sex','is_elite']
sponsor_columns = ['sponsor_id', 'sponsor_name']
sponsored_athletes_columns = ['sponsor_id', 'sponsor_name', 'runner_id']
training_plan_columns = ['id', 'runner_id','event_id', 'start_date', 'end_date', 'plan_id']
training_plan_descriptions_columns = ['plan_id','plan_description','plan_length_weeks']


sql_runners = generate_sql_inserts('Runners', runner_columns, runners)
sql_events = generate_sql_inserts('Events', event_columns, events)
sql_results = generate_sql_inserts('Results', result_columns, results)
sql_sponsors = generate_sql_inserts('Sponsors', sponsor_columns, sponsors)
sql_sponsored_athletes = generate_sql_inserts('Sponsored_Athletes', sponsored_athletes_columns, sponsored_athletes)
sql_training_plans = generate_sql_inserts('Training_Plans', training_plan_columns, training_plans)
sql_training_plan_descriptions_table = generate_sql_inserts('Training_Plans_Descriptions', training_plan_descriptions_columns,training_plan_descriptions_table)

In [45]:
print(sql_runners[:500])

INSERT INTO Runners (runner_id, first_name, last_name, date_of_birth, sex, country) VALUES
(1, 'Temur', 'Beraze', '1963-02-12', 'Male', 'Georgia'),
(2, 'Nora', 'Kalents', '2001-01-27', 'Female', 'Armenia'),
(3, 'Michael', 'Newman', '1996-06-22', 'Male', 'Luxembourg'),
(4, 'Christy', 'Hickey', '1982-02-11', 'Male', 'Ireland'),
(5, 'Vpry', 'Khsn', '1946-03-08', 'Female', 'Israel'),
(6, 'Ylay', 'Tsvr', '2004-12-13', 'Male', 'Israel'),
(7, 'Andrea', 'Vlkova', '1994-06-15', 'Female', 'Slovakia'),
(8,

In [46]:
# Combine all SQL scripts
sql_script = create_tables_sql + sql_runners + sql_events + sql_results + sql_sponsors + sql_training_plans + sql_sponsored_athletes + sql_training_plan_descriptions_table

In [47]:
print(sql_script[:500])

CREATE TABLE Runners (
    runner_id INTEGER PRIMARY KEY,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    date_of_birth DATE,
    sex TEXT NOT NULL,
    country TEXT NOT NULL
);

CREATE TABLE Events (
    event_id INTEGER PRIMARY KEY,
    event TEXT NOT NULL,
    event_date DATE NOT NULL
);

CREATE TABLE Results (
    result_id INTEGER PRIMARY KEY,
    event_id INTEGER NOT NULL,
    runner_id INTEGER NOT NULL,
    finish_time TEXT NOT NULL,
    sex TEXT NOT NULL,
    is_elite TE

In [48]:
with open("create_Marathon_results_database.sql", "w") as file:
    file.write(sql_script)