# Generating Marathon Data for SQL Practice

This is a Python Jupyter notebook for creating a full mock SQL database of marathon race results with thousands of records. This script simulates a realistic dataset, including both elite and recreational runners, with varied performance data across multiple marathon events. There are several steps to this:

1. **Generate 'Runners' Table** - Randomly generate 1000 runners with names common in their locale/country, together with their birth date and sex.
2. **Generate 'Events' Table** - The 6 Major World marathons (Berlin, Boston, Chicago,London,New York City, Tokyo), with an event per year from 2012 to 2023. 
3. **Generate 'Results' Table** - Gives results for runners in hh:mm:ss format, ensuring there aren't duplicate results for each runner per event. Prevents any results breaking either the male marathon world-record (2:00:35 Eliud Kipchoge 2023) or the female marathon world-record (2:11:53 Brigid Kosgei 2019). Also determines, with a True/False column, if a result is elite by the male standard (below 02:15:00) or the female standard (below 02:30:00).
4. **Generate 'Sponsors' Table** - Lists the following 10 major fitness/sports companies that typically act as sponsors to runners - "Nike", "Adidas", "Asics", "Saucony", "Hoka","Brooks", "New Balance", "Puma", "Under Armour", "Tracksmith". 
5. **Generate 'Sponsored Athletes' Table** - A table listing the fraction of the elite athletes that have a sponsor.
6. **Generate 'Training Plans Descriptions' Table** - The descriptions of 10 different training plans and their respective lengths in weeks. 
7. **Generate 'Training Plans' Table** - The training plans of athletes.

## Import packages

In [5]:
pip install faker

Requirement already satisfied: faker in c:\users\gam55\appdata\local\anaconda3\lib\site-packages (26.3.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\gam55\appdata\local\anaconda3\lib\site-packages (from faker) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\gam55\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install unidecode

Requirement already satisfied: unidecode in c:\users\gam55\appdata\local\anaconda3\lib\site-packages (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import random
from faker import Faker
import datetime
import pandas as pd

In [8]:
fake = Faker()

## Define the records for tables and helper functions

In [10]:
# Helper functions
def random_time():
    """Generate a random marathon finish time"""
    hours = random.randint(2, 5)
    minutes = random.randint(0, 59)
    seconds = random.randint(0, 59)
    return f'{hours:02}:{minutes:02}:{seconds:02}'

In [11]:
# Define the number of records
num_runners = 1000
num_events = 12 # 12 for the 6 marathons over 2 years (2012-2023)
num_results = num_runners * num_events
num_sponsors = 100

In [12]:
# Define the major marathons and their exact dates
marathons = [
    ("Boston Marathon", [
        "2012-04-16", "2013-04-15", "2014-04-21", "2015-04-20", "2016-04-18",
        "2017-04-17", "2018-04-16", "2019-04-15", "2020-10-11", "2021-10-11",
        "2022-04-18", "2023-04-17"
    ]),
    ("London Marathon", [
        "2012-04-22", "2013-04-21", "2014-04-21", "2015-04-26", "2016-04-24",
        "2017-04-23", "2018-04-22", "2019-04-28", "2020-10-04", "2021-10-03",
        "2022-10-02", "2023-04-23"
    ]),
    ("New York City Marathon", [
        "2012-11-04", "2013-11-03", "2014-11-02", "2015-11-01", "2016-11-06",
        "2017-11-05", "2018-11-04", "2019-11-03", "2020-12-13", "2021-11-07",
        "2022-11-06", "2023-11-05"
    ]),
    ("Berlin Marathon", [
        "2012-09-30", "2013-09-29", "2014-09-28", "2015-09-27", "2016-09-25",
        "2017-09-24", "2018-09-16", "2019-09-29", "2020-09-27", "2021-09-26",
        "2022-09-25", "2023-09-24"
    ]),
    ("Chicago Marathon", [
        "2012-10-07", "2013-10-13", "2014-10-12", "2015-10-11", "2016-10-09",
        "2017-10-08", "2018-10-07", "2019-10-13", "2020-10-11", "2021-10-10",
        "2022-10-09", "2023-10-08"
    ]),
    ("Tokyo Marathon", [
        "2012-02-26", "2013-02-24", "2014-02-23", "2015-02-22", "2016-02-28",
        "2017-02-26", "2018-02-25", "2019-03-03", "2020-03-01", "2021-03-07",
        "2022-03-06", "2023-03-05"
    ])
]

In [13]:
# Define predefined training plan descriptions
training_plan_descriptions = [
    "Beginner Marathon Plan: 16-week build-up",
    "Intermediate Marathon Plan: 12-week build-up",
    "Advanced Marathon Plan: 18-week build-up",
    "Elite Marathon Plan: 24-week build-up",
    "5K to Marathon Transition Plan: 20-week build-up",
    "Half-Marathon to Marathon Plan: 14-week build-up",
    "Strength and Conditioning Focus Plan: 10-week build-up",
    "Speed Work Focus Plan: 12-week build-up",
    "Long Distance Endurance Focus Plan: 22-week build-up",
    "Customized Marathon Plan: 16-week build-up"
]

## Generate Tables

In [15]:
import random
from faker import Faker
from unidecode import unidecode  # Import the unidecode function

# Locale-country map dictionary
locale_country_map = {
    'ar_AA': 'Arabic',
    'ar_AE': 'United Arab Emirates',
    'ar_BH': 'Bahrain',
    'ar_EG': 'Egypt',
    'ar_JO': 'Jordan',
    'ar_PS': 'Palestine',
    'ar_SA': 'Saudi Arabia',
    'az_AZ': 'Azerbaijan',
    'bg_BG': 'Bulgaria',
    'bn_BD': 'Bangladesh',
    'bs_BA': 'Bosnia and Herzegovina',
    'cs_CZ': 'Czech Republic',
    'da_DK': 'Denmark',
    'de_AT': 'Austria',
    'de_CH': 'Switzerland',
    'de_DE': 'Germany',
    'el_CY': 'Cyprus',
    'el_GR': 'Greece',
    'en_AU': 'Australia',
    'en_CA': 'Canada',
    'en_GB': 'United Kingdom',
    'en_IE': 'Ireland',
    'en_IN': 'India',
    'en_NZ': 'New Zealand',
    'en_PH': 'Philippines',
    'en_US': 'United States',
    'es_AR': 'Argentina',
    'es_CL': 'Chile',
    'es_CO': 'Colombia',
    'es_ES': 'Spain',
    'es_MX': 'Mexico',
    'et_EE': 'Estonia',
    'fa_IR': 'Iran',
    'fi_FI': 'Finland',
    'fr_BE': 'Belgium',
    'fr_CA': 'Canada',
    'fr_CH': 'Switzerland',
    'fr_FR': 'France',
    'ga_IE': 'Ireland',
    'he_IL': 'Israel',
    'hi_IN': 'India',
    'hr_HR': 'Croatia',
    'hu_HU': 'Hungary',
    'hy_AM': 'Armenia',
    'id_ID': 'Indonesia',
    'it_CH': 'Switzerland',
    'it_IT': 'Italy',
    'ja_JP': 'Japan',
    'ka_GE': 'Georgia',
    'ko_KR': 'South Korea',
    'lb_LU': 'Luxembourg',
    'lt_LT': 'Lithuania',
    'lv_LV': 'Latvia',
    'ne_NP': 'Nepal',
    'nl_BE': 'Belgium',
    'nl_NL': 'Netherlands',
    'no_NO': 'Norway',
    'pl_PL': 'Poland',
    'pt_BR': 'Brazil',
    'pt_PT': 'Portugal',
    'ro_RO': 'Romania',
    'ru_RU': 'Russia',
    'sk_SK': 'Slovakia',
    'sl_SI': 'Slovenia',
    'sq_AL': 'Albania',
    'sv_SE': 'Sweden',
    'ta_IN': 'India',
    'th_TH': 'Thailand',
    'tr_TR': 'Turkey',
    'uk_UA': 'Ukraine',
    'vi_VN': 'Vietnam',
    'zh_CN': 'China',
    'zh_TW': 'Taiwan',
    'zu_ZA': 'South Africa'
}

# Number of runners to generate
num_runners = 100  # Example number

# Generate Runners Table
runners = []
for i in range(1, num_runners + 1):
    # Randomly select a category for each runner
    category = random.choice(['Male', 'Female'])
    
    # Randomly select a locale corresponding to a country
    locale, country = random.choice(list(locale_country_map.items()))
    
    # Create a Faker instance with the selected locale
    localized_fake = Faker(locale)
    
    # Generate the runner's name and transliterate it to standard ASCII characters
    first_name = localized_fake.first_name_male() if category == 'Male' else localized_fake.first_name_female()
    last_name = localized_fake.last_name()

    # Transliterate names to ASCII
    first_name_ascii = unidecode(first_name)
    last_name_ascii = unidecode(last_name)
    
    # Generate the runner data
    runners.append((
        i,
        first_name_ascii,
        last_name_ascii,
        localized_fake.date_of_birth(minimum_age=18, maximum_age=90),
        category,  # Assign the randomly chosen category
        country
    ))

# Example output
for runner in runners[:50]:  # Print first 50 runners
    print(runner)

(1, 'Lucas', 'Tessier', datetime.date(1996, 1, 4), 'Male', 'Canada')
(2, 'Andres', 'Koort', datetime.date(2004, 7, 15), 'Male', 'Estonia')
(3, 'sumn', 'paanndde', datetime.date(1937, 8, 17), 'Male', 'Nepal')
(4, 'AlySH`', 'khn', datetime.date(1970, 11, 23), 'Male', 'Israel')
(5, 'Michaela', 'Cechova', datetime.date(1949, 1, 17), 'Female', 'Czech Republic')
(6, 'Thomas', 'Beguelin', datetime.date(1956, 5, 8), 'Male', 'Switzerland')
(7, 'Catherine', 'Medina', datetime.date(1963, 6, 27), 'Female', 'Jordan')
(8, 'Nikandr', 'Nazarova', datetime.date(1984, 7, 11), 'Male', 'Russia')
(9, 'Jake', 'McDonald', datetime.date(1974, 1, 9), 'Male', 'United Kingdom')
(10, 'Cynthia', 'Hahn', datetime.date(1953, 12, 21), 'Female', 'Egypt')
(11, 'Victoria', 'Green', datetime.date(1955, 9, 16), 'Female', 'New Zealand')
(12, 'Alysh', 'SHlmh', datetime.date(1985, 12, 3), 'Female', 'Israel')
(13, 'Titi', 'Namaga', datetime.date(1964, 9, 11), 'Female', 'Indonesia')
(14, 'jyln', 'lzrqn', datetime.date(2002, 3, 6), 'Female', 'Arabic')
(15, 'Geert', 'Huyghe', datetime.date(1952, 2, 10), 'Male', 'Belgium')
(16, 'James', 'Chen', datetime.date(1994, 7, 16), 'Male', 'Bahrain')
(17, 'Gmd', 'fTyr', datetime.date(1988, 6, 17), 'Male', 'Palestine')
(18, 'Indranil', 'Toor', datetime.date(1995, 5, 19), 'Male', 'India')
(19, 'Manuel', 'Altamirano', datetime.date(1982, 6, 28), 'Male', 'Chile')
(20, 'Glenn', 'Comber', datetime.date(1954, 12, 29), 'Male', 'Ireland')
(21, 'Abraham', 'Hernandes', datetime.date(1959, 11, 27), 'Female', 'Mexico')
(22, 'John', 'Austin', datetime.date(1996, 8, 3), 'Male', 'Australia')
(23, 'Juri', 'Raadik', datetime.date(1976, 2, 4), 'Male', 'Estonia')
(24, 'Xin Hong ', 'Jin ', datetime.date(1938, 8, 18), 'Male', 'Taiwan')
(25, 'Yassine', 'Louis', datetime.date(2005, 1, 25), 'Male', 'Belgium')
(26, 'Aud', 'Hanssen', datetime.date(1995, 5, 13), 'Female', 'Norway')
(27, 'Platon', 'Khristakopoulos', datetime.date(1952, 7, 19), 'Male', 'Greece')
(28, 'Emilie', 'Hendrickx', datetime.date(1976, 4, 29), 'Female', 'Belgium')
(29, 'Tao Zi ', 'Du Bian ', datetime.date(1981, 10, 3), 'Female', 'Japan')
(30, 'Thiago', 'Martinez', datetime.date(1993, 11, 1), 'Male', 'Argentina')
(31, 'cngkumaalai', 'pkumaannnynnn', datetime.date(1986, 10, 14), 'Female', 'India')
(32, 'Charlene', 'Hall', datetime.date(1990, 7, 22), 'Female', 'United Arab Emirates')
(33, 'Aylin', 'Koret', datetime.date(2003, 8, 28), 'Female', 'Netherlands')
(34, 'Fernando', 'Corredor', datetime.date(1989, 7, 17), 'Male', 'Colombia')
(35, 'Adam', 'Nita', datetime.date(1940, 9, 9), 'Male', 'Romania')
(36, 'Michael', 'Brewer', datetime.date(1948, 9, 8), 'Male', 'Jordan')
(37, 'Bryce', 'Rodriguez', datetime.date(1941, 10, 25), 'Male', 'Philippines')
(38, 'Zhi ', 'Tai Tian ', datetime.date(1953, 12, 16), 'Male', 'Japan')
(39, 'Henry Gabriel', 'Lima', datetime.date(1946, 6, 5), 'Male', 'Brazil')
(40, 'Claudine', 'Leduc', datetime.date(1992, 8, 13), 'Female', 'Canada')
(41, 'Melichar', 'Puskar', datetime.date(2003, 6, 20), 'Male', 'Slovakia')
(42, 'Lungile', 'Ngungunyana', datetime.date(1986, 4, 17), 'Male', 'South Africa')
(43, 'Frederick', 'Webb', datetime.date(1936, 6, 12), 'Male', 'United Kingdom')
(44, 'Roland', 'Varga', datetime.date(1962, 2, 13), 'Male', 'Hungary')
(45, 'lTwf', '`tyb@', datetime.date(2000, 7, 29), 'Male', 'Arabic')
(46, 'Todd', 'Holt', datetime.date(1975, 6, 30), 'Male', 'Egypt')
(47, 'Kurnia', 'Tamba', datetime.date(1956, 10, 24), 'Male', 'Indonesia')
(48, 'Allan', 'Baxter', datetime.date(1970, 5, 2), 'Male', 'United Kingdom')
(49, 'Chun Xiang ', 'Yi Teng ', datetime.date(1988, 9, 20), 'Female', 'Japan')
(50, 'Lori', 'Mack', datetime.date(2000, 3, 6), 'Female', 'Australia')

In [16]:
unique_countries = set(runner[5] for runner in runners)
print("Unique countries:", unique_countries)

Unique countries: {'Jordan', 'United Kingdom', 'Thailand', 'Japan', 'Egypt', 'United Arab Emirates', 'Netherlands', 'Bahrain', 'Cyprus', 'China', 'Vietnam', 'Palestine', 'Romania', 'Sweden', 'Chile', 'Bulgaria', 'South Korea', 'Arabic', 'Albania', 'Bosnia and Herzegovina', 'Canada', 'Argentina', 'Russia', 'France', 'Nepal', 'Czech Republic', 'Norway', 'Austria', 'Ireland', 'Switzerland', 'Israel', 'Colombia', 'New Zealand', 'Taiwan', 'Slovakia', 'Brazil', 'Mexico', 'South Africa', 'United States', 'Portugal', 'Philippines', 'Hungary', 'Luxembourg', 'Greece', 'Estonia', 'Australia', 'Belgium', 'Saudi Arabia', 'India', 'Indonesia'}

In [17]:
print(runners[:10])

[(1, 'Lucas', 'Tessier', datetime.date(1996, 1, 4), 'Male', 'Canada'), (2, 'Andres', 'Koort', datetime.date(2004, 7, 15), 'Male', 'Estonia'), (3, 'sumn', 'paanndde', datetime.date(1937, 8, 17), 'Male', 'Nepal'), (4, 'AlySH`', 'khn', datetime.date(1970, 11, 23), 'Male', 'Israel'), (5, 'Michaela', 'Cechova', datetime.date(1949, 1, 17), 'Female', 'Czech Republic'), (6, 'Thomas', 'Beguelin', datetime.date(1956, 5, 8), 'Male', 'Switzerland'), (7, 'Catherine', 'Medina', datetime.date(1963, 6, 27), 'Female', 'Jordan'), (8, 'Nikandr', 'Nazarova', datetime.date(1984, 7, 11), 'Male', 'Russia'), (9, 'Jake', 'McDonald', datetime.date(1974, 1, 9), 'Male', 'United Kingdom'), (10, 'Cynthia', 'Hahn', datetime.date(1953, 12, 21), 'Female', 'Egypt')]

In [18]:
runners_countries = runners[5]
print(runners_countries)

(6, 'Thomas', 'Beguelin', datetime.date(1956, 5, 8), 'Male', 'Switzerland')

In [19]:
# Generate Events Table
events = []
event_id = 1
for marathon_name, dates in marathons:
    for event_date in dates:
        events.append((
            event_id,
            marathon_name,
            datetime.datetime.strptime(event_date, "%Y-%m-%d").date()  # Ensure event_date is a datetime.date object 
        ))
        event_id += 1

In [20]:
print(events)

[(1, 'Boston Marathon', datetime.date(2012, 4, 16)), (2, 'Boston Marathon', datetime.date(2013, 4, 15)), (3, 'Boston Marathon', datetime.date(2014, 4, 21)), (4, 'Boston Marathon', datetime.date(2015, 4, 20)), (5, 'Boston Marathon', datetime.date(2016, 4, 18)), (6, 'Boston Marathon', datetime.date(2017, 4, 17)), (7, 'Boston Marathon', datetime.date(2018, 4, 16)), (8, 'Boston Marathon', datetime.date(2019, 4, 15)), (9, 'Boston Marathon', datetime.date(2020, 10, 11)), (10, 'Boston Marathon', datetime.date(2021, 10, 11)), (11, 'Boston Marathon', datetime.date(2022, 4, 18)), (12, 'Boston Marathon', datetime.date(2023, 4, 17)), (13, 'London Marathon', datetime.date(2012, 4, 22)), (14, 'London Marathon', datetime.date(2013, 4, 21)), (15, 'London Marathon', datetime.date(2014, 4, 21)), (16, 'London Marathon', datetime.date(2015, 4, 26)), (17, 'London Marathon', datetime.date(2016, 4, 24)), (18, 'London Marathon', datetime.date(2017, 4, 23)), (19, 'London Marathon', datetime.date(2018, 4, 22)), (20, 'London Marathon', datetime.date(2019, 4, 28)), (21, 'London Marathon', datetime.date(2020, 10, 4)), (22, 'London Marathon', datetime.date(2021, 10, 3)), (23, 'London Marathon', datetime.date(2022, 10, 2)), (24, 'London Marathon', datetime.date(2023, 4, 23)), (25, 'New York City Marathon', datetime.date(2012, 11, 4)), (26, 'New York City Marathon', datetime.date(2013, 11, 3)), (27, 'New York City Marathon', datetime.date(2014, 11, 2)), (28, 'New York City Marathon', datetime.date(2015, 11, 1)), (29, 'New York City Marathon', datetime.date(2016, 11, 6)), (30, 'New York City Marathon', datetime.date(2017, 11, 5)), (31, 'New York City Marathon', datetime.date(2018, 11, 4)), (32, 'New York City Marathon', datetime.date(2019, 11, 3)), (33, 'New York City Marathon', datetime.date(2020, 12, 13)), (34, 'New York City Marathon', datetime.date(2021, 11, 7)), (35, 'New York City Marathon', datetime.date(2022, 11, 6)), (36, 'New York City Marathon', datetime.date(2023, 11, 5)), (37, 'Berlin Marathon', datetime.date(2012, 9, 30)), (38, 'Berlin Marathon', datetime.date(2013, 9, 29)), (39, 'Berlin Marathon', datetime.date(2014, 9, 28)), (40, 'Berlin Marathon', datetime.date(2015, 9, 27)), (41, 'Berlin Marathon', datetime.date(2016, 9, 25)), (42, 'Berlin Marathon', datetime.date(2017, 9, 24)), (43, 'Berlin Marathon', datetime.date(2018, 9, 16)), (44, 'Berlin Marathon', datetime.date(2019, 9, 29)), (45, 'Berlin Marathon', datetime.date(2020, 9, 27)), (46, 'Berlin Marathon', datetime.date(2021, 9, 26)), (47, 'Berlin Marathon', datetime.date(2022, 9, 25)), (48, 'Berlin Marathon', datetime.date(2023, 9, 24)), (49, 'Chicago Marathon', datetime.date(2012, 10, 7)), (50, 'Chicago Marathon', datetime.date(2013, 10, 13)), (51, 'Chicago Marathon', datetime.date(2014, 10, 12)), (52, 'Chicago Marathon', datetime.date(2015, 10, 11)), (53, 'Chicago Marathon', datetime.date(2016, 10, 9)), (54, 'Chicago Marathon', datetime.date(2017, 10, 8)), (55, 'Chicago Marathon', datetime.date(2018, 10, 7)), (56, 'Chicago Marathon', datetime.date(2019, 10, 13)), (57, 'Chicago Marathon', datetime.date(2020, 10, 11)), (58, 'Chicago Marathon', datetime.date(2021, 10, 10)), (59, 'Chicago Marathon', datetime.date(2022, 10, 9)), (60, 'Chicago Marathon', datetime.date(2023, 10, 8)), (61, 'Tokyo Marathon', datetime.date(2012, 2, 26)), (62, 'Tokyo Marathon', datetime.date(2013, 2, 24)), (63, 'Tokyo Marathon', datetime.date(2014, 2, 23)), (64, 'Tokyo Marathon', datetime.date(2015, 2, 22)), (65, 'Tokyo Marathon', datetime.date(2016, 2, 28)), (66, 'Tokyo Marathon', datetime.date(2017, 2, 26)), (67, 'Tokyo Marathon', datetime.date(2018, 2, 25)), (68, 'Tokyo Marathon', datetime.date(2019, 3, 3)), (69, 'Tokyo Marathon', datetime.date(2020, 3, 1)), (70, 'Tokyo Marathon', datetime.date(2021, 3, 7)), (71, 'Tokyo Marathon', datetime.date(2022, 3, 6)), (72, 'Tokyo Marathon', datetime.date(2023, 3, 5))]

In [21]:
# Generate Results Table
results = []
assigned_pairs = set()  # Set to keep track of assigned (runner_id, event_id) pairs

In [22]:
assigned_pairs = set()

# World record times in hours: minutes: seconds
mens_world_record = 2 + 0 + 35/3600   # 2:00:35 Eliud Kipchoge Marathon 2023 WR 
womens_world_record = 2 + 11/60 + 53/3600  # 2:11:53 Brigid Kosgei 2019 WR

for i in range(1, num_results + 1):
    # Limit the number of attempts to find a unique (runner_id, event_id) pair
    attempts = 0
    max_attempts = 100  # Adjust this number as needed
    unique_pair_found = False
    
    while attempts < max_attempts:
        runner_id = random.randint(1, num_runners)
        event_id = ((i - 1) % num_events) + 1
        
        if (runner_id, event_id) not in assigned_pairs:
            assigned_pairs.add((runner_id, event_id))  # Record the (runner_id, event_id) pair
            unique_pair_found = True
            break
        
        attempts += 1
    
    if not unique_pair_found:
        print(f"Could not find a unique (runner_id, event_id) pair after {max_attempts} attempts. Exiting loop.")
        break
    
    # Get the runner details
    runner = next(r for r in runners if r[0] == runner_id)
    finish_time = random_time()
    position = random.randint(1, 5000)
    category = runner[4]  # Use the runner's category from the runners table
    is_elite = 'False'
    
    # Convert finish_time to hours (float)
    hours = int(finish_time[:2]) + int(finish_time[3:5])/60 + int(finish_time[6:])/3600  # Assumes 'HH:MM:SS' format
    
    # Adjust finish time if it breaks the world record
    if category == 'Male' and hours < mens_world_record:
        finish_time = "02:01:10"  # Slightly slower than the men's world record
    elif category == 'Female' and hours < womens_world_record:
        finish_time = "02:11:54"  # Slightly slower than the women's world record
    
    # Determine if the runner's finish time is elite
    if category == 'Male' and hours < 2.15:
        is_elite = 'True'
    elif category == 'Female' and hours < 2.30:
        is_elite = 'True'
    
    results.append((
        i,
        event_id,
        runner_id,
        finish_time,
        position,
        category,
        is_elite
    ))

# Check results
for result in results[:100]:
    print(result[:10])

Could not find a unique (runner_id, event_id) pair after 100 attempts. Exiting loop.
(1, 1, 17, '05:48:19', 869, 'Male', 'False')
(2, 2, 24, '05:50:22', 3725, 'Male', 'False')
(3, 3, 4, '02:55:26', 4983, 'Male', 'False')
(4, 4, 70, '02:47:49', 1741, 'Female', 'False')
(5, 5, 35, '04:09:33', 2008, 'Male', 'False')
(6, 6, 86, '04:28:42', 4362, 'Female', 'False')
(7, 7, 69, '03:44:18', 4217, 'Male', 'False')
(8, 8, 45, '02:05:39', 4375, 'Male', 'True')
(9, 9, 45, '02:09:20', 3227, 'Male', 'False')
(10, 10, 18, '03:51:34', 1654, 'Male', 'False')
(11, 11, 81, '02:40:29', 4865, 'Male', 'False')
(12, 12, 11, '04:36:46', 1674, 'Female', 'False')
(13, 1, 55, '02:15:50', 911, 'Male', 'False')
(14, 2, 95, '05:09:16', 4537, 'Male', 'False')
(15, 3, 95, '02:55:28', 4062, 'Male', 'False')
(16, 4, 24, '02:01:32', 360, 'Male', 'True')
(17, 5, 62, '02:24:14', 4783, 'Male', 'False')
(18, 6, 89, '03:19:08', 559, 'Male', 'False')
(19, 7, 21, '05:59:51', 4589, 'Female', 'False')
(20, 8, 46, '05:28:12', 3119, 'Male', 'False')
(21, 9, 64, '03:13:42', 4895, 'Male', 'False')
(22, 10, 94, '04:11:06', 353, 'Male', 'False')
(23, 11, 68, '02:31:30', 1278, 'Male', 'False')
(24, 12, 6, '03:10:59', 822, 'Male', 'False')
(25, 1, 21, '03:22:20', 1767, 'Female', 'False')
(26, 2, 93, '02:18:42', 4995, 'Male', 'False')
(27, 3, 100, '02:08:59', 2785, 'Male', 'True')
(28, 4, 31, '04:47:47', 2588, 'Female', 'False')
(29, 5, 100, '05:32:03', 2742, 'Male', 'False')
(30, 6, 17, '04:39:11', 686, 'Male', 'False')
(31, 7, 18, '02:31:17', 535, 'Male', 'False')
(32, 8, 7, '04:56:30', 4332, 'Female', 'False')
(33, 9, 5, '04:17:20', 4077, 'Female', 'False')
(34, 10, 55, '05:32:33', 3726, 'Male', 'False')
(35, 11, 72, '05:55:56', 1114, 'Male', 'False')
(36, 12, 37, '05:59:06', 1403, 'Male', 'False')
(37, 1, 63, '02:50:49', 2904, 'Female', 'False')
(38, 2, 50, '04:05:18', 1940, 'Female', 'False')
(39, 3, 48, '03:15:24', 2346, 'Male', 'False')
(40, 4, 40, '05:26:51', 4354, 'Female', 'False')
(41, 5, 47, '02:32:24', 2443, 'Male', 'False')
(42, 6, 16, '03:48:33', 4421, 'Male', 'False')
(43, 7, 57, '04:42:37', 1859, 'Female', 'False')
(44, 8, 61, '04:39:02', 166, 'Female', 'False')
(45, 9, 66, '02:25:56', 2632, 'Male', 'False')
(46, 10, 27, '03:31:17', 3754, 'Male', 'False')
(47, 11, 92, '04:38:53', 4672, 'Female', 'False')
(48, 12, 52, '04:38:46', 4766, 'Male', 'False')
(49, 1, 38, '05:39:37', 3883, 'Male', 'False')
(50, 2, 98, '02:48:35', 3976, 'Male', 'False')
(51, 3, 3, '02:16:45', 4376, 'Male', 'False')
(52, 4, 20, '05:23:51', 1588, 'Male', 'False')
(53, 5, 83, '02:29:38', 2367, 'Male', 'False')
(54, 6, 15, '03:28:55', 4288, 'Male', 'False')
(55, 7, 79, '05:20:46', 977, 'Male', 'False')
(56, 8, 85, '04:59:20', 2013, 'Male', 'False')
(57, 9, 87, '05:58:14', 981, 'Male', 'False')
(58, 10, 13, '04:31:20', 2648, 'Female', 'False')
(59, 11, 87, '04:46:04', 2104, 'Male', 'False')
(60, 12, 66, '05:14:57', 833, 'Male', 'False')
(61, 1, 66, '04:00:55', 316, 'Male', 'False')
(62, 2, 80, '05:54:39', 2706, 'Female', 'False')
(63, 3, 85, '05:36:34', 2244, 'Male', 'False')
(64, 4, 93, '05:00:38', 3993, 'Male', 'False')
(65, 5, 74, '02:32:10', 4999, 'Male', 'False')
(66, 6, 72, '02:09:48', 392, 'Male', 'False')
(67, 7, 74, '05:37:50', 2406, 'Male', 'False')
(68, 8, 43, '02:42:09', 663, 'Male', 'False')
(69, 9, 4, '02:08:21', 4202, 'Male', 'True')
(70, 10, 100, '02:06:17', 4915, 'Male', 'True')
(71, 11, 75, '03:55:57', 3610, 'Male', 'False')
(72, 12, 22, '03:25:55', 949, 'Male', 'False')
(73, 1, 24, '03:02:37', 4301, 'Male', 'False')
(74, 2, 23, '05:55:51', 4065, 'Male', 'False')
(75, 3, 43, '02:26:58', 1996, 'Male', 'False')
(76, 4, 83, '03:57:06', 4395, 'Male', 'False')
(77, 5, 79, '05:18:51', 4368, 'Male', 'False')
(78, 6, 77, '02:32:09', 3077, 'Male', 'False')
(79, 7, 83, '04:10:55', 2966, 'Male', 'False')
(80, 8, 83, '04:08:49', 2083, 'Male', 'False')
(81, 9, 37, '04:51:28', 3878, 'Male', 'False')
(82, 10, 67, '02:54:52', 1884, 'Female', 'False')
(83, 11, 23, '03:53:07', 1949, 'Male', 'False')
(84, 12, 62, '05:17:54', 1968, 'Male', 'False')
(85, 1, 18, '04:05:31', 3835, 'Male', 'False')
(86, 2, 27, '02:33:06', 2097, 'Male', 'False')
(87, 3, 91, '04:26:52', 58, 'Female', 'False')
(88, 4, 34, '02:51:07', 2237, 'Male', 'False')
(89, 5, 27, '02:36:28', 1204, 'Male', 'False')
(90, 6, 69, '05:11:28', 916, 'Male', 'False')
(91, 7, 54, '03:45:36', 1612, 'Male', 'False')
(92, 8, 16, '02:54:23', 1131, 'Male', 'False')
(93, 9, 78, '05:53:35', 4059, 'Male', 'False')
(94, 10, 65, '05:06:23', 2300, 'Male', 'False')
(95, 11, 43, '04:27:40', 3961, 'Male', 'False')
(96, 12, 54, '02:13:53', 4197, 'Male', 'False')
(97, 1, 93, '03:03:50', 3537, 'Male', 'False')
(98, 2, 44, '03:42:33', 1812, 'Male', 'False')
(99, 3, 70, '05:16:40', 1738, 'Female', 'False')
(100, 4, 91, '03:37:42', 4112, 'Female', 'False')

In [23]:
# Verify that no runner has participated in the same event more than once
duplicates = [(runner_id, event_id) for (runner_id, event_id) in assigned_pairs]
if len(duplicates) != len(assigned_pairs):
    print("Error: A runner has participated in the same event more than once.")
else:
    print("Verification passed: No runner has participated in the same event more than once.")

Verification passed: No runner has participated in the same event more than once.

In [24]:
# Identify elite runners based on the 'results' table
elite_runners = [runner_id for runner_id, _, _, _, _, _, is_elite in results if is_elite == 'True']

In [25]:
print(elite_runners)

[8, 16, 27, 69, 70, 120, 158, 197, 251, 279, 288, 300, 310, 313, 331, 341, 384, 389, 398, 424, 428, 436, 460, 497, 500, 503, 532, 533, 535, 548, 561, 643, 656, 660, 665, 695, 715, 718, 731, 791, 823, 826, 853, 870, 903, 910, 912, 922, 932, 1001, 1035, 1047, 1049, 1053, 1069, 1081, 1104, 1122]

In [26]:
# Generate Sponsors Table 
sponsors = [
    "Nike", "Adidas", "Asics", "Saucony", "Hoka",
    "Brooks", "New Balance", "Puma", "Under Armour", "Tracksmith"
]

# Select 50% of elite runners to have sponsors
sponsored_runners = random.sample(elite_runners, len(elite_runners) // 2)

# Generate Sponsors Athletes Table
sponsored_athletes = []
used_sponsors = set()  # To keep track of assigned sponsors

for i, runner_id in enumerate(sponsored_runners, start=1):
    sponsor_name = random.choice(sponsors)
    
    # Ensure the runner doesn't already have a sponsor
    while runner_id in used_sponsors:
        runner_id = random.choice(sponsored_runners)
    
    sponsored_athletes.append((
        i,
        sponsor_name,
        runner_id
    ))
    
    # Mark this runner as having a sponsor
    used_sponsors.add(runner_id)

# Verification code to check if any runner appears more than once
runner_ids = [data[2] for data in sponsored_athletes]
duplicate_runners = set([runner_id for runner_id in runner_ids if runner_ids.count(runner_id) > 1])

if len(duplicate_runners) == 0:
    print("Verification Passed: No runner appears more than once in the sponsors table.")
else:
    print(f"Verification Failed: The following runners have multiple sponsors: {duplicate_runners}")

Verification Passed: No runner appears more than once in the sponsors table.

In [27]:
print(sponsored_athletes)

[(1, 'Nike', 853), (2, 'Asics', 912), (3, 'Under Armour', 300), (4, 'Puma', 398), (5, 'Nike', 197), (6, 'Hoka', 910), (7, 'Brooks', 428), (8, 'New Balance', 341), (9, 'Adidas', 384), (10, 'Brooks', 870), (11, 'Tracksmith', 69), (12, 'Brooks', 1001), (13, 'Adidas', 903), (14, 'Brooks', 288), (15, 'Brooks', 826), (16, 'Asics', 548), (17, 'Brooks', 1081), (18, 'Under Armour', 561), (19, 'Tracksmith', 331), (20, 'Tracksmith', 731), (21, 'Brooks', 932), (22, 'Hoka', 310), (23, 'Brooks', 389), (24, 'Puma', 660), (25, 'Adidas', 8), (26, 'Puma', 158), (27, 'Saucony', 313), (28, 'Saucony', 1047), (29, 'Nike', 279)]

In [28]:
# Generate Sponsors Table
sponsors = [
    (1, "Nike"),
    (2, "Adidas"),
    (3, "Asics"),
    (4, "Saucony"),
    (5, "Hoka"),
    (6, "Brooks"),
    (7, "New Balance"),
    (8, "Puma"),
    (9, "Under Armour"),
    (10, "Tracksmith")
]
print(sponsors)

[(1, 'Nike'), (2, 'Adidas'), (3, 'Asics'), (4, 'Saucony'), (5, 'Hoka'), (6, 'Brooks'), (7, 'New Balance'), (8, 'Puma'), (9, 'Under Armour'), (10, 'Tracksmith')]

In [29]:
training_plan_durations = {
    "Beginner Marathon Plan: 16-week build-up": 16,
    "Intermediate Marathon Plan: 12-week build-up": 12,
    "Advanced Marathon Plan: 18-week build-up": 18,
    "Elite Marathon Plan: 24-week build-up": 24,
    "5K to Marathon Transition Plan: 20-week build-up": 20,
    "Half-Marathon to Marathon Plan: 14-week build-up": 14,
    "Strength and Conditioning Focus Plan: 10-week build-up": 10,
    "Speed Work Focus Plan: 12-week build-up": 12,
    "Long Distance Endurance Focus Plan: 22-week build-up": 22,
    "Customized Marathon Plan: 16-week build-up": 16
}

In [30]:
# Generate Training Plan Descriptions Table
training_plan_descriptions_table = []
plan_id = 1

for plan_description, plan_length_weeks in training_plan_durations.items():
    training_plan_descriptions_table.append((
        plan_id,  # Primary Key
        plan_description,
        plan_length_weeks
    ))
    plan_id += 1


print(training_plan_descriptions_table[:10])

[(1, 'Beginner Marathon Plan: 16-week build-up', 16), (2, 'Intermediate Marathon Plan: 12-week build-up', 12), (3, 'Advanced Marathon Plan: 18-week build-up', 18), (4, 'Elite Marathon Plan: 24-week build-up', 24), (5, '5K to Marathon Transition Plan: 20-week build-up', 20), (6, 'Half-Marathon to Marathon Plan: 14-week build-up', 14), (7, 'Strength and Conditioning Focus Plan: 10-week build-up', 10), (8, 'Speed Work Focus Plan: 12-week build-up', 12), (9, 'Long Distance Endurance Focus Plan: 22-week build-up', 22), (10, 'Customized Marathon Plan: 16-week build-up', 16)]

In [55]:
# Set the percentage of results that will have an associated training plan
percentage_with_plan = 0.75  # 75% of results will have a training plan

# Generate Training Plans Table
training_plans = []
plan_id = 1

# Create a lookup dictionary to get the ID based on the description
description_to_id = {description: plan_id for plan_id, description, _ in training_plan_descriptions_table}

# To track which (runner_id, event_id) pairs already have training plans
assigned_training_plans = set()

for result in results:
    runner_id = result[2]  # runner_id from the results table
    event_id = result[1]   # event_id from the results table
    event_date = next(event[2] for event in events if event[0] == event_id)  # Get event date from events
    
    # Skip if the runner already has a training plan for this event
    if (runner_id, event_id) in assigned_training_plans:
        continue
    
    # Decide if this result should have a training plan based on the percentage
    if random.random() < percentage_with_plan:
        # Randomly select a training plan description
        plan_description = random.choice(list(training_plan_durations.keys()))
        
        # Get the duration of the training plan in weeks
        plan_length_weeks = training_plan_durations[plan_description]
        
        # Calculate the start date
        start_date = event_date - datetime.timedelta(weeks=plan_length_weeks)
        
        # Get the plan_id from the description_to_id dictionary
        plan_id_ref = description_to_id[plan_description]
        
        # Append the training plan to the list
        training_plans.append((
            plan_id,  # Primary Key
            runner_id,
            event_id,  # Foreign key referencing the Events table
            start_date,
            event_date,
            plan_id_ref  # Reference the plan by ID
        ))
        
        # Mark this (runner_id, event_id) pair as having a training plan
        assigned_training_plans.add((runner_id, event_id))
        
        plan_id += 1

# Check the number of training plans created
print(f"Total training plans created: {len(training_plans)}")

Total training plans created: 878

In [57]:
from collections import defaultdict

# Create a dictionary to track (runner_id, event_id) combinations
runner_event_count = defaultdict(int)

# Populate the dictionary with counts
for plan in training_plans:
    runner_id = plan[1]  # runner_id
    event_id = plan[2]   # event_id
    runner_event_count[(runner_id, event_id)] += 1

# Identify duplicates
duplicate_plans = [(runner_id, event_id) for (runner_id, event_id), count in runner_event_count.items() if count > 1]

# Verification
if len(duplicate_plans) == 0:
    print("Verification Passed: No runner has more than one training plan per event.")
else:
    print(f"Verification Failed: The following (runner_id, event_id) pairs have multiple training plans: {duplicate_plans}")

Verification Passed: No runner has more than one training plan per event.

In [ ]:
print(training_plans[:10])

## Making a function to generate SQL insert statements, generating SQL statements, and combining all SQL scripts

In [ ]:
# Function to generate SQL insert statements
def generate_sql_inserts(table_name, columns, data):
    sql = f"INSERT INTO {table_name} ({', '.join(columns)}) VALUES\n"
    values = []
    for row in data:
        formatted_values = ', '.join([f"'{str(v)}'" if isinstance(v, str) or isinstance(v, datetime.date) else str(v) for v in row])
        values.append(f"({formatted_values})")
    sql += ',\n'.join(values) + ";\n"
    return sql

In [ ]:
# Generate SQL statements
runner_columns = ['runner_id', 'first_name', 'last_name', 'date_of_birth','sex', 'country']
event_columns = ['event_id', 'event', 'event_date']
result_columns = ['result_id', 'event_id', 'runner_id', 'finish_time', 'position', 'sex','is_elite']
sponsor_columns = ['sponsor_id', 'sponsor_name']
sponsored_athletes_columns = ['sponsor_id', 'sponsor_name', 'runner_id']
training_plan_columns = ['id', 'runner_id', 'start_date', 'end_date', 'plan_id']
training_plan_descriptions_columns = ['plan_id','plan_description','plan_length_weeks']


sql_runners = generate_sql_inserts('Runners', runner_columns, runners)
sql_events = generate_sql_inserts('Events', event_columns, events)
sql_results = generate_sql_inserts('Results', result_columns, results)
sql_sponsors = generate_sql_inserts('Sponsors', sponsor_columns, sponsors)
sql_sponsored_athletes = generate_sql_inserts('Sponsored_Athletes', sponsored_athletes_columns, sponsored_athletes)
sql_training_plans = generate_sql_inserts('Training_Plans', training_plan_columns, training_plans)
sql_training_plan_descriptions_table = generate_sql_inserts('Training_Plans_Descriptions', training_plan_descriptions_columns,training_plan_descriptions_table)

In [ ]:
print(sql_runners[:500])

In [ ]:
# Combine all SQL scripts
sql_script = sql_runners + sql_events + sql_results + sql_sponsors + sql_training_plans + sql_sponsored_athletes + sql_training_plan_descriptions_table

In [ ]:
print(sql_script[:500])

In [ ]:
with open("create_Marathon_results_database.sql", "w") as file:
    file.write(sql_script)